In [1]:
import pandas as pd

In [4]:
list_of_dfs = pd.read_html('https://www.minneapolisfed.org/about-us/monetary-policy/inflation-calculator/consumer-price-index-1913-')
len(list_of_dfs)

1

In [6]:
cpi_df = list_of_dfs[0]
cpi_df.head(10)

   Year  Annual Average CPI(-U) Annual Percent Change  (rate of inflation)
0  1913                     9.9                                        NaN
1  1914                    10.0                                       1.3%
2  1915                    10.1                                       0.9%
3  1916                    10.9                                       7.7%
4  1917                    12.8                                      17.8%
5  1918                    15.0                                      17.3%
6  1919                    17.3                                      15.2%
7  1920                    20.0                                      15.6%
8  1921                    17.9                                     -10.9%
9  1922                    16.8                                      -6.2%

In [7]:
cpi_df.tail(10)

      Year  Annual Average CPI(-U) Annual Percent Change  (rate of inflation)
101   2014                   236.7                                       1.6%
102   2015                   237.0                                       0.1%
103   2016                   240.0                                       1.3%
104   2017                   245.1                                       2.1%
105   2018                   251.1                                       2.4%
106   2019                   255.7                                       1.8%
107   2020                   258.8                                       1.2%
108   2021                   271.0                                       4.7%
109   2022                   292.7                                       8.0%
110  2023*                   304.3                                       4.0%

In [8]:
cpi_df.to_csv('Data/Annual_avg_CPI.csv',index=False)