In [1]:
#import libraries

import numpy as np
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup as soup

In [2]:
# Set URL as a variable
url = 'https://nces.ed.gov/programs/digest/d95/dtab077.asp'

# Use requests.post becuase it'll pull data after the webpage has loaded
r=requests.post(url)

# create a "soup" object 
data = soup(r.text, 'html.parser')

In [3]:
# Identify element tag with target data
data.select('table td pre')[0]

<pre style="text-align:left; padding-left:4px">____________________________________________________________________________________________________________________________________________________________
                      |                                                                   |                                                      | Percent
                      |                    Current dollars                                |                 Constant 1994-95 dollars\1\          | change,
                      |                                                                   |                                                      |1979-80 to
        State         |___________________________________________________________________|______________________________________________________|1994-95 in
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |constant
                      |1969-70|1979-80 |1989-90 |1991-92 |1992-93 |   1993-94 |   1994-95 |1969-70 |1979-80 |1989-90 |1991-92 |1992-93 | 1993-94 | dollars
______________________|_______|________|________|________|________|___________|___________|________|________|________|________|________|_________|__________
          1           |   2   |   3    |   4    |   5    |   6    |   7       |   8       |   9    |   10   |   11   |   12   |   13   |   14    |    15
______________________|_______|________|________|________|________|___________|___________|________|________|________|________|________|_________|__________
   United States .....|$8,626 |$15,970 |$31,367 |$34,063 |$35,029 |\2\$35,819 |\2\$36,933 |$34,346 |$30,941 |$37,156 |$37,070 |$36,966 | $36,846 |     19.4
                      |_______|________|________|________|________|___________|___________|________|________|________|________|________|_________|__________
Alabama ..............| 6,818 | 13,060 | 24,828 | 26,971 | 26,953 |    28,705 |    31,144 | 27,147 | 25,303 | 29,410 | 29,352 | 28,444 |  29,528 |     23.1
Alaska ...............|10,560 | 27,210 | 43,153 | 44,661 | 46,701 |    47,512 |    47,951 | 42,047 | 52,717 | 51,117 | 48,603 | 49,284 |  48,874 |     -9.0
Arizona ..............| 8,711 | 15,054 | 29,402 | 31,176 | 31,352 |    31,800 |\2\ 32,090 | 34,684 | 29,166 | 34,828 | 33,928 | 33,086 |  32,711 |     10.0
Arkansas .............| 6,307 | 12,299 | 22,352 | 27,070 | 27,433 |    28,098 |    28,409 | 25,112 | 23,828 | 26,477 | 29,460 | 28,950 |  28,903 |     19.2
California ...........|10,315 | 18,020 | 37,998 | 39,922 | 40,035 |    40,264 |\2\ 40,667 | 41,071 | 34,912 | 45,010 | 43,446 | 42,249 |  41,418 |     16.5
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
Colorado .............| 7,761 | 16,205 | 30,758 | 33,072 | 33,541 |    33,826 |    34,571 | 30,902 | 31,396 | 36,434 | 35,991 | 35,396 |  34,796 |     10.1
Connecticut ..........| 9,262 | 16,229 | 40,461 | 46,971 | 48,343 |    49,769 |    51,300 | 36,878 | 31,442 | 47,928 | 51,117 | 51,017 |  51,196 |     63.2
Delaware .............| 9,015 | 16,148 | 33,377 | 34,548 | 36,217 |    37,469 |    39,076 | 35,895 | 31,286 | 39,537 | 37,598 | 38,220 |  38,543 |     24.9
District of Columbia .|10,285 | 22,190 | 38,402 | 38,798 | 38,702 |    42,543 |    42,959 | 40,952 | 42,991 | 45,489 | 42,223 | 40,843 |  43,762 |     -0.1
Florida ..............| 8,412 | 14,149 | 28,803 | 31,070 | 31,172 |    31,944 |    32,588 | 33,494 | 27,413 | 34,119 | 33,813 | 32,896 |  32,860 |     18.9
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
Georgia ..............| 7,276 | 13,853 | 28,006 | 29,372 | 30,223 |    30,712 |    32,828 | 28,971 | 26,839 | 33,174 | 31,965 | 31,895 |  31,592 |     22.3
Hawaii ...............| 9,453 | 19,920 | 32,047 | 34,528 | 36,470 |    36,564 |    38,518 | 37,639 | 38,593 | 37,961 | 37,576 | 38,487 |  37,612 |     -0.2
Idaho ................| 6,890 | 13,611 | 23,861 | 26,334 | 27,011 |    27,756 |    29,783 | 27,434 | 26,370 | 28,265 | 28,659 | 28,505 |  28,552 |     12.9
Illinois .............| 9,569 | 17,601 | 32,794 | 36,461 | 38,632 |    39,387 |    41,041 | 38,101 | 34,101 | 38,846 | 39,680 | 40,769 |  40,516 |     20.4
Indiana...............| 8,833 | 15,599 | 30,902 | 34,006 | 35,066 |    35,712 |\2\ 36,516 | 35,170 | 30,222 | 36,605 | 37,008 | 37,005 |  36,736 |     20.8
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
Iowa .................| 8,355 | 15,203 | 26,747 | 29,202 | 30,130 |    30,760 |    31,511 | 33,267 | 29,455 | 31,683 | 31,780 | 31,796 |  31,642 |      7.0
Kansas ...............| 7,612 | 13,690 | 28,744 | 30,731 | 32,863 |    33,919 |    34,936 | 30,309 | 26,523 | 34,049 | 33,444 | 34,681 |  34,891 |     31.7
Kentucky .............| 6,953 | 14,520 | 26,292 | 30,870 | 31,115 |    31,625 |    32,257 | 27,685 | 28,131 | 31,144 | 33,595 | 32,836 |  32,531 |     14.7
Louisiana ............| 7,028 | 13,760 | 24,300 | 25,963 | 26,102 |    26,285 |    26,574 | 27,983 | 26,659 | 28,785 | 28,255 | 27,546 |  27,038 |     -0.3
Maine ................| 7,572 | 13,071 | 26,881 | 30,097 | 30,250 |    30,996 |    31,856 | 30,149 | 25,324 | 31,842 | 32,754 | 31,923 |  31,884 |     25.8
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
Maryland .............| 9,383 | 17,558 | 36,319 | 38,728 | 38,753 |    39,453 |    40,636 | 37,360 | 34,017 | 43,022 | 42,147 | 40,896 |  40,584 |     19.5
Massachusetts ........| 8,764 | 17,253 | 34,712 | 37,845 | 38,774 |    40,852 |\2\ 42,078 | 34,895 | 33,426 | 41,118 | 41,186 | 40,919 |  42,023 |     25.9
Michigan .............| 9,826 | 19,663 | 37,072 | 41,490 | 43,901 |\2\ 45,186 |\2\ 47,412 | 39,124 | 38,096 | 43,914 | 45,152 | 46,329 |  46,481 |     24.5
Minnesota ............| 8,658 | 15,912 | 32,190 | 34,451 | 35,093 |    36,146 |    37,412 | 34,473 | 30,828 | 38,131 | 37,492 | 37,034 |  37,182 |     21.4
Mississippi ..........| 5,798 | 11,850 | 24,292 | 24,367 | 24,367 |    25,153 |    26,910 | 23,086 | 22,958 | 28,775 | 26,518 | 25,715 |  25,874 |     17.2
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
Missouri..............| 7,799 | 13,682 | 27,094 | 28,895 | 29,382 |    30,310 |    31,217 | 31,053 | 26,508 | 32,094 | 31,446 | 31,007 |  31,179 |     17.8
Montana ..............| 7,606 | 14,537 | 25,081 | 27,590 | 27,617 |    28,200 |    28,785 | 30,285 | 28,164 | 29,710 | 30,025 | 29,144 |  29,008 |      2.2
Nebraska .............| 7,375 | 13,516 | 25,522 | 27,231 | 28,768 |    29,564 |    30,822 | 29,365 | 26,186 | 30,232 | 29,635 | 30,359 |  30,411 |     17.7
Nevada ...............| 9,215 | 16,295 | 30,590 | 33,857 | 34,119 |    33,955 |    34,836 | 36,691 | 31,570 | 36,235 | 36,846 | 36,006 |  34,928 |     10.3
New Hampshire ........| 7,771 | 13,017 | 28,986 | 33,170 | 33,931 |    34,121 |\2\ 34,974 | 30,942 | 25,219 | 34,335 | 36,098 | 35,808 |  35,099 |     38.7
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
New Jersey ...........| 9,130 | 17,161 | 35,676 | 41,027 | 42,680 |    44,693 |    46,801 | 36,353 | 33,248 | 42,260 | 44,649 | 45,041 |  45,974 |     40.8
New Mexico ...........| 7,796 | 14,887 | 24,756 | 26,239 | 26,532 |    27,922 |    28,865 | 31,041 | 28,842 | 29,325 | 28,555 | 27,999 |  28,722 |      0.1
New York .............|10,336 | 19,812 | 38,925 | 43,335 | 44,999 |    45,772 |    47,250 | 41,155 | 38,384 | 46,109 | 47,160 | 47,488 |  47,084 |     23.1
North Carolina .......| 7,494 | 14,117 | 27,883 | 28,791 | 29,315 |    29,728 |    31,079 | 29,839 | 27,351 | 33,029 | 31,332 | 30,936 |  30,580 |     13.6
North Dakota .........| 6,696 | 13,263 | 23,016 | 24,495 | 25,211 |    25,506 |    26,327 | 26,661 | 25,696 | 27,264 | 26,657 | 26,605 |  26,237 |      2.5
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
Ohio .................| 8,300 | 15,269 | 31,218 | 32,932 | 34,519 |    35,678 |    36,685 | 33,048 | 29,583 | 36,979 | 35,839 | 36,428 |  36,701 |     24.0
Oklahoma .............| 6,882 | 13,107 | 23,070 | 25,339 | 25,918 |    27,009 |    27,971 | 27,402 | 25,394 | 27,328 | 27,576 | 27,352 |  27,783 |     10.1
Oregon ...............| 8,818 | 16,266 | 30,840 | 34,100 | 35,880 |    37,590 |    38,700 | 35,110 | 31,514 | 36,531 | 37,110 | 37,865 |  38,667 |     22.8
Pennsylvania .........| 8,858 | 16,515 | 33,338 | 38,715 | 41,215 |    42,411 |    44,489 | 35,270 | 31,997 | 39,490 | 42,132 | 43,495 |  43,627 |     39.0
Rhode Island .........| 8,776 | 18,002 | 36,057 | 36,417 | 37,933 |    39,261 |    40,729 | 34,943 | 34,877 | 42,711 | 39,632 | 40,031 |  40,386 |     16.8
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
South Carolina .......| 6,927 | 13,063 | 27,217 | 28,068 | 29,224 |    29,566 |    30,341 | 27,581 | 25,309 | 32,240 | 30,546 | 30,840 |  30,413 |     19.9
South Dakota .........| 6,403 | 12,348 | 21,300 | 23,291 | 24,289 |    25,259 |\2\ 26,017 | 25,495 | 23,923 | 25,231 | 25,347 | 25,632 |  25,983 |      8.8
Tennessee ............| 7,050 | 13,972 | 27,052 | 28,621 | 28,960 |    30,514 |    31,270 | 28,071 | 27,070 | 32,044 | 31,147 | 30,562 |  31,389 |     15.5
Texas ................| 7,255 | 14,132 | 27,496 | 29,041 | 29,935 |    30,519 |    31,310 | 28,887 | 27,380 | 32,570 | 31,605 | 31,591 |  31,394 |     14.4
Utah .................| 7,644 | 14,909 | 23,686 | 26,339 | 27,239 |    27,706 |    28,676 | 30,436 | 28,885 | 28,057 | 28,664 | 28,746 |  28,500 |     -0.7
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
Vermont ..............| 7,968 | 12,484 | 29,012 | 33,646 | 34,824 |    34,517 |\2\ 36,311 | 31,726 | 24,187 | 34,366 | 36,616 | 36,750 |  35,506 |     50.1
Virginia .............| 8,070 | 14,060 | 30,938 | 31,764 | 33,212 |    33,009 |    33,753 | 32,132 | 27,240 | 36,648 | 34,568 | 35,049 |  33,955 |     23.9
Washington ...........| 9,225 | 18,820 | 30,457 | 34,823 | 35,759 |    35,863 |    36,120 | 36,731 | 36,462 | 36,078 | 37,897 | 37,737 |  36,891 |     -0.9
West Virginia.........| 7,650 | 13,710 | 22,842 | 27,366 | 30,301 |    30,549 |    31,923 | 30,460 | 26,562 | 27,057 | 29,782 | 31,977 |  31,425 |     20.2
Wisconsin ............| 8,963 | 16,006 | 31,921 | 35,227 | 35,926 |    35,990 |\2\ 37,349 | 35,688 | 31,010 | 37,812 | 38,337 | 37,913 |  37,022 |     20.4
Wyoming ..............| 8,232 | 16,012 | 28,141 | 30,425 | 30,080 |    30,952 |    31,300 | 32,777 | 31,022 | 33,334 | 33,111 | 31,744 |  31,839 |      0.9
______________________|_______|________|________|________|________|___________|___________|________|________|________|________|________|_________|__________
</pre>

In [4]:
# Our data of interest is the text that is formatted like a table
# Select that data and return as text
doi= data.select('table td pre')[0].text
print(doi)

____________________________________________________________________________________________________________________________________________________________
                      |                                                                   |                                                      | Percent
                      |                    Current dollars                                |                 Constant 1994-95 dollars\1\          | change,
                      |                                                                   |                                                      |1979-80 to
        State         |___________________________________________________________________|______________________________________________________|1994-95 in
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |constant
                      |1969-70|1979-80 |1989-90 |1991-92 |1992-93 |   1993-94 |   1994-95 |1969-70 |1979-80 |1989-90 |1991-92 |1992-93 | 1993-94 | dollars
______________________|_______|________|________|________|________|___________|___________|________|________|________|________|________|_________|__________
          1           |   2   |   3    |   4    |   5    |   6    |   7       |   8       |   9    |   10   |   11   |   12   |   13   |   14    |    15
______________________|_______|________|________|________|________|___________|___________|________|________|________|________|________|_________|__________
   United States .....|$8,626 |$15,970 |$31,367 |$34,063 |$35,029 |\2\$35,819 |\2\$36,933 |$34,346 |$30,941 |$37,156 |$37,070 |$36,966 | $36,846 |     19.4
                      |_______|________|________|________|________|___________|___________|________|________|________|________|________|_________|__________
Alabama ..............| 6,818 | 13,060 | 24,828 | 26,971 | 26,953 |    28,705 |    31,144 | 27,147 | 25,303 | 29,410 | 29,352 | 28,444 |  29,528 |     23.1
Alaska ...............|10,560 | 27,210 | 43,153 | 44,661 | 46,701 |    47,512 |    47,951 | 42,047 | 52,717 | 51,117 | 48,603 | 49,284 |  48,874 |     -9.0
Arizona ..............| 8,711 | 15,054 | 29,402 | 31,176 | 31,352 |    31,800 |\2\ 32,090 | 34,684 | 29,166 | 34,828 | 33,928 | 33,086 |  32,711 |     10.0
Arkansas .............| 6,307 | 12,299 | 22,352 | 27,070 | 27,433 |    28,098 |    28,409 | 25,112 | 23,828 | 26,477 | 29,460 | 28,950 |  28,903 |     19.2
California ...........|10,315 | 18,020 | 37,998 | 39,922 | 40,035 |    40,264 |\2\ 40,667 | 41,071 | 34,912 | 45,010 | 43,446 | 42,249 |  41,418 |     16.5
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
Colorado .............| 7,761 | 16,205 | 30,758 | 33,072 | 33,541 |    33,826 |    34,571 | 30,902 | 31,396 | 36,434 | 35,991 | 35,396 |  34,796 |     10.1
Connecticut ..........| 9,262 | 16,229 | 40,461 | 46,971 | 48,343 |    49,769 |    51,300 | 36,878 | 31,442 | 47,928 | 51,117 | 51,017 |  51,196 |     63.2
Delaware .............| 9,015 | 16,148 | 33,377 | 34,548 | 36,217 |    37,469 |    39,076 | 35,895 | 31,286 | 39,537 | 37,598 | 38,220 |  38,543 |     24.9
District of Columbia .|10,285 | 22,190 | 38,402 | 38,798 | 38,702 |    42,543 |    42,959 | 40,952 | 42,991 | 45,489 | 42,223 | 40,843 |  43,762 |     -0.1
Florida ..............| 8,412 | 14,149 | 28,803 | 31,070 | 31,172 |    31,944 |    32,588 | 33,494 | 27,413 | 34,119 | 33,813 | 32,896 |  32,860 |     18.9
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
Georgia ..............| 7,276 | 13,853 | 28,006 | 29,372 | 30,223 |    30,712 |    32,828 | 28,971 | 26,839 | 33,174 | 31,965 | 31,895 |  31,592 |     22.3
Hawaii ...............| 9,453 | 19,920 | 32,047 | 34,528 | 36,470 |    36,564 |    38,518 | 37,639 | 38,593 | 37,961 | 37,576 | 38,487 |  37,612 |     -0.2
Idaho ................| 6,890 | 13,611 | 23,861 | 26,334 | 27,011 |    27,756 |    29,783 | 27,434 | 26,370 | 28,265 | 28,659 | 28,505 |  28,552 |     12.9
Illinois .............| 9,569 | 17,601 | 32,794 | 36,461 | 38,632 |    39,387 |    41,041 | 38,101 | 34,101 | 38,846 | 39,680 | 40,769 |  40,516 |     20.4
Indiana...............| 8,833 | 15,599 | 30,902 | 34,006 | 35,066 |    35,712 |\2\ 36,516 | 35,170 | 30,222 | 36,605 | 37,008 | 37,005 |  36,736 |     20.8
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
Iowa .................| 8,355 | 15,203 | 26,747 | 29,202 | 30,130 |    30,760 |    31,511 | 33,267 | 29,455 | 31,683 | 31,780 | 31,796 |  31,642 |      7.0
Kansas ...............| 7,612 | 13,690 | 28,744 | 30,731 | 32,863 |    33,919 |    34,936 | 30,309 | 26,523 | 34,049 | 33,444 | 34,681 |  34,891 |     31.7
Kentucky .............| 6,953 | 14,520 | 26,292 | 30,870 | 31,115 |    31,625 |    32,257 | 27,685 | 28,131 | 31,144 | 33,595 | 32,836 |  32,531 |     14.7
Louisiana ............| 7,028 | 13,760 | 24,300 | 25,963 | 26,102 |    26,285 |    26,574 | 27,983 | 26,659 | 28,785 | 28,255 | 27,546 |  27,038 |     -0.3
Maine ................| 7,572 | 13,071 | 26,881 | 30,097 | 30,250 |    30,996 |    31,856 | 30,149 | 25,324 | 31,842 | 32,754 | 31,923 |  31,884 |     25.8
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
Maryland .............| 9,383 | 17,558 | 36,319 | 38,728 | 38,753 |    39,453 |    40,636 | 37,360 | 34,017 | 43,022 | 42,147 | 40,896 |  40,584 |     19.5
Massachusetts ........| 8,764 | 17,253 | 34,712 | 37,845 | 38,774 |    40,852 |\2\ 42,078 | 34,895 | 33,426 | 41,118 | 41,186 | 40,919 |  42,023 |     25.9
Michigan .............| 9,826 | 19,663 | 37,072 | 41,490 | 43,901 |\2\ 45,186 |\2\ 47,412 | 39,124 | 38,096 | 43,914 | 45,152 | 46,329 |  46,481 |     24.5
Minnesota ............| 8,658 | 15,912 | 32,190 | 34,451 | 35,093 |    36,146 |    37,412 | 34,473 | 30,828 | 38,131 | 37,492 | 37,034 |  37,182 |     21.4
Mississippi ..........| 5,798 | 11,850 | 24,292 | 24,367 | 24,367 |    25,153 |    26,910 | 23,086 | 22,958 | 28,775 | 26,518 | 25,715 |  25,874 |     17.2
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
Missouri..............| 7,799 | 13,682 | 27,094 | 28,895 | 29,382 |    30,310 |    31,217 | 31,053 | 26,508 | 32,094 | 31,446 | 31,007 |  31,179 |     17.8
Montana ..............| 7,606 | 14,537 | 25,081 | 27,590 | 27,617 |    28,200 |    28,785 | 30,285 | 28,164 | 29,710 | 30,025 | 29,144 |  29,008 |      2.2
Nebraska .............| 7,375 | 13,516 | 25,522 | 27,231 | 28,768 |    29,564 |    30,822 | 29,365 | 26,186 | 30,232 | 29,635 | 30,359 |  30,411 |     17.7
Nevada ...............| 9,215 | 16,295 | 30,590 | 33,857 | 34,119 |    33,955 |    34,836 | 36,691 | 31,570 | 36,235 | 36,846 | 36,006 |  34,928 |     10.3
New Hampshire ........| 7,771 | 13,017 | 28,986 | 33,170 | 33,931 |    34,121 |\2\ 34,974 | 30,942 | 25,219 | 34,335 | 36,098 | 35,808 |  35,099 |     38.7
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
New Jersey ...........| 9,130 | 17,161 | 35,676 | 41,027 | 42,680 |    44,693 |    46,801 | 36,353 | 33,248 | 42,260 | 44,649 | 45,041 |  45,974 |     40.8
New Mexico ...........| 7,796 | 14,887 | 24,756 | 26,239 | 26,532 |    27,922 |    28,865 | 31,041 | 28,842 | 29,325 | 28,555 | 27,999 |  28,722 |      0.1
New York .............|10,336 | 19,812 | 38,925 | 43,335 | 44,999 |    45,772 |    47,250 | 41,155 | 38,384 | 46,109 | 47,160 | 47,488 |  47,084 |     23.1
North Carolina .......| 7,494 | 14,117 | 27,883 | 28,791 | 29,315 |    29,728 |    31,079 | 29,839 | 27,351 | 33,029 | 31,332 | 30,936 |  30,580 |     13.6
North Dakota .........| 6,696 | 13,263 | 23,016 | 24,495 | 25,211 |    25,506 |    26,327 | 26,661 | 25,696 | 27,264 | 26,657 | 26,605 |  26,237 |      2.5
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
Ohio .................| 8,300 | 15,269 | 31,218 | 32,932 | 34,519 |    35,678 |    36,685 | 33,048 | 29,583 | 36,979 | 35,839 | 36,428 |  36,701 |     24.0
Oklahoma .............| 6,882 | 13,107 | 23,070 | 25,339 | 25,918 |    27,009 |    27,971 | 27,402 | 25,394 | 27,328 | 27,576 | 27,352 |  27,783 |     10.1
Oregon ...............| 8,818 | 16,266 | 30,840 | 34,100 | 35,880 |    37,590 |    38,700 | 35,110 | 31,514 | 36,531 | 37,110 | 37,865 |  38,667 |     22.8
Pennsylvania .........| 8,858 | 16,515 | 33,338 | 38,715 | 41,215 |    42,411 |    44,489 | 35,270 | 31,997 | 39,490 | 42,132 | 43,495 |  43,627 |     39.0
Rhode Island .........| 8,776 | 18,002 | 36,057 | 36,417 | 37,933 |    39,261 |    40,729 | 34,943 | 34,877 | 42,711 | 39,632 | 40,031 |  40,386 |     16.8
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
South Carolina .......| 6,927 | 13,063 | 27,217 | 28,068 | 29,224 |    29,566 |    30,341 | 27,581 | 25,309 | 32,240 | 30,546 | 30,840 |  30,413 |     19.9
South Dakota .........| 6,403 | 12,348 | 21,300 | 23,291 | 24,289 |    25,259 |\2\ 26,017 | 25,495 | 23,923 | 25,231 | 25,347 | 25,632 |  25,983 |      8.8
Tennessee ............| 7,050 | 13,972 | 27,052 | 28,621 | 28,960 |    30,514 |    31,270 | 28,071 | 27,070 | 32,044 | 31,147 | 30,562 |  31,389 |     15.5
Texas ................| 7,255 | 14,132 | 27,496 | 29,041 | 29,935 |    30,519 |    31,310 | 28,887 | 27,380 | 32,570 | 31,605 | 31,591 |  31,394 |     14.4
Utah .................| 7,644 | 14,909 | 23,686 | 26,339 | 27,239 |    27,706 |    28,676 | 30,436 | 28,885 | 28,057 | 28,664 | 28,746 |  28,500 |     -0.7
                      |       |        |        |        |        |           |           |        |        |        |        |        |         |
Vermont ..............| 7,968 | 12,484 | 29,012 | 33,646 | 34,824 |    34,517 |\2\ 36,311 | 31,726 | 24,187 | 34,366 | 36,616 | 36,750 |  35,506 |     50.1
Virginia .............| 8,070 | 14,060 | 30,938 | 31,764 | 33,212 |    33,009 |    33,753 | 32,132 | 27,240 | 36,648 | 34,568 | 35,049 |  33,955 |     23.9
Washington ...........| 9,225 | 18,820 | 30,457 | 34,823 | 35,759 |    35,863 |    36,120 | 36,731 | 36,462 | 36,078 | 37,897 | 37,737 |  36,891 |     -0.9
West Virginia.........| 7,650 | 13,710 | 22,842 | 27,366 | 30,301 |    30,549 |    31,923 | 30,460 | 26,562 | 27,057 | 29,782 | 31,977 |  31,425 |     20.2
Wisconsin ............| 8,963 | 16,006 | 31,921 | 35,227 | 35,926 |    35,990 |\2\ 37,349 | 35,688 | 31,010 | 37,812 | 38,337 | 37,913 |  37,022 |     20.4
Wyoming ..............| 8,232 | 16,012 | 28,141 | 30,425 | 30,080 |    30,952 |    31,300 | 32,777 | 31,022 | 33,334 | 33,111 | 31,744 |  31,839 |      0.9
______________________|_______|________|________|________|________|___________|___________|________|________|________|________|________|_________|__________

In [5]:
# read_csv was taking in object as a file name
# trouble shooting said to use io.StringIO
#  

import io

salary_df = pd.read_csv(io.StringIO(doi),sep='|', #separate columns by |-symbol
            skiprows=6,
            usecols=list(range(0,8))
            )
salary_df

,,1969-70,1979-80,1989-90,1991-92,1992-93,1993-94,1994-95
0,______________________,_______,________,________,________,________,___________,___________
1,1,2,3,4,5,6,7,8
2,______________________,_______,________,________,________,________,___________,___________
3,United States .....,"$8,626","$15,970","$31,367","$34,063","$35,029","\2\$35,819","\2\$36,933"
4,,_______,________,________,________,________,___________,___________
...,...,...,...,...,...,...,...,...
61,Washington ...........,"9,225","18,820","30,457","34,823","35,759","35,863","36,120"
62,West Virginia.........,"7,650","13,710","22,842","27,366","30,301","30,549","31,923"
63,Wisconsin ............,"8,963","16,006","31,921","35,227","35,926","35,990","\2\ 37,349"
64,Wyoming ..............,"8,232","16,012","28,141","30,425","30,080","30,952","31,300"
65,______________________,_______,________,________,________,________,___________,___________

### Clean the df

In [6]:
# Rename first column
salary_df.rename(columns={salary_df.columns[0]:'State'}, inplace=True)

salary_df.columns

Index(['State', '1969-70', '1979-80 ', '1989-90 ', '1991-92 ', '1992-93 ',
       '   1993-94 ', '   1994-95 '],
      dtype='object')

In [7]:
# Remove white space from other column names

# Create an empty dicitonary
new_column_names = {}

# Loop thru column names and remove white space
for i in list(range(len(salary_df.columns))):
    new_column_names[salary_df.columns[i]] = salary_df.columns[i].strip()

salary_df.rename(columns=new_column_names, inplace=True)

salary_df.head()

,State,1969-70,1979-80,1989-90,1991-92,1992-93,1993-94,1994-95
0,______________________,_______,________,________,________,________,___________,___________
1,1,2,3,4,5,6,7,8
2,______________________,_______,________,________,________,________,___________,___________
3,United States .....,"$8,626","$15,970","$31,367","$34,063","$35,029","\2\$35,819","\2\$36,933"
4,,_______,________,________,________,________,___________,___________

In [8]:
# remove '...' from state name column and then set as index
def period_remover(value):
    
    temp = value.strip()
    
    if len(temp) > 1 and temp[0].lower() in ('abcdefghijklmnopqrstuvwxyz'):
        return temp.split('.')[0].strip()
    else:
        return np.NaN

salary_df_clean = salary_df.copy()

salary_df_clean['State'] = salary_df_clean['State'].apply(period_remover)

salary_df_clean

,State,1969-70,1979-80,1989-90,1991-92,1992-93,1993-94,1994-95
0,NaN,_______,________,________,________,________,___________,___________
1,NaN,2,3,4,5,6,7,8
2,NaN,_______,________,________,________,________,___________,___________
3,United States,"$8,626","$15,970","$31,367","$34,063","$35,029","\2\$35,819","\2\$36,933"
4,NaN,_______,________,________,________,________,___________,___________
...,...,...,...,...,...,...,...,...
61,Washington,"9,225","18,820","30,457","34,823","35,759","35,863","36,120"
62,West Virginia,"7,650","13,710","22,842","27,366","30,301","30,549","31,923"
63,Wisconsin,"8,963","16,006","31,921","35,227","35,926","35,990","\2\ 37,349"
64,Wyoming,"8,232","16,012","28,141","30,425","30,080","30,952","31,300"
65,NaN,_______,________,________,________,________,___________,___________

In [9]:
cleaner_salary_df = salary_df_clean.dropna(axis=0)
cleaner_salary_df.head(10)

,State,1969-70,1979-80,1989-90,1991-92,1992-93,1993-94,1994-95
3,United States,"$8,626","$15,970","$31,367","$34,063","$35,029","\2\$35,819","\2\$36,933"
5,Alabama,"6,818","13,060","24,828","26,971","26,953","28,705","31,144"
6,Alaska,"10,560","27,210","43,153","44,661","46,701","47,512","47,951"
7,Arizona,"8,711","15,054","29,402","31,176","31,352","31,800","\2\ 32,090"
8,Arkansas,"6,307","12,299","22,352","27,070","27,433","28,098","28,409"
9,California,"10,315","18,020","37,998","39,922","40,035","40,264","\2\ 40,667"
11,Colorado,"7,761","16,205","30,758","33,072","33,541","33,826","34,571"
12,Connecticut,"9,262","16,229","40,461","46,971","48,343","49,769","51,300"
13,Delaware,"9,015","16,148","33,377","34,548","36,217","37,469","39,076"
14,District of Columbia,"10,285","22,190","38,402","38,798","38,702","42,543","42,959"

In [10]:
def data_to_int(val):
    return int(''.join(re.findall(r'\d',val.split('\\')[-1])))

In [11]:
data_to_int('11,001')

11001

In [12]:
salary_df_final = cleaner_salary_df.copy()

for i in list(range(len(salary_df_final.columns)-1)):
    salary_df_final[salary_df_final.columns[i+1]] = salary_df_final[salary_df_final.columns[i+1]].apply(data_to_int)

In [13]:
salary_df_final

,State,1969-70,1979-80,1989-90,1991-92,1992-93,1993-94,1994-95
3,United States,8626,15970,31367,34063,35029,35819,36933
5,Alabama,6818,13060,24828,26971,26953,28705,31144
6,Alaska,10560,27210,43153,44661,46701,47512,47951
7,Arizona,8711,15054,29402,31176,31352,31800,32090
8,Arkansas,6307,12299,22352,27070,27433,28098,28409
9,California,10315,18020,37998,39922,40035,40264,40667
11,Colorado,7761,16205,30758,33072,33541,33826,34571
12,Connecticut,9262,16229,40461,46971,48343,49769,51300
13,Delaware,9015,16148,33377,34548,36217,37469,39076
14,District of Columbia,10285,22190,38402,38798,38702,42543,42959
15,Florida,8412,14149,28803,31070,31172,31944,32588
17,Georgia,7276,13853,28006,29372,30223,30712,32828
18,Hawaii,9453,19920,32047,34528,36470,36564,38518
19,Idaho,6890,13611,23861,26334,27011,27756,29783
20,Illinois,9569,17601,32794,36461,38632,39387,41041
21,Indiana,8833,15599,30902,34006,35066,35712,36516
23,Iowa,8355,15203,26747,29202,30130,30760,31511
24,Kansas,7612,13690,28744,30731,32863,33919,34936
25,Kentucky,6953,14520,26292,30870,31115,31625,32257
26,Louisiana,7028,13760,24300,25963,26102,26285,26574
27,Maine,7572,13071,26881,30097,30250,30996,31856
29,Maryland,9383,17558,36319,38728,38753,39453,40636
30,Massachusetts,8764,17253,34712,37845,38774,40852,42078
31,Michigan,9826,19663,37072,41490,43901,45186,47412
32,Minnesota,8658,15912,32190,34451,35093,36146,37412
33,Mississippi,5798,11850,24292,24367,24367,25153,26910
35,Missouri,7799,13682,27094,28895,29382,30310,31217
36,Montana,7606,14537,25081,27590,27617,28200,28785
37,Nebraska,7375,13516,25522,27231,28768,29564,30822
38,Nevada,9215,16295,30590,33857,34119,33955,34836
39,New Hampshire,7771,13017,28986,33170,33931,34121,34974
41,New Jersey,9130,17161,35676,41027,42680,44693,46801
42,New Mexico,7796,14887,24756,26239,26532,27922,28865
43,New York,10336,19812,38925,43335,44999,45772,47250
44,North Carolina,7494,14117,27883,28791,29315,29728,31079
45,North Dakota,6696,13263,23016,24495,25211,25506,26327
47,Ohio,8300,15269,31218,32932,34519,35678,36685
48,Oklahoma,6882,13107,23070,25339,25918,27009,27971
49,Oregon,8818,16266,30840,34100,35880,37590,38700
50,Pennsylvania,8858,16515,33338,38715,41215,42411,44489
51,Rhode Island,8776,18002,36057,36417,37933,39261,40729
53,South Carolina,6927,13063,27217,28068,29224,29566,30341
54,South Dakota,6403,12348,21300,23291,24289,25259,26017
55,Tennessee,7050,13972,27052,28621,28960,30514,31270
56,Texas,7255,14132,27496,29041,29935,30519,31310
57,Utah,7644,14909,23686,26339,27239,27706,28676
59,Vermont,7968,12484,29012,33646,34824,34517,36311
60,Virginia,8070,14060,30938,31764,33212,33009,33753
61,Washington,9225,18820,30457,34823,35759,35863,36120
62,West Virginia,7650,13710,22842,27366,30301,30549,31923
63,Wisconsin,8963,16006,31921,35227,35926,35990,37349
64,Wyoming,8232,16012,28141,30425,30080,30952,31300

In [14]:
salary_df_final.to_csv('Data/1995_avg_teacher_salaries.csv', index=False)

In [ ]:
# 2006 and on can use pd.read_html 

# For everything before that: pd.read_csv

# 1995 has a unique url ('https://nces.ed.gov/programs/digest/d95/dtab077.asp')

# Table 77 for 1996 ('https://nces.ed.gov/programs/digest/d96/d96t077.asp')
# Table 77 for 2005 ('https://nces.ed.gov/programs/digest/d05/tables/dt05_077.asp')

# Table 78 for 1997 ('https://nces.ed.gov/programs/digest/d97/d97t078.asp')
# Table 78 for 2000-04 ('https://nces.ed.gov/programs/digest/d00/dt078.asp')

#Table 79 in 1998,99 ('https://nces.ed.gov/programs/digest/d98/d98t079.asp')

for year in range(1995,2013):
    print(year)
    try:
        url = f'https://nces.ed.gov/programs/digest/d{str(year)[2:]}/d{str(year)[2:]}t077.asp'
        r=requests.post(url)
        data = soup(r.text, 'html.parser')

        table_list = data.select('table td pre')

        print(len(table_list))   
    except:
        print(f'No data in this link: {url}')

In [352]:
#import libraries

import io
import numpy as np
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup as soup

def table_scraper(url):
    # ----------------------------------------------------------------------------------------------------------------------
    
    # Use requests.post becuase it'll pull data after the webpage has loaded
    r=requests.post(url)

    # create a "soup" object 
    data = soup(r.text, 'html.parser')

    # ----------------------------------------------------------------------------------------------------------------------

    # Our data of interest is the text that is formatted like a table
    # Select that data and return as text
    doi= data.select('table td pre')[0].text

    # ----------------------------------------------------------------------------------------------------------------------

    salary_df = pd.read_csv(io.StringIO(doi),sep='|', #separate columns by |-symbol
                skiprows=6,
                usecols=list(range(0,8))
                )

    # ----------------------------------------------------------------------------------------------------------------------

    # Rename first column
    salary_df.rename(columns={salary_df.columns[0]:'State'}, inplace=True)

    # ----------------------------------------------------------------------------------------------------------------------

    # Remove white space from other column names

    # Create an empty dicitonary
    new_column_names = {}

    # Loop thru column names and remove white space
    for i in list(range(len(salary_df.columns))):
        new_column_names[salary_df.columns[i]] = salary_df.columns[i].strip()

    salary_df.rename(columns=new_column_names, inplace=True)

    # ----------------------------------------------------------------------------------------------------------------------

    # remove '...' from state name column and then set as index
    def period_remover(value):
        
        temp = value.strip()
        
        if len(temp) > 1 and temp[0].lower() in ('abcdefghijklmnopqrstuvwxyz'):
            return temp.split('.')[0]
        else:
            return np.NaN

    salary_df_clean = salary_df.copy()

    salary_df_clean['State'] = salary_df_clean['State'].apply(period_remover)

    # ----------------------------------------------------------------------------------------------------------------------

    cleaner_salary_df = salary_df_clean.dropna(axis=0)

    # ----------------------------------------------------------------------------------------------------------------------

    def data_to_int(val):
        return int(''.join(re.findall(r'\d',val.split('\\')[-1])))

    salary_df_final = cleaner_salary_df.copy()

    for i in list(range(len(salary_df_final.columns)-1)):
        salary_df_final[salary_df_final.columns[i+1]] = salary_df_final[salary_df_final.columns[i+1]].apply(data_to_int)

    return salary_df_final