In [1]:
#import libraries

import numpy as np
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup as soup

In [2]:
# Set URL as a variable
url = 'https://nces.ed.gov/programs/digest/d00/dt078.asp'

# Use requests.post becuase it'll pull data after the webpage has loaded
r=requests.post(url)

# create a "soup" object 
data = soup(r.text, 'html.parser')

In [3]:
# Identify element tag with target data
data.select('table td pre')[0]

<pre style="text-align:left; padding-left:4px">
_______________________________________________________________________________________________________________________________________________________________
                      |                         Current dollars                                                   |     Constant 1998-99 dollars\1\
                      |___________________________________________________________________________________________|____________________________________________
 State or other area  |       |       |          |       |        |           |           |           |           |        |        |        |        |
                      |1939-40|1949-50| 1959-60  |1969-70|1979-80 |   1989-90 |   1996-97 |   1997-98 |   1998-99 |1969-70 |1979-80 |1989-90 |1996-97 |1997-98
______________________|_______|_______|__________|_______|________|___________|___________|___________|___________|________|________|________|________|________
          1           |   2   |   3   |     4    |   5   |   6    |      7    |      8    |      9    |      10   |   11   |   12   |   13   |   14   |   15
______________________|_______|_______|__________|_______|________|___________|___________|___________|___________|________|________|________|________|________
   United States .....|$1,441 |$3,010 |   $5,174 |$9,047 |$16,715 |   $32,638 |\2\$40,435 |\2\$41,272 |   $42,459 |$39,407 |$35,427 |$42,294 |$41,869 |$41,986
                      |_______|_______|__________|_______|________|___________|___________|___________|___________|________|________|________|________|________
Alabama ..............|   744 | 2,111 |    4,002 | 6,954 | 13,338 |    26,200 |    33,744 |    34,040 |    36,740 | 30,291 | 28,270 | 33,952 | 34,940 | 34,629
Alaska ...............|   --- |   --- |    6,859 |10,993 | 27,697 |\2\ 43,161 |\2\ 52,033 |\2\ 48,760 |    48,085 | 47,884 | 58,703 | 55,931 | 53,878 | 49,604
Arizona ..............| 1,544 | 3,556 |    5,590 | 8,975 | 16,180 |    33,592 |\2\ 44,157 |\2\ 44,819 |\2\ 45,785 | 39,094 | 34,293 | 43,531 | 45,723 | 45,595
Arkansas .............|   584 | 1,801 |    3,295 | 6,461 | 12,704 |    23,296 |\2\ 31,852 |    32,186 |\2\ 32,879 | 28,143 | 26,926 | 30,188 | 32,981 | 32,743
California ...........| 2,351 |   --- |\2\ 6,600 |10,950 | 18,626 |\2\ 39,309 |\2\ 45,349 |\2\ 45,610 |\2\ 46,593 | 47,696 | 39,478 | 50,939 | 46,957 | 46,400
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
Colorado .............| 1,393 | 2,821 |    4,997 | 8,105 | 16,840 |    31,832 |    37,473 |\2\ 38,590 |\2\ 39,421 | 35,304 | 35,692 | 41,250 | 38,802 | 39,258
Connecticut ..........| 1,861 | 3,558 |    6,008 | 9,597 | 16,989 |    41,888 |    52,067 |    52,480 |    53,429 | 41,803 | 36,008 | 54,281 | 53,913 | 53,389
Delaware .............| 1,684 | 3,273 |\2\ 5,800 | 9,387 | 16,845 |    34,620 |    43,085 |    44,169 |    44,916 | 40,888 | 35,703 | 44,863 | 44,613 | 44,934
District of Columbia .| 2,350 | 3,920 |    6,280 |10,700 | 23,027 |    43,637 |\2\ 40,854 |\2\ 42,068 |\2\ 42,974 | 46,608 | 48,805 | 56,548 | 42,302 | 42,796
Florida ..............| 1,012 | 2,958 |    5,080 | 8,785 | 14,875 |    30,275 |    34,980 |    35,594 |    37,048 | 38,266 | 31,527 | 39,232 | 36,220 | 36,210
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
Georgia ..............|   770 | 1,963 |\3\ 3,904 | 7,520 | 14,547 |    29,541 |    37,344 |    39,412 |    41,591 | 32,756 | 30,832 | 38,281 | 38,668 | 40,094
Hawaii ...............|   --- |   --- |    5,390 | 9,600 | 20,436 |    32,956 |    36,986 |    39,751 |    41,547 | 41,816 | 43,314 | 42,706 | 38,297 | 40,439
Idaho ................| 1,057 | 2,481 |    4,216 | 7,081 | 14,110 |    24,758 |    33,277 |\2\ 34,326 |    35,643 | 30,844 | 29,906 | 32,083 | 34,457 | 34,920
Illinois .............| 1,700 | 3,458 |\4\ 5,814 | 9,789 | 18,271 |    33,912 |    43,686 |    45,361 |    47,312 | 42,639 | 38,725 | 43,945 | 45,235 | 46,146
Indiana...............| 1,433 | 3,401 |    5,542 | 9,239 | 16,256 |    31,905 |    40,062 |\2\ 41,014 |    42,501 | 40,244 | 34,454 | 41,344 | 41,482 | 41,724
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
Iowa .................| 1,017 | 2,420 |\2\ 4,030 | 8,779 | 15,776 |    27,619 |    34,477 |    35,326 |    36,209 | 38,240 | 33,437 | 35,790 | 35,699 | 35,938
Kansas ...............| 1,014 | 2,628 |\2\ 4,450 | 7,811 | 14,513 |    30,154 |    38,379 |    39,219 |    39,690 | 34,023 | 30,760 | 39,075 | 39,740 | 39,898
Kentucky .............|   826 | 1,936 |    3,327 | 7,325 | 15,350 |    27,482 |    35,560 |\2\ 36,222 |    37,251 | 31,907 | 32,534 | 35,613 | 36,821 | 36,849
Louisiana ............| 1,006 | 2,983 |    4,978 | 7,264 | 14,020 |    25,036 |    30,499 |\2\ 31,602 |    33,943 | 31,641 | 29,715 | 32,443 | 31,580 | 32,149
Maine ................|   894 | 2,115 |    3,694 | 8,059 | 13,743 |    27,831 |    34,796 |    35,484 |    36,125 | 35,104 | 29,128 | 36,065 | 36,030 | 36,098
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
Maryland .............| 1,642 | 3,594 |    5,557 | 9,885 | 18,308 |    37,520 |    42,988 |    43,618 |    44,873 | 43,058 | 38,804 | 48,621 | 44,512 | 44,373
Massachusetts ........| 2,037 | 3,338 |\5\ 5,545 | 9,347 | 18,900 |    40,175 |\2\ 54,244 |\2\ 55,630 |\2\ 56,829 | 40,714 | 40,058 | 52,061 | 56,167 | 56,593
Michigan .............| 1,576 | 3,420 |    5,654 |10,125 | 20,682 |\2\ 37,286 |\2\ 47,181 |\2\ 47,500 |\2\ 48,207 | 44,103 | 43,835 | 48,317 | 48,854 | 48,322
Minnesota ............| 1,276 | 3,013 |    5,275 | 9,250 | 16,654 |    33,340 |    39,258 |\2\ 39,123 |    40,707 | 40,292 | 35,298 | 43,204 | 40,650 | 39,800
Mississippi ..........|   559 | 1,416 |    3,314 | 5,959 | 12,274 |    25,079 |    28,648 |    29,857 |    30,743 | 25,956 | 26,015 | 32,499 | 29,664 | 30,374
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
Missouri..............| 1,159 | 2,581 |    4,536 | 8,064 | 14,543 |    28,166 |    34,789 |    35,624 |    36,512 | 35,126 | 30,824 | 36,499 | 36,022 | 36,241
Montana ..............| 1,184 | 2,962 |\2\ 4,425 | 7,875 | 15,080 |    29,526 |\2\ 31,836 |    32,536 |    30,034 | 34,302 | 31,962 | 38,262 | 32,965 | 33,099
Nebraska .............|   829 | 2,292 |    3,876 | 7,633 | 14,236 |    27,024 |    35,045 |    35,800 |    36,571 | 33,248 | 30,173 | 35,019 | 36,288 | 36,420
Nevada ...............| 1,557 | 3,209 |    5,693 | 9,615 | 17,290 |    31,970 |    39,179 |    39,002 |    41,007 | 41,881 | 36,646 | 41,429 | 40,568 | 39,677
New Hampshire ........| 1,258 | 2,712 |    4,455 | 8,016 | 13,508 |\2\ 29,798 |\2\ 43,455 |\2\ 44,234 |\2\ 45,187 | 34,916 | 28,630 | 38,614 | 44,996 | 45,000
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
New Jersey ...........| 2,093 | 3,511 |    5,871 | 9,650 | 18,851 |    37,485 |    52,411 |    53,196 |\2\ 54,342 | 42,034 | 39,954 | 48,575 | 54,269 | 54,117
New Mexico ...........| 1,144 | 3,215 |    5,382 |10,021 | 15,406 |    25,790 |    30,914 |    31,580 |    33,714 | 43,650 | 32,653 | 33,420 | 32,010 | 32,127
New York .............| 2,604 | 3,706 |    6,537 |11,240 | 20,400 |    40,000 |    48,600 |\2\ 49,320 |\2\ 50,300 | 48,960 | 43,237 | 51,834 | 50,323 | 50,174
North Carolina .......|   946 | 2,688 |    4,178 | 7,762 | 14,445 |    28,952 |    32,383 |    34,398 |    37,279 | 33,810 | 30,616 | 37,518 | 33,531 | 34,993
North Dakota .........|   745 | 2,324 |    3,695 | 6,840 | 13,684 |    23,788 |    27,905 |    28,438 |    29,215 | 29,794 | 29,003 | 30,826 | 28,894 | 28,930
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
Ohio .................| 1,587 | 3,088 |    5,124 | 8,594 | 16,100 |    32,467 |    39,938 |    40,352 |    41,986 | 37,434 | 34,124 | 42,073 | 41,354 | 41,051
Oklahoma .............| 1,014 | 2,736 |    4,659 | 7,257 | 13,500 |    23,944 |    31,894 |    32,302 |\2\ 32,783 | 31,610 | 28,613 | 31,028 | 33,025 | 32,861
Oregon ...............| 1,333 | 3,323 |    5,535 | 9,200 | 16,996 |    32,100 |    42,420 |\2\ 43,700 |    43,142 | 40,074 | 36,023 | 41,597 | 43,924 | 44,457
Pennsylvania .........| 1,640 | 3,006 |    5,308 | 8,899 | 17,060 |    34,110 |    48,178 |    48,624 |    49,566 | 38,763 | 36,158 | 44,202 | 49,886 | 49,466
Rhode Island .........| 1,809 | 3,294 |\6\ 5,499 | 9,030 | 18,425 |    36,704 |\2\ 44,188 |    45,504 |\2\ 51,689 | 39,333 | 39,052 | 47,563 | 45,755 | 46,292
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
South Carolina .......|   743 | 1,891 |    3,450 | 7,069 | 13,670 |    28,453 |    34,421 |    35,358 |    36,217 | 30,791 | 28,973 | 36,871 | 35,641 | 35,970
South Dakota .........|   807 | 2,064 |    3,725 | 7,200 | 13,010 |    22,120 |    27,767 |\2\ 28,880 |    29,387 | 31,362 | 27,575 | 28,664 | 28,751 | 29,380
Tennessee ............|   862 | 2,302 |    3,929 | 7,187 | 14,193 |    27,949 |    35,555 |    36,700 |\2\ 37,491 | 31,305 | 30,082 | 36,218 | 36,816 | 37,335
Texas ................| 1,079 | 3,122 |    4,708 | 7,598 | 14,729 |    28,549 |    34,937 |    36,112 |    36,999 | 33,096 | 31,218 | 36,996 | 36,176 | 36,737
Utah .................| 1,394 | 3,103 |    5,096 | 8,049 | 17,403 |    24,591 |    33,031 |\2\ 33,265 |\2\ 33,982 | 35,060 | 36,885 | 31,867 | 34,202 | 33,841
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
Vermont ..............|   981 | 2,348 |    4,466 | 8,225 | 13,300 |    29,012 |    36,053 |    36,299 |\2\ 37,081 | 35,827 | 28,189 | 37,596 | 37,331 | 36,927
Virginia .............|   899 | 2,328 |    4,312 | 8,364 | 14,655 |    31,656 |    36,426 |    37,458 |\2\ 38,265 | 36,432 | 31,061 | 41,022 | 37,717 | 38,106
Washington ...........| 1,706 | 3,487 |\6\ 5,643 | 9,792 | 19,735 |    31,828 |    39,594 |    40,629 |    40,596 | 42,652 | 41,828 | 41,245 | 40,998 | 41,332
West Virginia.........| 1,170 | 2,425 |    3,952 | 7,954 | 14,395 |    23,842 |    34,345 |    34,564 |    35,451 | 34,646 | 30,510 | 30,896 | 35,563 | 35,162
Wisconsin ............| 1,379 | 3,007 |\7\ 4,870 | 9,150 | 16,335 |    32,445 |    41,848 |\2\ 42,273 |    43,507 | 39,856 | 34,622 | 42,044 | 43,332 | 43,005
Wyoming ..............| 1,169 | 2,798 |    4,937 | 8,496 | 16,830 |    29,047 |    32,620 |    32,979 |    34,683 | 37,007 | 35,671 | 37,641 | 33,777 | 33,550
                      |=======|=======|==========|=======|========|===========|===========|===========|===========|========|========|========|========|========
    Outlying areas    |       |       |          |       |        |           |           |           |           |        |        |        |        |
American Samoa .......|   --- |   --- |      852 | 5,130 |    --- |       --- |       --- |       --- |       --- | 22,345 |    --- |    --- |    --- |    ---
Guam .................|   --- |   --- |    4,107 | 7,800 |    --- |       --- |       --- |       --- |       --- | 33,976 |    --- |    --- |    --- |    ---
Puerto Rico ..........|   --- |   --- |\8\ 2,360 |   --- |    --- |       --- |       --- |       --- |       --- |    --- |    --- |    --- |    --- |    ---
Virgin Islands .......|   --- |   --- |    3,407 |   --- |    --- |       --- |       --- |       --- |       --- |    --- |    --- |    --- |    --- |    ---
______________________|_______|_______|__________|_______|________|___________|___________|___________|___________|________|________|________|________|________</pre>

In [4]:
# Our data of interest is the text that is formatted like a table
# Select that data and return as text
doi= data.select('table td pre')[0].text
print(doi)

_______________________________________________________________________________________________________________________________________________________________
                      |                         Current dollars                                                   |     Constant 1998-99 dollars\1\
                      |___________________________________________________________________________________________|____________________________________________
 State or other area  |       |       |          |       |        |           |           |           |           |        |        |        |        |
                      |1939-40|1949-50| 1959-60  |1969-70|1979-80 |   1989-90 |   1996-97 |   1997-98 |   1998-99 |1969-70 |1979-80 |1989-90 |1996-97 |1997-98
______________________|_______|_______|__________|_______|________|___________|___________|___________|___________|________|________|________|________|________
          1           |   2   |   3   |     4    |   5   |   6    |      7    |      8    |      9    |      10   |   11   |   12   |   13   |   14   |   15
______________________|_______|_______|__________|_______|________|___________|___________|___________|___________|________|________|________|________|________
   United States .....|$1,441 |$3,010 |   $5,174 |$9,047 |$16,715 |   $32,638 |\2\$40,435 |\2\$41,272 |   $42,459 |$39,407 |$35,427 |$42,294 |$41,869 |$41,986
                      |_______|_______|__________|_______|________|___________|___________|___________|___________|________|________|________|________|________
Alabama ..............|   744 | 2,111 |    4,002 | 6,954 | 13,338 |    26,200 |    33,744 |    34,040 |    36,740 | 30,291 | 28,270 | 33,952 | 34,940 | 34,629
Alaska ...............|   --- |   --- |    6,859 |10,993 | 27,697 |\2\ 43,161 |\2\ 52,033 |\2\ 48,760 |    48,085 | 47,884 | 58,703 | 55,931 | 53,878 | 49,604
Arizona ..............| 1,544 | 3,556 |    5,590 | 8,975 | 16,180 |    33,592 |\2\ 44,157 |\2\ 44,819 |\2\ 45,785 | 39,094 | 34,293 | 43,531 | 45,723 | 45,595
Arkansas .............|   584 | 1,801 |    3,295 | 6,461 | 12,704 |    23,296 |\2\ 31,852 |    32,186 |\2\ 32,879 | 28,143 | 26,926 | 30,188 | 32,981 | 32,743
California ...........| 2,351 |   --- |\2\ 6,600 |10,950 | 18,626 |\2\ 39,309 |\2\ 45,349 |\2\ 45,610 |\2\ 46,593 | 47,696 | 39,478 | 50,939 | 46,957 | 46,400
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
Colorado .............| 1,393 | 2,821 |    4,997 | 8,105 | 16,840 |    31,832 |    37,473 |\2\ 38,590 |\2\ 39,421 | 35,304 | 35,692 | 41,250 | 38,802 | 39,258
Connecticut ..........| 1,861 | 3,558 |    6,008 | 9,597 | 16,989 |    41,888 |    52,067 |    52,480 |    53,429 | 41,803 | 36,008 | 54,281 | 53,913 | 53,389
Delaware .............| 1,684 | 3,273 |\2\ 5,800 | 9,387 | 16,845 |    34,620 |    43,085 |    44,169 |    44,916 | 40,888 | 35,703 | 44,863 | 44,613 | 44,934
District of Columbia .| 2,350 | 3,920 |    6,280 |10,700 | 23,027 |    43,637 |\2\ 40,854 |\2\ 42,068 |\2\ 42,974 | 46,608 | 48,805 | 56,548 | 42,302 | 42,796
Florida ..............| 1,012 | 2,958 |    5,080 | 8,785 | 14,875 |    30,275 |    34,980 |    35,594 |    37,048 | 38,266 | 31,527 | 39,232 | 36,220 | 36,210
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
Georgia ..............|   770 | 1,963 |\3\ 3,904 | 7,520 | 14,547 |    29,541 |    37,344 |    39,412 |    41,591 | 32,756 | 30,832 | 38,281 | 38,668 | 40,094
Hawaii ...............|   --- |   --- |    5,390 | 9,600 | 20,436 |    32,956 |    36,986 |    39,751 |    41,547 | 41,816 | 43,314 | 42,706 | 38,297 | 40,439
Idaho ................| 1,057 | 2,481 |    4,216 | 7,081 | 14,110 |    24,758 |    33,277 |\2\ 34,326 |    35,643 | 30,844 | 29,906 | 32,083 | 34,457 | 34,920
Illinois .............| 1,700 | 3,458 |\4\ 5,814 | 9,789 | 18,271 |    33,912 |    43,686 |    45,361 |    47,312 | 42,639 | 38,725 | 43,945 | 45,235 | 46,146
Indiana...............| 1,433 | 3,401 |    5,542 | 9,239 | 16,256 |    31,905 |    40,062 |\2\ 41,014 |    42,501 | 40,244 | 34,454 | 41,344 | 41,482 | 41,724
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
Iowa .................| 1,017 | 2,420 |\2\ 4,030 | 8,779 | 15,776 |    27,619 |    34,477 |    35,326 |    36,209 | 38,240 | 33,437 | 35,790 | 35,699 | 35,938
Kansas ...............| 1,014 | 2,628 |\2\ 4,450 | 7,811 | 14,513 |    30,154 |    38,379 |    39,219 |    39,690 | 34,023 | 30,760 | 39,075 | 39,740 | 39,898
Kentucky .............|   826 | 1,936 |    3,327 | 7,325 | 15,350 |    27,482 |    35,560 |\2\ 36,222 |    37,251 | 31,907 | 32,534 | 35,613 | 36,821 | 36,849
Louisiana ............| 1,006 | 2,983 |    4,978 | 7,264 | 14,020 |    25,036 |    30,499 |\2\ 31,602 |    33,943 | 31,641 | 29,715 | 32,443 | 31,580 | 32,149
Maine ................|   894 | 2,115 |    3,694 | 8,059 | 13,743 |    27,831 |    34,796 |    35,484 |    36,125 | 35,104 | 29,128 | 36,065 | 36,030 | 36,098
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
Maryland .............| 1,642 | 3,594 |    5,557 | 9,885 | 18,308 |    37,520 |    42,988 |    43,618 |    44,873 | 43,058 | 38,804 | 48,621 | 44,512 | 44,373
Massachusetts ........| 2,037 | 3,338 |\5\ 5,545 | 9,347 | 18,900 |    40,175 |\2\ 54,244 |\2\ 55,630 |\2\ 56,829 | 40,714 | 40,058 | 52,061 | 56,167 | 56,593
Michigan .............| 1,576 | 3,420 |    5,654 |10,125 | 20,682 |\2\ 37,286 |\2\ 47,181 |\2\ 47,500 |\2\ 48,207 | 44,103 | 43,835 | 48,317 | 48,854 | 48,322
Minnesota ............| 1,276 | 3,013 |    5,275 | 9,250 | 16,654 |    33,340 |    39,258 |\2\ 39,123 |    40,707 | 40,292 | 35,298 | 43,204 | 40,650 | 39,800
Mississippi ..........|   559 | 1,416 |    3,314 | 5,959 | 12,274 |    25,079 |    28,648 |    29,857 |    30,743 | 25,956 | 26,015 | 32,499 | 29,664 | 30,374
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
Missouri..............| 1,159 | 2,581 |    4,536 | 8,064 | 14,543 |    28,166 |    34,789 |    35,624 |    36,512 | 35,126 | 30,824 | 36,499 | 36,022 | 36,241
Montana ..............| 1,184 | 2,962 |\2\ 4,425 | 7,875 | 15,080 |    29,526 |\2\ 31,836 |    32,536 |    30,034 | 34,302 | 31,962 | 38,262 | 32,965 | 33,099
Nebraska .............|   829 | 2,292 |    3,876 | 7,633 | 14,236 |    27,024 |    35,045 |    35,800 |    36,571 | 33,248 | 30,173 | 35,019 | 36,288 | 36,420
Nevada ...............| 1,557 | 3,209 |    5,693 | 9,615 | 17,290 |    31,970 |    39,179 |    39,002 |    41,007 | 41,881 | 36,646 | 41,429 | 40,568 | 39,677
New Hampshire ........| 1,258 | 2,712 |    4,455 | 8,016 | 13,508 |\2\ 29,798 |\2\ 43,455 |\2\ 44,234 |\2\ 45,187 | 34,916 | 28,630 | 38,614 | 44,996 | 45,000
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
New Jersey ...........| 2,093 | 3,511 |    5,871 | 9,650 | 18,851 |    37,485 |    52,411 |    53,196 |\2\ 54,342 | 42,034 | 39,954 | 48,575 | 54,269 | 54,117
New Mexico ...........| 1,144 | 3,215 |    5,382 |10,021 | 15,406 |    25,790 |    30,914 |    31,580 |    33,714 | 43,650 | 32,653 | 33,420 | 32,010 | 32,127
New York .............| 2,604 | 3,706 |    6,537 |11,240 | 20,400 |    40,000 |    48,600 |\2\ 49,320 |\2\ 50,300 | 48,960 | 43,237 | 51,834 | 50,323 | 50,174
North Carolina .......|   946 | 2,688 |    4,178 | 7,762 | 14,445 |    28,952 |    32,383 |    34,398 |    37,279 | 33,810 | 30,616 | 37,518 | 33,531 | 34,993
North Dakota .........|   745 | 2,324 |    3,695 | 6,840 | 13,684 |    23,788 |    27,905 |    28,438 |    29,215 | 29,794 | 29,003 | 30,826 | 28,894 | 28,930
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
Ohio .................| 1,587 | 3,088 |    5,124 | 8,594 | 16,100 |    32,467 |    39,938 |    40,352 |    41,986 | 37,434 | 34,124 | 42,073 | 41,354 | 41,051
Oklahoma .............| 1,014 | 2,736 |    4,659 | 7,257 | 13,500 |    23,944 |    31,894 |    32,302 |\2\ 32,783 | 31,610 | 28,613 | 31,028 | 33,025 | 32,861
Oregon ...............| 1,333 | 3,323 |    5,535 | 9,200 | 16,996 |    32,100 |    42,420 |\2\ 43,700 |    43,142 | 40,074 | 36,023 | 41,597 | 43,924 | 44,457
Pennsylvania .........| 1,640 | 3,006 |    5,308 | 8,899 | 17,060 |    34,110 |    48,178 |    48,624 |    49,566 | 38,763 | 36,158 | 44,202 | 49,886 | 49,466
Rhode Island .........| 1,809 | 3,294 |\6\ 5,499 | 9,030 | 18,425 |    36,704 |\2\ 44,188 |    45,504 |\2\ 51,689 | 39,333 | 39,052 | 47,563 | 45,755 | 46,292
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
South Carolina .......|   743 | 1,891 |    3,450 | 7,069 | 13,670 |    28,453 |    34,421 |    35,358 |    36,217 | 30,791 | 28,973 | 36,871 | 35,641 | 35,970
South Dakota .........|   807 | 2,064 |    3,725 | 7,200 | 13,010 |    22,120 |    27,767 |\2\ 28,880 |    29,387 | 31,362 | 27,575 | 28,664 | 28,751 | 29,380
Tennessee ............|   862 | 2,302 |    3,929 | 7,187 | 14,193 |    27,949 |    35,555 |    36,700 |\2\ 37,491 | 31,305 | 30,082 | 36,218 | 36,816 | 37,335
Texas ................| 1,079 | 3,122 |    4,708 | 7,598 | 14,729 |    28,549 |    34,937 |    36,112 |    36,999 | 33,096 | 31,218 | 36,996 | 36,176 | 36,737
Utah .................| 1,394 | 3,103 |    5,096 | 8,049 | 17,403 |    24,591 |    33,031 |\2\ 33,265 |\2\ 33,982 | 35,060 | 36,885 | 31,867 | 34,202 | 33,841
                      |       |       |          |       |        |           |           |           |           |        |        |        |        |
Vermont ..............|   981 | 2,348 |    4,466 | 8,225 | 13,300 |    29,012 |    36,053 |    36,299 |\2\ 37,081 | 35,827 | 28,189 | 37,596 | 37,331 | 36,927
Virginia .............|   899 | 2,328 |    4,312 | 8,364 | 14,655 |    31,656 |    36,426 |    37,458 |\2\ 38,265 | 36,432 | 31,061 | 41,022 | 37,717 | 38,106
Washington ...........| 1,706 | 3,487 |\6\ 5,643 | 9,792 | 19,735 |    31,828 |    39,594 |    40,629 |    40,596 | 42,652 | 41,828 | 41,245 | 40,998 | 41,332
West Virginia.........| 1,170 | 2,425 |    3,952 | 7,954 | 14,395 |    23,842 |    34,345 |    34,564 |    35,451 | 34,646 | 30,510 | 30,896 | 35,563 | 35,162
Wisconsin ............| 1,379 | 3,007 |\7\ 4,870 | 9,150 | 16,335 |    32,445 |    41,848 |\2\ 42,273 |    43,507 | 39,856 | 34,622 | 42,044 | 43,332 | 43,005
Wyoming ..............| 1,169 | 2,798 |    4,937 | 8,496 | 16,830 |    29,047 |    32,620 |    32,979 |    34,683 | 37,007 | 35,671 | 37,641 | 33,777 | 33,550
                      |=======|=======|==========|=======|========|===========|===========|===========|===========|========|========|========|========|========
    Outlying areas    |       |       |          |       |        |           |           |           |           |        |        |        |        |
American Samoa .......|   --- |   --- |      852 | 5,130 |    --- |       --- |       --- |       --- |       --- | 22,345 |    --- |    --- |    --- |    ---
Guam .................|   --- |   --- |    4,107 | 7,800 |    --- |       --- |       --- |       --- |       --- | 33,976 |    --- |    --- |    --- |    ---
Puerto Rico ..........|   --- |   --- |\8\ 2,360 |   --- |    --- |       --- |       --- |       --- |       --- |    --- |    --- |    --- |    --- |    ---
Virgin Islands .......|   --- |   --- |    3,407 |   --- |    --- |       --- |       --- |       --- |       --- |    --- |    --- |    --- |    --- |    ---
______________________|_______|_______|__________|_______|________|___________|___________|___________|___________|________|________|________|________|________

In [5]:
# read_csv was taking in object as a file name
# trouble shooting said to use io.StringIO
#  

import io

salary_df = pd.read_csv(io.StringIO(doi),sep='|', #separate columns by |-symbol
            skiprows=5,
            usecols=list(range(0,10))
            )
salary_df

,,1939-40,1949-50,1959-60,1969-70,1979-80,1989-90,1996-97,1997-98,1998-99
0,______________________,_______,_______,__________,_______,________,___________,___________,___________,___________
1,1,2,3,4,5,6,7,8,9,10
2,______________________,_______,_______,__________,_______,________,___________,___________,___________,___________
3,United States .....,"$1,441","$3,010","$5,174","$9,047","$16,715","$32,638","\2\$40,435","\2\$41,272","$42,459"
4,,_______,_______,__________,_______,________,___________,___________,___________,___________
...,...,...,...,...,...,...,...,...,...,...
67,American Samoa .......,---,---,852,"5,130",---,---,---,---,---
68,Guam .................,---,---,"4,107","7,800",---,---,---,---,---
69,Puerto Rico ..........,---,---,"\8\ 2,360",---,---,---,---,---,---
70,Virgin Islands .......,---,---,"3,407",---,---,---,---,---,---
71,______________________,_______,_______,__________,_______,________,___________,___________,___________,___________

### Clean the df

In [6]:
# Rename first column
salary_df.rename(columns={salary_df.columns[0]:'State'}, inplace=True)

salary_df.columns

Index(['State', '1939-40', '1949-50', ' 1959-60  ', '1969-70', '1979-80 ',
       '   1989-90 ', '   1996-97 ', '   1997-98 ', '   1998-99 '],
      dtype='object')

In [7]:
# Remove white space from other column names

# Create an empty dicitonary
new_column_names = {}

# Loop thru column names and remove white space
for i in list(range(len(salary_df.columns))):
    new_column_names[salary_df.columns[i]] = salary_df.columns[i].strip()

salary_df.rename(columns=new_column_names, inplace=True)

salary_df.head()

,State,1939-40,1949-50,1959-60,1969-70,1979-80,1989-90,1996-97,1997-98,1998-99
0,______________________,_______,_______,__________,_______,________,___________,___________,___________,___________
1,1,2,3,4,5,6,7,8,9,10
2,______________________,_______,_______,__________,_______,________,___________,___________,___________,___________
3,United States .....,"$1,441","$3,010","$5,174","$9,047","$16,715","$32,638","\2\$40,435","\2\$41,272","$42,459"
4,,_______,_______,__________,_______,________,___________,___________,___________,___________

In [8]:
# remove '...' from state name column and then set as index
def period_remover(value):
    
    temp = value.strip()
    
    if len(temp) > 1 and temp[0].lower() in ('abcdefghijklmnopqrstuvwxyz'):
        return temp.split('.')[0].strip()
    else:
        return np.NaN

salary_df_clean = salary_df.copy()

salary_df_clean['State'] = salary_df_clean['State'].apply(period_remover)

salary_df_clean

,State,1939-40,1949-50,1959-60,1969-70,1979-80,1989-90,1996-97,1997-98,1998-99
0,NaN,_______,_______,__________,_______,________,___________,___________,___________,___________
1,NaN,2,3,4,5,6,7,8,9,10
2,NaN,_______,_______,__________,_______,________,___________,___________,___________,___________
3,United States,"$1,441","$3,010","$5,174","$9,047","$16,715","$32,638","\2\$40,435","\2\$41,272","$42,459"
4,NaN,_______,_______,__________,_______,________,___________,___________,___________,___________
...,...,...,...,...,...,...,...,...,...,...
67,American Samoa,---,---,852,"5,130",---,---,---,---,---
68,Guam,---,---,"4,107","7,800",---,---,---,---,---
69,Puerto Rico,---,---,"\8\ 2,360",---,---,---,---,---,---
70,Virgin Islands,---,---,"3,407",---,---,---,---,---,---
71,NaN,_______,_______,__________,_______,________,___________,___________,___________,___________

In [9]:
cleaner_salary_df = salary_df_clean.dropna(axis=0)
cleaner_salary_df.head(10)

,State,1939-40,1949-50,1959-60,1969-70,1979-80,1989-90,1996-97,1997-98,1998-99
3,United States,"$1,441","$3,010","$5,174","$9,047","$16,715","$32,638","\2\$40,435","\2\$41,272","$42,459"
5,Alabama,744,"2,111","4,002","6,954","13,338","26,200","33,744","34,040","36,740"
6,Alaska,---,---,"6,859","10,993","27,697","\2\ 43,161","\2\ 52,033","\2\ 48,760","48,085"
7,Arizona,"1,544","3,556","5,590","8,975","16,180","33,592","\2\ 44,157","\2\ 44,819","\2\ 45,785"
8,Arkansas,584,"1,801","3,295","6,461","12,704","23,296","\2\ 31,852","32,186","\2\ 32,879"
9,California,"2,351",---,"\2\ 6,600","10,950","18,626","\2\ 39,309","\2\ 45,349","\2\ 45,610","\2\ 46,593"
11,Colorado,"1,393","2,821","4,997","8,105","16,840","31,832","37,473","\2\ 38,590","\2\ 39,421"
12,Connecticut,"1,861","3,558","6,008","9,597","16,989","41,888","52,067","52,480","53,429"
13,Delaware,"1,684","3,273","\2\ 5,800","9,387","16,845","34,620","43,085","44,169","44,916"
14,District of Columbia,"2,350","3,920","6,280","10,700","23,027","43,637","\2\ 40,854","\2\ 42,068","\2\ 42,974"

In [10]:
cleaner_salary_df = cleaner_salary_df.drop(axis=0, index=66)

cleaner_salary_df.tail(5)

,State,1939-40,1949-50,1959-60,1969-70,1979-80,1989-90,1996-97,1997-98,1998-99
64,Wyoming,"1,169","2,798","4,937","8,496","16,830","29,047","32,620","32,979","34,683"
67,American Samoa,---,---,852,"5,130",---,---,---,---,---
68,Guam,---,---,"4,107","7,800",---,---,---,---,---
69,Puerto Rico,---,---,"\8\ 2,360",---,---,---,---,---,---
70,Virgin Islands,---,---,"3,407",---,---,---,---,---,---

In [11]:
def data_to_int(val):
    if val.strip() == '---':
        return np.NaN
    else:
        return int(''.join(re.findall(r'\d',val.split('\\')[-1])))

In [12]:
data_to_int('11,001')

11001

In [13]:
cleaner_salary_df

,State,1939-40,1949-50,1959-60,1969-70,1979-80,1989-90,1996-97,1997-98,1998-99
3,United States,"$1,441","$3,010","$5,174","$9,047","$16,715","$32,638","\2\$40,435","\2\$41,272","$42,459"
5,Alabama,744,"2,111","4,002","6,954","13,338","26,200","33,744","34,040","36,740"
6,Alaska,---,---,"6,859","10,993","27,697","\2\ 43,161","\2\ 52,033","\2\ 48,760","48,085"
7,Arizona,"1,544","3,556","5,590","8,975","16,180","33,592","\2\ 44,157","\2\ 44,819","\2\ 45,785"
8,Arkansas,584,"1,801","3,295","6,461","12,704","23,296","\2\ 31,852","32,186","\2\ 32,879"
9,California,"2,351",---,"\2\ 6,600","10,950","18,626","\2\ 39,309","\2\ 45,349","\2\ 45,610","\2\ 46,593"
11,Colorado,"1,393","2,821","4,997","8,105","16,840","31,832","37,473","\2\ 38,590","\2\ 39,421"
12,Connecticut,"1,861","3,558","6,008","9,597","16,989","41,888","52,067","52,480","53,429"
13,Delaware,"1,684","3,273","\2\ 5,800","9,387","16,845","34,620","43,085","44,169","44,916"
14,District of Columbia,"2,350","3,920","6,280","10,700","23,027","43,637","\2\ 40,854","\2\ 42,068","\2\ 42,974"
15,Florida,"1,012","2,958","5,080","8,785","14,875","30,275","34,980","35,594","37,048"
17,Georgia,770,"1,963","\3\ 3,904","7,520","14,547","29,541","37,344","39,412","41,591"
18,Hawaii,---,---,"5,390","9,600","20,436","32,956","36,986","39,751","41,547"
19,Idaho,"1,057","2,481","4,216","7,081","14,110","24,758","33,277","\2\ 34,326","35,643"
20,Illinois,"1,700","3,458","\4\ 5,814","9,789","18,271","33,912","43,686","45,361","47,312"
21,Indiana,"1,433","3,401","5,542","9,239","16,256","31,905","40,062","\2\ 41,014","42,501"
23,Iowa,"1,017","2,420","\2\ 4,030","8,779","15,776","27,619","34,477","35,326","36,209"
24,Kansas,"1,014","2,628","\2\ 4,450","7,811","14,513","30,154","38,379","39,219","39,690"
25,Kentucky,826,"1,936","3,327","7,325","15,350","27,482","35,560","\2\ 36,222","37,251"
26,Louisiana,"1,006","2,983","4,978","7,264","14,020","25,036","30,499","\2\ 31,602","33,943"
27,Maine,894,"2,115","3,694","8,059","13,743","27,831","34,796","35,484","36,125"
29,Maryland,"1,642","3,594","5,557","9,885","18,308","37,520","42,988","43,618","44,873"
30,Massachusetts,"2,037","3,338","\5\ 5,545","9,347","18,900","40,175","\2\ 54,244","\2\ 55,630","\2\ 56,829"
31,Michigan,"1,576","3,420","5,654","10,125","20,682","\2\ 37,286","\2\ 47,181","\2\ 47,500","\2\ 48,207"
32,Minnesota,"1,276","3,013","5,275","9,250","16,654","33,340","39,258","\2\ 39,123","40,707"
33,Mississippi,559,"1,416","3,314","5,959","12,274","25,079","28,648","29,857","30,743"
35,Missouri,"1,159","2,581","4,536","8,064","14,543","28,166","34,789","35,624","36,512"
36,Montana,"1,184","2,962","\2\ 4,425","7,875","15,080","29,526","\2\ 31,836","32,536","30,034"
37,Nebraska,829,"2,292","3,876","7,633","14,236","27,024","35,045","35,800","36,571"
38,Nevada,"1,557","3,209","5,693","9,615","17,290","31,970","39,179","39,002","41,007"
39,New Hampshire,"1,258","2,712","4,455","8,016","13,508","\2\ 29,798","\2\ 43,455","\2\ 44,234","\2\ 45,187"
41,New Jersey,"2,093","3,511","5,871","9,650","18,851","37,485","52,411","53,196","\2\ 54,342"
42,New Mexico,"1,144","3,215","5,382","10,021","15,406","25,790","30,914","31,580","33,714"
43,New York,"2,604","3,706","6,537","11,240","20,400","40,000","48,600","\2\ 49,320","\2\ 50,300"
44,North Carolina,946,"2,688","4,178","7,762","14,445","28,952","32,383","34,398","37,279"
45,North Dakota,745,"2,324","3,695","6,840","13,684","23,788","27,905","28,438","29,215"
47,Ohio,"1,587","3,088","5,124","8,594","16,100","32,467","39,938","40,352","41,986"
48,Oklahoma,"1,014","2,736","4,659","7,257","13,500","23,944","31,894","32,302","\2\ 32,783"
49,Oregon,"1,333","3,323","5,535","9,200","16,996","32,100","42,420","\2\ 43,700","43,142"
50,Pennsylvania,"1,640","3,006","5,308","8,899","17,060","34,110","48,178","48,624","49,566"
51,Rhode Island,"1,809","3,294","\6\ 5,499","9,030","18,425","36,704","\2\ 44,188","45,504","\2\ 51,689"
53,South Carolina,743,"1,891","3,450","7,069","13,670","28,453","34,421","35,358","36,217"
54,South Dakota,807,"2,064","3,725","7,200","13,010","22,120","27,767","\2\ 28,880","29,387"
55,Tennessee,862,"2,302","3,929","7,187","14,193","27,949","35,555","36,700","\2\ 37,491"
56,Texas,"1,079","3,122","4,708","7,598","14,729","28,549","34,937","36,112","36,999"
57,Utah,"1,394","3,103","5,096","8,049","17,403","24,591","33,031","\2\ 33,265","\2\ 33,982"
59,Vermont,981,"2,348","4,466","8,225","13,300","29,012","36,053","36,299","\2\ 37,081"
60,Virginia,899,"2,328","4,312","8,364","14,655","31,656","36,426","37,458","\2\ 38,265"
61,Washington,"1,706","3,487","\6\ 5,643","9,792","19,735","31,828","39,594","40,629","40,596"
62,West Virginia,"1,170","2,425","3,952","7,954","14,395","23,842","34,345","34,564","35,451"
63,Wisconsin,"1,379","3,007","\7\ 4,870","9,150","16,335","32,445","41,848","\2\ 42,273","43,507"
64,Wyoming,"1,169","2,798","4,937","8,496","16,830","29,047","32,620","32,979","34,683"
67,American Samoa,---,---,852,"5,130",---,---,---,---,---
68,Guam,---,---,"4,107","7,800",---,---,---,---,---
69,Puerto Rico,---,---,"\8\ 2,360",---,---,---,---,---,---
70,Virgin Islands,---,---,"3,407",---,---,---,---,---,---

In [14]:
salary_df_final = cleaner_salary_df.copy()

for i in list(range(len(salary_df_final.columns)-1)):
    salary_df_final[salary_df_final.columns[i+1]] = salary_df_final[salary_df_final.columns[i+1]].apply(data_to_int)

In [15]:
salary_df_final

,State,1939-40,1949-50,1959-60,1969-70,1979-80,1989-90,1996-97,1997-98,1998-99
3,United States,1441.0,3010.0,5174,9047.0,16715.0,32638.0,40435.0,41272.0,42459.0
5,Alabama,744.0,2111.0,4002,6954.0,13338.0,26200.0,33744.0,34040.0,36740.0
6,Alaska,NaN,NaN,6859,10993.0,27697.0,43161.0,52033.0,48760.0,48085.0
7,Arizona,1544.0,3556.0,5590,8975.0,16180.0,33592.0,44157.0,44819.0,45785.0
8,Arkansas,584.0,1801.0,3295,6461.0,12704.0,23296.0,31852.0,32186.0,32879.0
9,California,2351.0,NaN,6600,10950.0,18626.0,39309.0,45349.0,45610.0,46593.0
11,Colorado,1393.0,2821.0,4997,8105.0,16840.0,31832.0,37473.0,38590.0,39421.0
12,Connecticut,1861.0,3558.0,6008,9597.0,16989.0,41888.0,52067.0,52480.0,53429.0
13,Delaware,1684.0,3273.0,5800,9387.0,16845.0,34620.0,43085.0,44169.0,44916.0
14,District of Columbia,2350.0,3920.0,6280,10700.0,23027.0,43637.0,40854.0,42068.0,42974.0
15,Florida,1012.0,2958.0,5080,8785.0,14875.0,30275.0,34980.0,35594.0,37048.0
17,Georgia,770.0,1963.0,3904,7520.0,14547.0,29541.0,37344.0,39412.0,41591.0
18,Hawaii,NaN,NaN,5390,9600.0,20436.0,32956.0,36986.0,39751.0,41547.0
19,Idaho,1057.0,2481.0,4216,7081.0,14110.0,24758.0,33277.0,34326.0,35643.0
20,Illinois,1700.0,3458.0,5814,9789.0,18271.0,33912.0,43686.0,45361.0,47312.0
21,Indiana,1433.0,3401.0,5542,9239.0,16256.0,31905.0,40062.0,41014.0,42501.0
23,Iowa,1017.0,2420.0,4030,8779.0,15776.0,27619.0,34477.0,35326.0,36209.0
24,Kansas,1014.0,2628.0,4450,7811.0,14513.0,30154.0,38379.0,39219.0,39690.0
25,Kentucky,826.0,1936.0,3327,7325.0,15350.0,27482.0,35560.0,36222.0,37251.0
26,Louisiana,1006.0,2983.0,4978,7264.0,14020.0,25036.0,30499.0,31602.0,33943.0
27,Maine,894.0,2115.0,3694,8059.0,13743.0,27831.0,34796.0,35484.0,36125.0
29,Maryland,1642.0,3594.0,5557,9885.0,18308.0,37520.0,42988.0,43618.0,44873.0
30,Massachusetts,2037.0,3338.0,5545,9347.0,18900.0,40175.0,54244.0,55630.0,56829.0
31,Michigan,1576.0,3420.0,5654,10125.0,20682.0,37286.0,47181.0,47500.0,48207.0
32,Minnesota,1276.0,3013.0,5275,9250.0,16654.0,33340.0,39258.0,39123.0,40707.0
33,Mississippi,559.0,1416.0,3314,5959.0,12274.0,25079.0,28648.0,29857.0,30743.0
35,Missouri,1159.0,2581.0,4536,8064.0,14543.0,28166.0,34789.0,35624.0,36512.0
36,Montana,1184.0,2962.0,4425,7875.0,15080.0,29526.0,31836.0,32536.0,30034.0
37,Nebraska,829.0,2292.0,3876,7633.0,14236.0,27024.0,35045.0,35800.0,36571.0
38,Nevada,1557.0,3209.0,5693,9615.0,17290.0,31970.0,39179.0,39002.0,41007.0
39,New Hampshire,1258.0,2712.0,4455,8016.0,13508.0,29798.0,43455.0,44234.0,45187.0
41,New Jersey,2093.0,3511.0,5871,9650.0,18851.0,37485.0,52411.0,53196.0,54342.0
42,New Mexico,1144.0,3215.0,5382,10021.0,15406.0,25790.0,30914.0,31580.0,33714.0
43,New York,2604.0,3706.0,6537,11240.0,20400.0,40000.0,48600.0,49320.0,50300.0
44,North Carolina,946.0,2688.0,4178,7762.0,14445.0,28952.0,32383.0,34398.0,37279.0
45,North Dakota,745.0,2324.0,3695,6840.0,13684.0,23788.0,27905.0,28438.0,29215.0
47,Ohio,1587.0,3088.0,5124,8594.0,16100.0,32467.0,39938.0,40352.0,41986.0
48,Oklahoma,1014.0,2736.0,4659,7257.0,13500.0,23944.0,31894.0,32302.0,32783.0
49,Oregon,1333.0,3323.0,5535,9200.0,16996.0,32100.0,42420.0,43700.0,43142.0
50,Pennsylvania,1640.0,3006.0,5308,8899.0,17060.0,34110.0,48178.0,48624.0,49566.0
51,Rhode Island,1809.0,3294.0,5499,9030.0,18425.0,36704.0,44188.0,45504.0,51689.0
53,South Carolina,743.0,1891.0,3450,7069.0,13670.0,28453.0,34421.0,35358.0,36217.0
54,South Dakota,807.0,2064.0,3725,7200.0,13010.0,22120.0,27767.0,28880.0,29387.0
55,Tennessee,862.0,2302.0,3929,7187.0,14193.0,27949.0,35555.0,36700.0,37491.0
56,Texas,1079.0,3122.0,4708,7598.0,14729.0,28549.0,34937.0,36112.0,36999.0
57,Utah,1394.0,3103.0,5096,8049.0,17403.0,24591.0,33031.0,33265.0,33982.0
59,Vermont,981.0,2348.0,4466,8225.0,13300.0,29012.0,36053.0,36299.0,37081.0
60,Virginia,899.0,2328.0,4312,8364.0,14655.0,31656.0,36426.0,37458.0,38265.0
61,Washington,1706.0,3487.0,5643,9792.0,19735.0,31828.0,39594.0,40629.0,40596.0
62,West Virginia,1170.0,2425.0,3952,7954.0,14395.0,23842.0,34345.0,34564.0,35451.0
63,Wisconsin,1379.0,3007.0,4870,9150.0,16335.0,32445.0,41848.0,42273.0,43507.0
64,Wyoming,1169.0,2798.0,4937,8496.0,16830.0,29047.0,32620.0,32979.0,34683.0
67,American Samoa,NaN,NaN,852,5130.0,NaN,NaN,NaN,NaN,NaN
68,Guam,NaN,NaN,4107,7800.0,NaN,NaN,NaN,NaN,NaN
69,Puerto Rico,NaN,NaN,2360,NaN,NaN,NaN,NaN,NaN,NaN
70,Virgin Islands,NaN,NaN,3407,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
salary_df_final.to_csv('Data/2000_avg_teacher_salaries.csv', index=False)