In [26]:
#import libraries

import numpy as np
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup as soup

In [27]:
# Set URL as a variable
url = 'https://nces.ed.gov/programs/digest/d01/dt078.asp'

# Use requests.post becuase it'll pull data after the webpage has loaded
r=requests.post(url)

# create a "soup" object 
data = soup(r.text, 'html.parser')

In [28]:
# Identify element tag with target data
data.select('table td pre')[0]

<pre style="text-align:left; padding-left:4px">
_________________________________________________________________________________________________________________________________________________________
                      |                                                               |                                                       | Percent
                      |                    Current dollars                            |                 Constant 2000-01 dollars              | change,
                      |                                                               |                                                       |1989-90 to
        State         |_______________________________________________________________|_______________________________________________________|2000-01 in
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |constant
                      |1969-70|1979-80 |1989-90 |1995-96 |1998-99 |1999-2000| 2000-01 |1969-70 |1979-80 |1989-90 |1995-96 |1998-99 |1999-2000 | dollars
______________________|_______|________|________|________|________|_________|_________|________|________|________|________|________|__________|__________
          1           |   2   |   3    |   4    |   5    |   6    |    7    |    8    |   9    |   10   |   11   |   12   |   13   |    14    |    15
______________________|_______|________|________|________|________|_________|_________|________|________|________|________|________|__________|__________
   United States .....|$8,626 |$15,970 |$31,367 |$37,642 |$40,580 | $41,724 | $42,898 |$39,983 |$36,018 |$43,253 |$42,659 |$43,182 |  $43,153 |     -0.8
                      |_______|________|________|________|________|_________|_________|________|________|________|________|________|__________|__________
Alabama ..............| 6,818 | 13,060 | 24,828 | 31,313 | 35,820 |  36,689 |  37,956 | 31,602 | 29,455 | 34,237 | 35,486 | 38,117 |   37,946 |     10.9
Alaska ...............|10,560 | 27,210 | 43,153 | 49,620 | 46,845 |  47,262 |  46,986 | 48,947 | 61,369 | 59,506 | 56,233 | 49,849 |   48,881 |    -21.0
Arizona ..............| 8,711 | 15,054 | 29,402 | 32,483 | 35,025 |  35,650 |  36,302 | 40,377 | 33,953 | 40,544 | 36,812 | 37,271 |   36,871 |    -10.5
Arkansas .............| 6,307 | 12,299 | 22,352 | 29,533 | 32,330 |  33,386 |  34,476 | 29,234 | 27,739 | 30,822 | 33,469 | 34,403 |   34,530 |     11.9
California ...........|10,315 | 18,020 | 37,998 | 42,259 | 46,129 |  47,680 |  48,923 | 47,811 | 40,642 | 52,397 | 47,891 | 49,087 |   49,314 |     -6.6
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
Colorado .............| 7,761 | 16,205 | 30,758 | 35,364 | 38,157 |  38,163 |  39,284 | 35,973 | 36,548 | 42,414 | 40,077 | 40,604 |   39,470 |     -7.4
Connecticut ..........| 9,262 | 16,229 | 40,461 | 50,254 | 51,424 |  51,780 |  52,100 | 42,931 | 36,603 | 55,794 | 56,952 | 54,721 |   53,554 |     -6.6
Delaware .............| 9,015 | 16,148 | 33,377 | 40,533 | 43,164 |  44,435 |  47,047 | 41,786 | 36,420 | 46,025 | 45,935 | 45,932 |   45,957 |      2.2
District of Columbia .|10,285 | 22,190 | 38,402 | 43,700 | 47,076 |  47,076 |  48,651 | 47,672 | 50,047 | 52,954 | 49,524 | 50,094 |   48,689 |     -8.1
Florida ..............| 8,412 | 14,149 | 28,803 | 33,330 | 35,916 |  36,722 |  37,824 | 38,991 | 31,911 | 39,718 | 37,772 | 38,219 |   37,980 |     -4.8
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
Georgia ..............| 7,276 | 13,853 | 28,006 | 34,002 | 39,675 |  41,023 |  42,216 | 33,725 | 31,244 | 38,619 | 38,534 | 42,219 |   42,428 |      9.3
Hawaii ...............| 9,453 | 19,920 | 32,047 | 35,807 | 39,871 |  40,578 |  41,980 | 43,816 | 44,927 | 44,191 | 40,579 | 42,427 |   41,968 |     -5.0
Idaho ................| 6,890 | 13,611 | 23,861 | 30,892 | 34,063 |  35,162 |  36,375 | 31,936 | 30,698 | 32,903 | 35,009 | 36,247 |   36,367 |     10.6
Illinois .............| 9,569 | 17,601 | 32,794 | 40,919 | 45,269 |  46,486 |  48,053 | 44,354 | 39,697 | 45,221 | 46,373 | 48,172 |   48,079 |      6.3
Indiana...............| 8,833 | 15,599 | 30,902 | 37,675 | 41,159 |  41,850 |  43,055 | 40,942 | 35,182 | 42,612 | 42,696 | 43,798 |   43,284 |      1.0
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
Iowa .................| 8,355 | 15,203 | 26,747 | 32,372 | 34,998 |  35,678 |  36,479 | 38,727 | 34,289 | 36,883 | 36,687 | 37,242 |   36,900 |     -1.1
Kansas ...............| 7,612 | 13,690 | 28,744 | 32,382 | 37,506 |  38,453 |  39,432 | 35,283 | 30,876 | 39,636 | 36,698 | 39,911 |   39,770 |     -0.5
Kentucky .............| 6,953 | 14,520 | 26,292 | 33,080 | 35,526 |  36,380 |  37,234 | 32,228 | 32,748 | 36,255 | 37,489 | 37,804 |   37,626 |      2.7
Louisiana ............| 7,028 | 13,760 | 24,300 | 27,530 | 32,384 |  33,109 |  34,253 | 32,576 | 31,034 | 33,508 | 31,199 | 34,460 |   34,243 |      2.2
Maine ................| 7,572 | 13,071 | 26,881 | 32,869 | 34,906 |  35,561 |  36,256 | 35,097 | 29,480 | 37,068 | 37,250 | 37,144 |   36,779 |     -2.2
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
Maryland .............| 9,383 | 17,558 | 36,319 | 41,160 | 43,112 |  44,048 |  44,997 | 43,491 | 39,600 | 50,082 | 46,646 | 45,876 |   45,557 |    -10.2
Massachusetts ........| 8,764 | 17,253 | 34,712 | 41,408 | 45,075 |  46,250 |  47,523 | 40,622 | 38,912 | 47,866 | 46,927 | 47,965 |   47,835 |     -0.7
Michigan .............| 9,826 | 19,663 | 37,072 | 46,832 | 47,448 |  48,695 |  49,975 | 45,545 | 44,348 | 51,120 | 53,074 | 50,490 |   50,363 |     -2.2
Minnesota ............| 8,658 | 15,912 | 32,190 | 36,922 | 39,458 |  39,802 |  40,577 | 40,131 | 35,888 | 44,388 | 41,843 | 41,988 |   41,166 |     -8.6
Mississippi ..........| 5,798 | 11,850 | 24,292 | 27,692 | 29,530 |  31,857 |  32,957 | 26,874 | 26,726 | 33,497 | 31,383 | 31,423 |   32,948 |     -1.6
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
Missouri..............| 7,799 | 13,682 | 27,094 | 32,322 | 34,807 |  35,656 |  36,764 | 36,149 | 30,858 | 37,361 | 36,630 | 37,039 |   36,878 |     -1.6
Montana ..............| 7,606 | 14,537 | 25,081 | 29,364 | 31,354 |  32,121 |  32,930 | 35,255 | 32,786 | 34,585 | 33,278 | 33,364 |   33,221 |     -4.8
Nebraska .............| 7,375 | 13,516 | 25,522 | 31,496 | 32,880 |  33,284 |  34,175 | 34,184 | 30,484 | 35,194 | 35,694 | 34,988 |   34,424 |     -2.9
Nevada ...............| 9,215 | 16,295 | 30,590 | 36,167 | 38,883 |  39,390 |  40,172 | 42,713 | 36,751 | 42,182 | 40,987 | 41,376 |   40,740 |     -4.8
New Hampshire ........| 7,771 | 13,017 | 28,986 | 35,792 | 37,405 |  37,734 |  38,303 | 36,020 | 29,358 | 39,970 | 40,562 | 39,803 |   39,027 |     -4.2
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
New Jersey ...........| 9,130 | 17,161 | 35,676 | 48,751 | 51,193 |  52,174 |  53,281 | 42,319 | 38,705 | 49,195 | 55,249 | 54,475 |   53,961 |      8.3
New Mexico ...........| 7,796 | 14,887 | 24,756 | 29,074 | 32,398 |  32,554 |  33,785 | 36,135 | 33,576 | 34,137 | 32,949 | 34,475 |   33,669 |     -1.0
New York .............|10,336 | 19,812 | 38,925 | 48,115 | 49,437 |  50,173 |  50,920 | 47,909 | 44,684 | 53,676 | 54,528 | 52,607 |   51,892 |     -5.1
North Carolina .......| 7,494 | 14,117 | 27,883 | 30,411 | 36,883 |  39,419 |  41,167 | 34,736 | 31,839 | 38,449 | 34,464 | 39,248 |   40,770 |      7.1
North Dakota .........| 6,696 | 13,263 | 23,016 | 26,969 | 28,976 |  29,863 |  30,891 | 31,037 | 29,913 | 31,738 | 30,563 | 30,834 |   30,886 |     -2.7
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
Ohio .................| 8,300 | 15,269 | 31,218 | 37,835 | 40,561 |  41,436 |  42,716 | 38,472 | 34,437 | 43,048 | 42,878 | 43,162 |   42,856 |     -0.8
Oklahoma .............| 6,882 | 13,107 | 23,070 | 28,404 | 31,115 |  31,298 |  34,434 | 31,899 | 29,561 | 31,812 | 32,190 | 33,110 |   32,370 |      8.2
Oregon ...............| 8,818 | 16,266 | 30,840 | 39,706 | 42,833 |  40,919 |  42,333 | 40,873 | 36,686 | 42,527 | 44,998 | 45,579 |   42,321 |     -0.5
Pennsylvania .........| 8,858 | 16,515 | 33,338 | 46,087 | 48,457 |  48,321 |  49,500 | 41,058 | 37,248 | 45,971 | 52,230 | 51,564 |   49,976 |      7.7
Rhode Island .........| 8,776 | 18,002 | 36,057 | 41,765 | 45,650 |  47,041 |  48,474 | 40,678 | 40,601 | 49,721 | 47,332 | 48,577 |   48,653 |     -2.5
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
South Carolina .......| 6,927 | 13,063 | 27,217 | 31,622 | 34,506 |  36,081 |  37,327 | 32,108 | 29,462 | 37,531 | 35,837 | 36,718 |   37,317 |     -0.5
South Dakota .........| 6,403 | 12,348 | 21,300 | 26,346 | 28,552 |  29,072 |  30,265 | 29,679 | 27,849 | 29,372 | 29,857 | 30,383 |   30,068 |      3.0
Tennessee ............| 7,050 | 13,972 | 27,052 | 33,126 | 35,490 |  36,328 |  37,074 | 32,678 | 31,512 | 37,303 | 37,541 | 37,766 |   37,573 |     -0.6
Texas ................| 7,255 | 14,132 | 27,496 | 31,400 | 34,337 |  37,567 |  38,614 | 33,628 | 31,873 | 37,916 | 35,585 | 36,539 |   38,854 |      1.8
Utah .................| 7,644 | 14,909 | 23,686 | 30,588 | 34,070 |  34,946 |  36,049 | 35,431 | 33,625 | 32,662 | 34,665 | 36,254 |   36,143 |     10.4
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
Vermont ..............| 7,968 | 12,484 | 29,012 | 36,295 | 36,800 |  37,714 |  38,651 | 36,933 | 28,156 | 40,006 | 41,132 | 39,160 |   39,006 |     -3.4
Virginia .............| 8,070 | 14,060 | 30,938 | 34,792 | 37,266 |  38,123 |  40,197 | 37,405 | 31,711 | 42,662 | 39,429 | 39,655 |   39,429 |     -5.8
Washington ...........| 9,225 | 18,820 | 30,457 | 37,853 | 38,687 |  41,013 |  42,101 | 42,759 | 42,446 | 41,999 | 42,898 | 41,168 |   42,418 |      0.2
West Virginia.........| 7,650 | 13,710 | 22,842 | 32,155 | 34,244 |  35,008 |  35,764 | 35,459 | 30,921 | 31,498 | 36,441 | 36,440 |   36,207 |     13.5
Wisconsin ............| 8,963 | 16,006 | 31,921 | 38,182 | 40,657 |  41,153 |  41,646 | 41,545 | 36,100 | 44,017 | 43,271 | 43,264 |   42,563 |     -5.4
Wyoming ..............| 8,232 | 16,012 | 28,141 | 31,571 | 33,500 |  34,140 |  34,189 | 38,156 | 36,113 | 38,805 | 35,779 | 35,648 |   35,310 |    -11.9
______________________|_______|________|________|________|________|_________|_________|________|________|________|________|________|__________|__________</pre>

In [29]:
# Our data of interest is the text that is formatted like a table
# Select that data and return as text
doi= data.select('table td pre')[0].text
print(doi)

_________________________________________________________________________________________________________________________________________________________
                      |                                                               |                                                       | Percent
                      |                    Current dollars                            |                 Constant 2000-01 dollars              | change,
                      |                                                               |                                                       |1989-90 to
        State         |_______________________________________________________________|_______________________________________________________|2000-01 in
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |constant
                      |1969-70|1979-80 |1989-90 |1995-96 |1998-99 |1999-2000| 2000-01 |1969-70 |1979-80 |1989-90 |1995-96 |1998-99 |1999-2000 | dollars
______________________|_______|________|________|________|________|_________|_________|________|________|________|________|________|__________|__________
          1           |   2   |   3    |   4    |   5    |   6    |    7    |    8    |   9    |   10   |   11   |   12   |   13   |    14    |    15
______________________|_______|________|________|________|________|_________|_________|________|________|________|________|________|__________|__________
   United States .....|$8,626 |$15,970 |$31,367 |$37,642 |$40,580 | $41,724 | $42,898 |$39,983 |$36,018 |$43,253 |$42,659 |$43,182 |  $43,153 |     -0.8
                      |_______|________|________|________|________|_________|_________|________|________|________|________|________|__________|__________
Alabama ..............| 6,818 | 13,060 | 24,828 | 31,313 | 35,820 |  36,689 |  37,956 | 31,602 | 29,455 | 34,237 | 35,486 | 38,117 |   37,946 |     10.9
Alaska ...............|10,560 | 27,210 | 43,153 | 49,620 | 46,845 |  47,262 |  46,986 | 48,947 | 61,369 | 59,506 | 56,233 | 49,849 |   48,881 |    -21.0
Arizona ..............| 8,711 | 15,054 | 29,402 | 32,483 | 35,025 |  35,650 |  36,302 | 40,377 | 33,953 | 40,544 | 36,812 | 37,271 |   36,871 |    -10.5
Arkansas .............| 6,307 | 12,299 | 22,352 | 29,533 | 32,330 |  33,386 |  34,476 | 29,234 | 27,739 | 30,822 | 33,469 | 34,403 |   34,530 |     11.9
California ...........|10,315 | 18,020 | 37,998 | 42,259 | 46,129 |  47,680 |  48,923 | 47,811 | 40,642 | 52,397 | 47,891 | 49,087 |   49,314 |     -6.6
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
Colorado .............| 7,761 | 16,205 | 30,758 | 35,364 | 38,157 |  38,163 |  39,284 | 35,973 | 36,548 | 42,414 | 40,077 | 40,604 |   39,470 |     -7.4
Connecticut ..........| 9,262 | 16,229 | 40,461 | 50,254 | 51,424 |  51,780 |  52,100 | 42,931 | 36,603 | 55,794 | 56,952 | 54,721 |   53,554 |     -6.6
Delaware .............| 9,015 | 16,148 | 33,377 | 40,533 | 43,164 |  44,435 |  47,047 | 41,786 | 36,420 | 46,025 | 45,935 | 45,932 |   45,957 |      2.2
District of Columbia .|10,285 | 22,190 | 38,402 | 43,700 | 47,076 |  47,076 |  48,651 | 47,672 | 50,047 | 52,954 | 49,524 | 50,094 |   48,689 |     -8.1
Florida ..............| 8,412 | 14,149 | 28,803 | 33,330 | 35,916 |  36,722 |  37,824 | 38,991 | 31,911 | 39,718 | 37,772 | 38,219 |   37,980 |     -4.8
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
Georgia ..............| 7,276 | 13,853 | 28,006 | 34,002 | 39,675 |  41,023 |  42,216 | 33,725 | 31,244 | 38,619 | 38,534 | 42,219 |   42,428 |      9.3
Hawaii ...............| 9,453 | 19,920 | 32,047 | 35,807 | 39,871 |  40,578 |  41,980 | 43,816 | 44,927 | 44,191 | 40,579 | 42,427 |   41,968 |     -5.0
Idaho ................| 6,890 | 13,611 | 23,861 | 30,892 | 34,063 |  35,162 |  36,375 | 31,936 | 30,698 | 32,903 | 35,009 | 36,247 |   36,367 |     10.6
Illinois .............| 9,569 | 17,601 | 32,794 | 40,919 | 45,269 |  46,486 |  48,053 | 44,354 | 39,697 | 45,221 | 46,373 | 48,172 |   48,079 |      6.3
Indiana...............| 8,833 | 15,599 | 30,902 | 37,675 | 41,159 |  41,850 |  43,055 | 40,942 | 35,182 | 42,612 | 42,696 | 43,798 |   43,284 |      1.0
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
Iowa .................| 8,355 | 15,203 | 26,747 | 32,372 | 34,998 |  35,678 |  36,479 | 38,727 | 34,289 | 36,883 | 36,687 | 37,242 |   36,900 |     -1.1
Kansas ...............| 7,612 | 13,690 | 28,744 | 32,382 | 37,506 |  38,453 |  39,432 | 35,283 | 30,876 | 39,636 | 36,698 | 39,911 |   39,770 |     -0.5
Kentucky .............| 6,953 | 14,520 | 26,292 | 33,080 | 35,526 |  36,380 |  37,234 | 32,228 | 32,748 | 36,255 | 37,489 | 37,804 |   37,626 |      2.7
Louisiana ............| 7,028 | 13,760 | 24,300 | 27,530 | 32,384 |  33,109 |  34,253 | 32,576 | 31,034 | 33,508 | 31,199 | 34,460 |   34,243 |      2.2
Maine ................| 7,572 | 13,071 | 26,881 | 32,869 | 34,906 |  35,561 |  36,256 | 35,097 | 29,480 | 37,068 | 37,250 | 37,144 |   36,779 |     -2.2
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
Maryland .............| 9,383 | 17,558 | 36,319 | 41,160 | 43,112 |  44,048 |  44,997 | 43,491 | 39,600 | 50,082 | 46,646 | 45,876 |   45,557 |    -10.2
Massachusetts ........| 8,764 | 17,253 | 34,712 | 41,408 | 45,075 |  46,250 |  47,523 | 40,622 | 38,912 | 47,866 | 46,927 | 47,965 |   47,835 |     -0.7
Michigan .............| 9,826 | 19,663 | 37,072 | 46,832 | 47,448 |  48,695 |  49,975 | 45,545 | 44,348 | 51,120 | 53,074 | 50,490 |   50,363 |     -2.2
Minnesota ............| 8,658 | 15,912 | 32,190 | 36,922 | 39,458 |  39,802 |  40,577 | 40,131 | 35,888 | 44,388 | 41,843 | 41,988 |   41,166 |     -8.6
Mississippi ..........| 5,798 | 11,850 | 24,292 | 27,692 | 29,530 |  31,857 |  32,957 | 26,874 | 26,726 | 33,497 | 31,383 | 31,423 |   32,948 |     -1.6
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
Missouri..............| 7,799 | 13,682 | 27,094 | 32,322 | 34,807 |  35,656 |  36,764 | 36,149 | 30,858 | 37,361 | 36,630 | 37,039 |   36,878 |     -1.6
Montana ..............| 7,606 | 14,537 | 25,081 | 29,364 | 31,354 |  32,121 |  32,930 | 35,255 | 32,786 | 34,585 | 33,278 | 33,364 |   33,221 |     -4.8
Nebraska .............| 7,375 | 13,516 | 25,522 | 31,496 | 32,880 |  33,284 |  34,175 | 34,184 | 30,484 | 35,194 | 35,694 | 34,988 |   34,424 |     -2.9
Nevada ...............| 9,215 | 16,295 | 30,590 | 36,167 | 38,883 |  39,390 |  40,172 | 42,713 | 36,751 | 42,182 | 40,987 | 41,376 |   40,740 |     -4.8
New Hampshire ........| 7,771 | 13,017 | 28,986 | 35,792 | 37,405 |  37,734 |  38,303 | 36,020 | 29,358 | 39,970 | 40,562 | 39,803 |   39,027 |     -4.2
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
New Jersey ...........| 9,130 | 17,161 | 35,676 | 48,751 | 51,193 |  52,174 |  53,281 | 42,319 | 38,705 | 49,195 | 55,249 | 54,475 |   53,961 |      8.3
New Mexico ...........| 7,796 | 14,887 | 24,756 | 29,074 | 32,398 |  32,554 |  33,785 | 36,135 | 33,576 | 34,137 | 32,949 | 34,475 |   33,669 |     -1.0
New York .............|10,336 | 19,812 | 38,925 | 48,115 | 49,437 |  50,173 |  50,920 | 47,909 | 44,684 | 53,676 | 54,528 | 52,607 |   51,892 |     -5.1
North Carolina .......| 7,494 | 14,117 | 27,883 | 30,411 | 36,883 |  39,419 |  41,167 | 34,736 | 31,839 | 38,449 | 34,464 | 39,248 |   40,770 |      7.1
North Dakota .........| 6,696 | 13,263 | 23,016 | 26,969 | 28,976 |  29,863 |  30,891 | 31,037 | 29,913 | 31,738 | 30,563 | 30,834 |   30,886 |     -2.7
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
Ohio .................| 8,300 | 15,269 | 31,218 | 37,835 | 40,561 |  41,436 |  42,716 | 38,472 | 34,437 | 43,048 | 42,878 | 43,162 |   42,856 |     -0.8
Oklahoma .............| 6,882 | 13,107 | 23,070 | 28,404 | 31,115 |  31,298 |  34,434 | 31,899 | 29,561 | 31,812 | 32,190 | 33,110 |   32,370 |      8.2
Oregon ...............| 8,818 | 16,266 | 30,840 | 39,706 | 42,833 |  40,919 |  42,333 | 40,873 | 36,686 | 42,527 | 44,998 | 45,579 |   42,321 |     -0.5
Pennsylvania .........| 8,858 | 16,515 | 33,338 | 46,087 | 48,457 |  48,321 |  49,500 | 41,058 | 37,248 | 45,971 | 52,230 | 51,564 |   49,976 |      7.7
Rhode Island .........| 8,776 | 18,002 | 36,057 | 41,765 | 45,650 |  47,041 |  48,474 | 40,678 | 40,601 | 49,721 | 47,332 | 48,577 |   48,653 |     -2.5
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
South Carolina .......| 6,927 | 13,063 | 27,217 | 31,622 | 34,506 |  36,081 |  37,327 | 32,108 | 29,462 | 37,531 | 35,837 | 36,718 |   37,317 |     -0.5
South Dakota .........| 6,403 | 12,348 | 21,300 | 26,346 | 28,552 |  29,072 |  30,265 | 29,679 | 27,849 | 29,372 | 29,857 | 30,383 |   30,068 |      3.0
Tennessee ............| 7,050 | 13,972 | 27,052 | 33,126 | 35,490 |  36,328 |  37,074 | 32,678 | 31,512 | 37,303 | 37,541 | 37,766 |   37,573 |     -0.6
Texas ................| 7,255 | 14,132 | 27,496 | 31,400 | 34,337 |  37,567 |  38,614 | 33,628 | 31,873 | 37,916 | 35,585 | 36,539 |   38,854 |      1.8
Utah .................| 7,644 | 14,909 | 23,686 | 30,588 | 34,070 |  34,946 |  36,049 | 35,431 | 33,625 | 32,662 | 34,665 | 36,254 |   36,143 |     10.4
                      |       |        |        |        |        |         |         |        |        |        |        |        |          |
Vermont ..............| 7,968 | 12,484 | 29,012 | 36,295 | 36,800 |  37,714 |  38,651 | 36,933 | 28,156 | 40,006 | 41,132 | 39,160 |   39,006 |     -3.4
Virginia .............| 8,070 | 14,060 | 30,938 | 34,792 | 37,266 |  38,123 |  40,197 | 37,405 | 31,711 | 42,662 | 39,429 | 39,655 |   39,429 |     -5.8
Washington ...........| 9,225 | 18,820 | 30,457 | 37,853 | 38,687 |  41,013 |  42,101 | 42,759 | 42,446 | 41,999 | 42,898 | 41,168 |   42,418 |      0.2
West Virginia.........| 7,650 | 13,710 | 22,842 | 32,155 | 34,244 |  35,008 |  35,764 | 35,459 | 30,921 | 31,498 | 36,441 | 36,440 |   36,207 |     13.5
Wisconsin ............| 8,963 | 16,006 | 31,921 | 38,182 | 40,657 |  41,153 |  41,646 | 41,545 | 36,100 | 44,017 | 43,271 | 43,264 |   42,563 |     -5.4
Wyoming ..............| 8,232 | 16,012 | 28,141 | 31,571 | 33,500 |  34,140 |  34,189 | 38,156 | 36,113 | 38,805 | 35,779 | 35,648 |   35,310 |    -11.9
______________________|_______|________|________|________|________|_________|_________|________|________|________|________|________|__________|__________

In [30]:
# read_csv was taking in object as a file name
# trouble shooting said to use io.StringIO
#  

import io

salary_df = pd.read_csv(io.StringIO(doi),sep='|', #separate columns by |-symbol
            skiprows=7,
            usecols=list(range(0,8))
            )
salary_df

,,1969-70,1979-80,1989-90,1995-96,1998-99,1999-2000,2000-01
0,______________________,_______,________,________,________,________,_________,_________
1,1,2,3,4,5,6,7,8
2,______________________,_______,________,________,________,________,_________,_________
3,United States .....,"$8,626","$15,970","$31,367","$37,642","$40,580","$41,724","$42,898"
4,,_______,________,________,________,________,_________,_________
...,...,...,...,...,...,...,...,...
61,Washington ...........,"9,225","18,820","30,457","37,853","38,687","41,013","42,101"
62,West Virginia.........,"7,650","13,710","22,842","32,155","34,244","35,008","35,764"
63,Wisconsin ............,"8,963","16,006","31,921","38,182","40,657","41,153","41,646"
64,Wyoming ..............,"8,232","16,012","28,141","31,571","33,500","34,140","34,189"
65,______________________,_______,________,________,________,________,_________,_________

### Clean the df

In [31]:
# Rename first column
salary_df.rename(columns={salary_df.columns[0]:'State'}, inplace=True)

salary_df.columns

Index(['State', '1969-70', '1979-80 ', '1989-90 ', '1995-96 ', '1998-99 ',
       '1999-2000', ' 2000-01 '],
      dtype='object')

In [32]:
# Remove white space from other column names

# Create an empty dicitonary
new_column_names = {}

# Loop thru column names and remove white space
for i in list(range(len(salary_df.columns))):
    new_column_names[salary_df.columns[i]] = salary_df.columns[i].strip()

salary_df.rename(columns=new_column_names, inplace=True)

salary_df.head()

,State,1969-70,1979-80,1989-90,1995-96,1998-99,1999-2000,2000-01
0,______________________,_______,________,________,________,________,_________,_________
1,1,2,3,4,5,6,7,8
2,______________________,_______,________,________,________,________,_________,_________
3,United States .....,"$8,626","$15,970","$31,367","$37,642","$40,580","$41,724","$42,898"
4,,_______,________,________,________,________,_________,_________

In [33]:
# remove '...' from state name column and then set as index
def period_remover(value):
    
    temp = value.strip()
    
    if len(temp) > 1 and temp[0].lower() in ('abcdefghijklmnopqrstuvwxyz'):
        return temp.split('.')[0].strip()
    else:
        return np.NaN

salary_df_clean = salary_df.copy()

salary_df_clean['State'] = salary_df_clean['State'].apply(period_remover)

salary_df_clean

,State,1969-70,1979-80,1989-90,1995-96,1998-99,1999-2000,2000-01
0,NaN,_______,________,________,________,________,_________,_________
1,NaN,2,3,4,5,6,7,8
2,NaN,_______,________,________,________,________,_________,_________
3,United States,"$8,626","$15,970","$31,367","$37,642","$40,580","$41,724","$42,898"
4,NaN,_______,________,________,________,________,_________,_________
...,...,...,...,...,...,...,...,...
61,Washington,"9,225","18,820","30,457","37,853","38,687","41,013","42,101"
62,West Virginia,"7,650","13,710","22,842","32,155","34,244","35,008","35,764"
63,Wisconsin,"8,963","16,006","31,921","38,182","40,657","41,153","41,646"
64,Wyoming,"8,232","16,012","28,141","31,571","33,500","34,140","34,189"
65,NaN,_______,________,________,________,________,_________,_________

In [34]:
cleaner_salary_df = salary_df_clean.dropna(axis=0)
cleaner_salary_df.head(10)

,State,1969-70,1979-80,1989-90,1995-96,1998-99,1999-2000,2000-01
3,United States,"$8,626","$15,970","$31,367","$37,642","$40,580","$41,724","$42,898"
5,Alabama,"6,818","13,060","24,828","31,313","35,820","36,689","37,956"
6,Alaska,"10,560","27,210","43,153","49,620","46,845","47,262","46,986"
7,Arizona,"8,711","15,054","29,402","32,483","35,025","35,650","36,302"
8,Arkansas,"6,307","12,299","22,352","29,533","32,330","33,386","34,476"
9,California,"10,315","18,020","37,998","42,259","46,129","47,680","48,923"
11,Colorado,"7,761","16,205","30,758","35,364","38,157","38,163","39,284"
12,Connecticut,"9,262","16,229","40,461","50,254","51,424","51,780","52,100"
13,Delaware,"9,015","16,148","33,377","40,533","43,164","44,435","47,047"
14,District of Columbia,"10,285","22,190","38,402","43,700","47,076","47,076","48,651"

In [35]:
cleaner_salary_df.tail(5)

,State,1969-70,1979-80,1989-90,1995-96,1998-99,1999-2000,2000-01
60,Virginia,"8,070","14,060","30,938","34,792","37,266","38,123","40,197"
61,Washington,"9,225","18,820","30,457","37,853","38,687","41,013","42,101"
62,West Virginia,"7,650","13,710","22,842","32,155","34,244","35,008","35,764"
63,Wisconsin,"8,963","16,006","31,921","38,182","40,657","41,153","41,646"
64,Wyoming,"8,232","16,012","28,141","31,571","33,500","34,140","34,189"

In [36]:
def data_to_int(val):
    if val == '---':
        return np.NaN
    else:
         return int(''.join(re.findall(r'\d',val.split('\\')[-1])))

In [37]:
data_to_int('11,001')

11001

In [38]:
salary_df_final = cleaner_salary_df.copy()

for i in list(range(len(salary_df_final.columns)-1)):
    salary_df_final[salary_df_final.columns[i+1]] = salary_df_final[salary_df_final.columns[i+1]].apply(data_to_int)

In [39]:
salary_df_final

,State,1969-70,1979-80,1989-90,1995-96,1998-99,1999-2000,2000-01
3,United States,8626,15970,31367,37642,40580,41724,42898
5,Alabama,6818,13060,24828,31313,35820,36689,37956
6,Alaska,10560,27210,43153,49620,46845,47262,46986
7,Arizona,8711,15054,29402,32483,35025,35650,36302
8,Arkansas,6307,12299,22352,29533,32330,33386,34476
9,California,10315,18020,37998,42259,46129,47680,48923
11,Colorado,7761,16205,30758,35364,38157,38163,39284
12,Connecticut,9262,16229,40461,50254,51424,51780,52100
13,Delaware,9015,16148,33377,40533,43164,44435,47047
14,District of Columbia,10285,22190,38402,43700,47076,47076,48651
15,Florida,8412,14149,28803,33330,35916,36722,37824
17,Georgia,7276,13853,28006,34002,39675,41023,42216
18,Hawaii,9453,19920,32047,35807,39871,40578,41980
19,Idaho,6890,13611,23861,30892,34063,35162,36375
20,Illinois,9569,17601,32794,40919,45269,46486,48053
21,Indiana,8833,15599,30902,37675,41159,41850,43055
23,Iowa,8355,15203,26747,32372,34998,35678,36479
24,Kansas,7612,13690,28744,32382,37506,38453,39432
25,Kentucky,6953,14520,26292,33080,35526,36380,37234
26,Louisiana,7028,13760,24300,27530,32384,33109,34253
27,Maine,7572,13071,26881,32869,34906,35561,36256
29,Maryland,9383,17558,36319,41160,43112,44048,44997
30,Massachusetts,8764,17253,34712,41408,45075,46250,47523
31,Michigan,9826,19663,37072,46832,47448,48695,49975
32,Minnesota,8658,15912,32190,36922,39458,39802,40577
33,Mississippi,5798,11850,24292,27692,29530,31857,32957
35,Missouri,7799,13682,27094,32322,34807,35656,36764
36,Montana,7606,14537,25081,29364,31354,32121,32930
37,Nebraska,7375,13516,25522,31496,32880,33284,34175
38,Nevada,9215,16295,30590,36167,38883,39390,40172
39,New Hampshire,7771,13017,28986,35792,37405,37734,38303
41,New Jersey,9130,17161,35676,48751,51193,52174,53281
42,New Mexico,7796,14887,24756,29074,32398,32554,33785
43,New York,10336,19812,38925,48115,49437,50173,50920
44,North Carolina,7494,14117,27883,30411,36883,39419,41167
45,North Dakota,6696,13263,23016,26969,28976,29863,30891
47,Ohio,8300,15269,31218,37835,40561,41436,42716
48,Oklahoma,6882,13107,23070,28404,31115,31298,34434
49,Oregon,8818,16266,30840,39706,42833,40919,42333
50,Pennsylvania,8858,16515,33338,46087,48457,48321,49500
51,Rhode Island,8776,18002,36057,41765,45650,47041,48474
53,South Carolina,6927,13063,27217,31622,34506,36081,37327
54,South Dakota,6403,12348,21300,26346,28552,29072,30265
55,Tennessee,7050,13972,27052,33126,35490,36328,37074
56,Texas,7255,14132,27496,31400,34337,37567,38614
57,Utah,7644,14909,23686,30588,34070,34946,36049
59,Vermont,7968,12484,29012,36295,36800,37714,38651
60,Virginia,8070,14060,30938,34792,37266,38123,40197
61,Washington,9225,18820,30457,37853,38687,41013,42101
62,West Virginia,7650,13710,22842,32155,34244,35008,35764
63,Wisconsin,8963,16006,31921,38182,40657,41153,41646
64,Wyoming,8232,16012,28141,31571,33500,34140,34189

In [40]:
salary_df_final.to_csv('Data/2001_avg_teacher_salaries.csv', index=False)

In [ ]:
# 2006 and on can use pd.read_html 

# For everything before that: pd.read_csv

# 1995 has a unique url ('https://nces.ed.gov/programs/digest/d95/dtab077.asp')

# Table 77 for 1996 ('https://nces.ed.gov/programs/digest/d96/d96t077.asp')
# Table 77 for 2005 ('https://nces.ed.gov/programs/digest/d05/tables/dt05_077.asp')

# Table 78 for 1997 ('https://nces.ed.gov/programs/digest/d97/d97t078.asp')
# Table 78 for 2000-04 ('https://nces.ed.gov/programs/digest/d00/dt078.asp')

#Table 79 in 1998,99 ('https://nces.ed.gov/programs/digest/d98/d98t079.asp')

for year in range(1995,2013):
    print(year)
    try:
        url = f'https://nces.ed.gov/programs/digest/d{str(year)[2:]}/d{str(year)[2:]}t077.asp'
        r=requests.post(url)
        data = soup(r.text, 'html.parser')

        table_list = data.select('table td pre')

        print(len(table_list))   
    except:
        print(f'No data in this link: {url}')

In [41]:
#import libraries

import io
import numpy as np
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup as soup

def table_scraper(url):
    # ----------------------------------------------------------------------------------------------------------------------
    
    # Use requests.post becuase it'll pull data after the webpage has loaded
    r=requests.post(url)

    # create a "soup" object 
    data = soup(r.text, 'html.parser')

    # ----------------------------------------------------------------------------------------------------------------------

    # Our data of interest is the text that is formatted like a table
    # Select that data and return as text
    doi= data.select('table td pre')[0].text

    # ----------------------------------------------------------------------------------------------------------------------

    salary_df = pd.read_csv(io.StringIO(doi),sep='|', #separate columns by |-symbol
                skiprows=6,
                usecols=list(range(0,8))
                )

    # ----------------------------------------------------------------------------------------------------------------------

    # Rename first column
    salary_df.rename(columns={salary_df.columns[0]:'State'}, inplace=True)

    # ----------------------------------------------------------------------------------------------------------------------

    # Remove white space from other column names

    # Create an empty dicitonary
    new_column_names = {}

    # Loop thru column names and remove white space
    for i in list(range(len(salary_df.columns))):
        new_column_names[salary_df.columns[i]] = salary_df.columns[i].strip()

    salary_df.rename(columns=new_column_names, inplace=True)

    # ----------------------------------------------------------------------------------------------------------------------

    # remove '...' from state name column and then set as index
    def period_remover(value):
        
        temp = value.strip()
        
        if len(temp) > 1 and temp[0].lower() in ('abcdefghijklmnopqrstuvwxyz'):
            return temp.split('.')[0].strip()
        else:
            return np.NaN

    salary_df_clean = salary_df.copy()

    salary_df_clean['State'] = salary_df_clean['State'].apply(period_remover)

    # ----------------------------------------------------------------------------------------------------------------------

    cleaner_salary_df = salary_df_clean.dropna(axis=0)

    # ----------------------------------------------------------------------------------------------------------------------

    def data_to_int(val):
        return int(''.join(re.findall(r'\d',val.split('\\')[-1])))

    salary_df_final = cleaner_salary_df.copy()

    for i in list(range(len(salary_df_final.columns)-1)):
        salary_df_final[salary_df_final.columns[i+1]] = salary_df_final[salary_df_final.columns[i+1]].apply(data_to_int)

    return salary_df_final

In [42]:
df_2002 = table_scraper('https://nces.ed.gov/programs/digest/d02/dt078.asp')
df_2002

,State,1969-70,1979-80,1989-90,1995-96,1999-2000,2000-01,2001-02
3,United States,8626,15970,31367,37642,41754,43335,44604
5,Alabama,6818,13060,24828,31313,36689,37956,39268
6,Alaska,10560,27210,43153,49620,46462,48123,49418
7,Arizona,8711,15054,29402,32483,35650,36302,36966
8,Arkansas,6307,12299,22352,29533,33386,34641,35389
9,California,10315,18020,37998,42259,47680,52480,53870
11,Colorado,7761,16205,30758,35364,38163,39184,40222
12,Connecticut,9262,16229,40461,50254,51780,52693,54300
13,Delaware,9015,16148,33377,40533,44435,47047,48363
14,District of Columbia,10285,22190,38402,43700,47076,48704,47049
15,Florida,8412,14149,28803,33330,36722,38230,38719
17,Georgia,7276,13853,28006,34002,41023,42216,44073
18,Hawaii,9453,19920,32047,35807,40578,40052,41951
19,Idaho,6890,13611,23861,30892,35162,36375,37482
20,Illinois,9569,17601,32794,40919,46486,47847,50000
21,Indiana,8833,15599,30902,37675,41850,43311,44195
23,Iowa,8355,15203,26747,32372,35678,36479,38230
24,Kansas,7612,13690,28744,32382,34981,35901,36673
25,Kentucky,6953,14520,26292,33080,36380,36589,37847
26,Louisiana,7028,13760,24300,27530,33109,33615,35437
27,Maine,7572,13071,26881,32869,35561,36373,37100
29,Maryland,9383,17558,36319,41160,44048,45963,46200
30,Massachusetts,8764,17253,34712,41760,46580,48649,50293
31,Michigan,9826,19663,37072,46832,49044,50694,52037
32,Minnesota,8658,15912,32190,36922,39802,42212,43330
33,Mississippi,5798,11850,24292,27692,31857,31954,32800
35,Missouri,7799,13682,27094,32322,35656,36722,37695
36,Montana,7606,14537,25081,29364,32121,33249,34379
37,Nebraska,7375,13516,25522,31496,33237,34175,36236
38,Nevada,9215,16295,30590,36167,39390,40443,41524
39,New Hampshire,7771,13017,28986,35792,37734,38301,38911
41,New Jersey,9130,17161,35676,48751,52174,53281,54575
42,New Mexico,7796,14887,24756,29074,32554,33785,36490
43,New York,10336,19812,38925,48115,51020,52040,53081
44,North Carolina,7494,14117,27883,30411,39419,41151,42959
45,North Dakota,6696,13263,23016,26969,29863,30891,31709
47,Ohio,8300,15269,31218,37835,41436,42764,44492
48,Oklahoma,6882,13107,23070,28404,31298,34499,35412
49,Oregon,8818,16266,30840,39706,40919,41711,43886
50,Pennsylvania,8858,16515,33338,46087,48321,49528,50599
51,Rhode Island,8776,18002,36057,41765,47041,48474,49758
53,South Carolina,6927,13063,27217,31622,36081,37938,38943
54,South Dakota,6403,12348,21300,26346,29071,30265,31295
55,Tennessee,7050,13972,27052,33126,36328,37431,38554
56,Texas,7255,14132,27496,31400,37567,38361,39293
57,Utah,7644,14909,23686,30588,34946,36441,37414
59,Vermont,7968,12484,29012,36295,37714,38254,38802
60,Virginia,8070,14060,30938,34792,38744,40197,41262
61,Washington,9225,18820,30457,37853,41043,42137,43483
62,West Virginia,7650,13710,22842,32155,35009,35888,36751
63,Wisconsin,8963,16006,31921,38182,41153,42122,43114
64,Wyoming,8232,16012,28141,31571,34127,34678,37841

In [43]:
df_2002.to_csv('Data/2002_avg_teacher_salaries.csv', index=False)

In [44]:
df_2003 = table_scraper('https://nces.ed.gov/programs/digest/d03/tables/dt078.asp')
df_2003

,State,1969-70,1979-80,1989-90,1999-2000,2000-01,2001-02,2002-03
3,United States,8626,15970,31367,41827,43400,44683,45822
5,Alabama,6818,13060,24828,36689,37069,37194,38246
6,Alaska,10560,27210,43153,46462,48123,49418,49685
7,Arizona,8711,15054,29402,36902,37167,39973,40894
8,Arkansas,6307,12299,22352,33386,34641,36962,37753
9,California,10315,18020,37998,47680,52480,54348,56283
11,Colorado,7761,16205,30758,38163,39184,40659,41275
12,Connecticut,9262,16229,40461,51780,52693,53551,54362
13,Delaware,9015,16148,33377,44435,47047,48363,50772
14,District of Columbia,10285,22190,38402,47076,48704,47049,50763
15,Florida,8412,14149,28803,36722,38230,39275,39465
17,Georgia,7276,13853,28006,41023,42216,44073,45533
18,Hawaii,9453,19920,32047,40578,40052,42615,44464
19,Idaho,6890,13611,23861,35547,37450,39591,40148
20,Illinois,9569,17601,32794,46486,47847,49435,51289
21,Indiana,8833,15599,30902,41850,43311,44195,45097
23,Iowa,8355,15203,26747,35678,36479,38230,38921
24,Kansas,7612,13690,28744,34981,35901,37093,38123
25,Kentucky,6953,14520,26292,36380,36589,37951,38981
26,Louisiana,7028,13760,24300,33109,33615,36328,36878
27,Maine,7572,13071,26881,35561,36373,37300,38121
29,Maryland,9383,17558,36319,44048,45963,48251,49677
30,Massachusetts,8764,17253,34712,46580,48649,50293,52043
31,Michigan,9826,19663,37072,49044,51317,52676,54071
32,Minnesota,8658,15912,32190,39802,42212,42194,42833
33,Mississippi,5798,11850,24292,31857,31954,33295,34555
35,Missouri,7799,13682,27094,35656,36715,37996,38826
36,Montana,7606,14537,25081,32121,33249,34379,35754
37,Nebraska,7375,13516,25522,33237,34175,36236,37896
38,Nevada,9215,16295,30590,39390,40443,40764,41795
39,New Hampshire,7771,13017,28986,37734,38301,39915,40519
41,New Jersey,9130,17161,35676,52015,52268,53192,54166
42,New Mexico,7796,14887,24756,32554,33785,36440,36687
43,New York,10336,19812,38925,51020,51500,52000,52600
44,North Carolina,7494,14117,27883,39404,41480,42680,43076
45,North Dakota,6696,13263,23016,29863,30891,32253,33210
47,Ohio,8300,15269,31218,41436,42764,44029,45452
48,Oklahoma,6882,13107,23070,31298,34499,34744,34854
49,Oregon,8818,16266,30840,42336,44989,46081,47600
50,Pennsylvania,8858,16515,33338,48321,49528,50599,51800
51,Rhode Island,8776,18002,36057,47041,48474,49758,51076
53,South Carolina,6927,13063,27217,36081,37938,39923,41279
54,South Dakota,6403,12348,21300,29071,30265,31295,32416
55,Tennessee,7050,13972,27052,36328,37431,38515,39677
56,Texas,7255,14132,27496,37567,38361,39232,40001
57,Utah,7644,14909,23686,34946,36441,37414,38413
59,Vermont,7968,12484,29012,37758,38253,39240,41603
60,Virginia,8070,14060,30938,38744,40175,41731,43152
61,Washington,9225,18820,30457,41043,42137,43464,44949
62,West Virginia,7650,13710,22842,35009,35888,36751,38508
63,Wisconsin,8963,16006,31921,41153,42122,42232,42871
64,Wyoming,8232,16012,28141,34127,34678,37837,37876

In [45]:
df_2003.to_csv('Data/2003_avg_teacher_salaries.csv', index=False)

In [46]:
df_2004 = table_scraper('https://nces.ed.gov/programs/digest/d04/tables/dt04_078.asp')
df_2004

,State,1969-70,1979-80,1989-90,1999-200,2000-01,2001-02,2002-03
3,United States,8626,15970,31367,41827,43400,44683,45822
5,Alabama,6818,13060,24828,36689,37069,37194,38246
6,Alaska,10560,27210,43153,46462,48123,49418,49685
7,Arizona,8711,15054,29402,36902,37167,39973,40894
8,Arkansas,6307,12299,22352,33386,34641,36962,37753
9,California,10315,18020,37998,47680,52480,54348,56283
11,Colorado,7761,16205,30758,38163,39184,40659,41275
12,Connecticut,9262,16229,40461,51780,52693,53551,54362
13,Delaware,9015,16148,33377,44435,47047,48363,50772
14,District of Columbia,10285,22190,38402,47076,48704,47049,50763
15,Florida,8412,14149,28803,36722,38230,39275,39465
17,Georgia,7276,13853,28006,41023,42216,44073,45533
18,Hawaii,9453,19920,32047,40578,40052,42615,44464
19,Idaho,6890,13611,23861,35547,37450,39591,40148
20,Illinois,9569,17601,32794,46486,47847,49435,51289
21,Indiana,8833,15599,30902,41850,43311,44195,45097
23,Iowa,8355,15203,26747,35678,36479,38230,38921
24,Kansas,7612,13690,28744,34981,35901,37093,38123
25,Kentucky,6953,14520,26292,36380,36589,37951,38981
26,Louisiana,7028,13760,24300,33109,33615,36328,36878
27,Maine,7572,13071,26881,35561,36373,37300,38121
29,Maryland,9383,17558,36319,44048,45963,48251,49677
30,Massachusetts,8764,17253,34712,46580,48649,50293,52043
31,Michigan,9826,19663,37072,49044,51317,52676,54071
32,Minnesota,8658,15912,32190,39802,42212,42194,42833
33,Mississippi,5798,11850,24292,31857,31954,33295,34555
35,Missouri,7799,13682,27094,35656,36715,37996,38826
36,Montana,7606,14537,25081,32121,33249,34379,35754
37,Nebraska,7375,13516,25522,33237,34175,36236,37896
38,Nevada,9215,16295,30590,39390,40443,40764,41795
39,New Hampshire,7771,13017,28986,37734,38301,39915,40519
41,New Jersey,9130,17161,35676,52015,52268,53192,54166
42,New Mexico,7796,14887,24756,32554,33785,36440,36687
43,New York,10336,19812,38925,51020,51500,52000,52600
44,North Carolina,7494,14117,27883,39404,41480,42680,43076
45,North Dakota,6696,13263,23016,29863,30891,32253,33210
47,Ohio,8300,15269,31218,41436,42764,44029,45452
48,Oklahoma,6882,13107,23070,31298,34499,34744,34854
49,Oregon,8818,16266,30840,42336,44989,46081,47600
50,Pennsylvania,8858,16515,33338,48321,49528,50599,51800
51,Rhode Island,8776,18002,36057,47041,48474,49758,51076
53,South Carolina,6927,13063,27217,36081,37938,39923,41279
54,South Dakota,6403,12348,21300,29071,30265,31295,32416
55,Tennessee,7050,13972,27052,36328,37431,38515,39677
56,Texas,7255,14132,27496,37567,38361,39232,40001
57,Utah,7644,14909,23686,34946,36441,37414,38413
59,Vermont,7968,12484,29012,37758,38253,39240,41603
60,Virginia,8070,14060,30938,38744,40175,41731,43152
61,Washington,9225,18820,30457,41043,42137,43464,44949
62,West Virginia,7650,13710,22842,35009,35888,36751,38508
63,Wisconsin,8963,16006,31921,41153,42122,42232,42871
64,Wyoming,8232,16012,28141,34127,34678,37837,37876

In [47]:
df_2004.to_csv('Data/2004_avg_teacher_salaries.csv', index=False)