In [1]:
#import libraries

import numpy as np
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup as soup

In [2]:
# Set URL as a variable
url = 'https://nces.ed.gov/programs/digest/d97/d97t078.asp'

# Use requests.post becuase it'll pull data after the webpage has loaded
r=requests.post(url)

# create a "soup" object 
data = soup(r.text, 'html.parser')

In [3]:
# Identify element tag with target data
data.select('table td pre')[0]

<pre style="text-align:left; padding-left:4px">__________________________________________________________________________________________________________________________________________________________________________
                      |                                                                               |                                                        | Percent
                      |                    Current dollars                                            |                 Constant 1996-97 dollars\1\            | change,
                      |                                                                               |                                                        |1979-80 to
        State         |_______________________________________________________________________________|________________________________________________________|1996-97 in
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |constant
                      |1969-70|1979-80 |1989-90 |    1993-94 |    1994-95 |     1995-96 |     1996-97 |1969-70 |1979-80 |1989-90 | 1993-94 | 1994-95 | 1995-96 | dollars
______________________|_______|________|________|____________|____________|_____________|_____________|________|________|________|_________|_________|_________|__________
          1           |   2   |   3    |   4    |      5     |      6     |      7      |      8      |   9    |   10   |   11   |   12    |   13    |   14    |    15
______________________|_______|________|________|____________|____________|_____________|_____________|________|________|________|_________|_________|_________|__________
   United States .....|$8,626 |$15,970 |$31,367 |\2\ $35,733 |    $36,609 |\2\  $37,560 |\2\  $38,509 |$36,287 |$32,689 |$39,256 | $38,834 | $38,678 | $38,632 |     17.8
                      |_______|________|________|____________|____________|_____________|_____________|________|________|________|_________|_________|_________|__________
Alabama ..............| 6,818 | 13,060 | 24,828 |     28,705 |     31,144 |      31,313 |      32,549 | 28,681 | 26,733 | 31,072 |  31,196 |  32,904 |  32,206 |     21.8
Alaska ...............|10,560 | 27,210 | 43,153 |     47,512 |     47,951 |\2\   49,620 |\2\   50,647 | 44,423 | 55,697 | 54,006 |  51,636 |  50,661 |  51,036 |     -9.1
Arizona ..............| 8,711 | 15,054 | 29,402 |     31,800 |     32,175 |\2\   32,484 |\2\   33,350 | 36,645 | 30,814 | 36,796 |  34,560 |  33,993 |  33,411 |      8.2
Arkansas .............| 6,307 | 12,299 | 22,352 |     28,098 |     28,934 |      29,322 |\2\   29,975 | 26,532 | 25,175 | 27,973 |  30,537 |  30,569 |  30,159 |     19.1
California ...........|10,315 | 18,020 | 37,998 |     40,264 |     41,078 |      42,259 |\2\   43,474 | 43,392 | 36,885 | 47,554 |  43,759 |  43,399 |  43,465 |     17.9
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
Colorado .............| 7,761 | 16,205 | 30,758 |     33,826 |     34,571 |      35,364 |\2\   36,175 | 32,648 | 33,170 | 38,493 |  36,762 |  36,525 |  36,373 |      9.1
Connecticut ..........| 9,262 | 16,229 | 40,461 |     49,769 |     50,045 |      50,254 |      50,426 | 38,962 | 33,219 | 50,637 |  54,089 |  52,873 |  51,688 |     51.8
Delaware .............| 9,015 | 16,148 | 33,377 |     37,469 |     39,076 |      40,533 |      41,436 | 37,923 | 33,054 | 41,771 |  40,721 |  41,284 |  41,689 |     25.4
District of Columbia .|10,285 | 22,190 | 38,402 |     42,543 |     43,700 |      43,700 |\2\   45,012 | 43,266 | 45,421 | 48,060 |  46,236 |  46,170 |  44,947 |     -0.9
Florida ..............| 8,412 | 14,149 | 28,803 |     31,944 |     32,588 |      33,330 |      33,881 | 35,387 | 28,962 | 36,047 |  34,717 |  34,430 |  34,281 |     17.0
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
Georgia ..............| 7,276 | 13,853 | 28,006 |     30,712 |     32,291 |      34,002 |      36,042 | 30,608 | 28,356 | 35,049 |  33,378 |  34,116 |  34,972 |     27.1
Hawaii ...............| 9,453 | 19,920 | 32,047 |     36,564 |     38,518 |      35,807 |      35,842 | 39,766 | 40,775 | 40,107 |  39,738 |  40,695 |  36,829 |    -12.1
Idaho ................| 6,890 | 13,611 | 23,861 |     27,756 |     29,783 |      30,891 |      31,818 | 28,984 | 27,861 | 29,862 |  30,165 |  31,466 |  31,772 |     14.2
Illinois .............| 9,569 | 17,601 | 32,794 |     39,387 |     39,431 |      40,919 |      42,679 | 40,254 | 36,028 | 41,041 |  42,806 |  41,659 |  42,086 |     18.5
Indiana...............| 8,833 | 15,599 | 30,902 |     35,712 |     36,785 |      37,675 |      38,575 | 37,158 | 31,930 | 38,674 |  38,812 |  38,864 |  38,750 |     20.8
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
Iowa .................| 8,355 | 15,203 | 26,747 |     30,760 |     31,511 |      32,372 |      33,275 | 35,147 | 31,119 | 33,474 |  33,430 |  33,292 |  33,296 |      6.9
Kansas ...............| 7,612 | 13,690 | 28,744 |     33,914 |     34,652 |      35,134 |      35,837 | 32,021 | 28,022 | 35,973 |  36,858 |  36,610 |  36,136 |     27.9
Kentucky .............| 6,953 | 14,520 | 26,292 |     31,625 |     32,257 |      33,080 |\2\   33,950 | 29,249 | 29,721 | 32,904 |  34,370 |  34,080 |  34,024 |     14.2
Louisiana ............| 7,028 | 13,760 | 24,300 |     26,095 |     26,461 |      26,800 |      28,347 | 29,565 | 28,166 | 30,411 |  28,360 |  27,956 |  27,565 |      0.6
Maine ................| 7,572 | 13,071 | 26,881 |     30,996 |     31,972 |      32,869 |\2\   33,800 | 31,853 | 26,755 | 33,641 |  33,686 |  33,779 |  33,807 |     26.3
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
Maryland .............| 9,383 | 17,558 | 36,319 |     39,453 |     40,661 |      41,160 |      41,148 | 39,471 | 35,940 | 45,453 |  42,877 |  42,959 |  42,334 |     14.5
Massachusetts ........| 8,764 | 17,253 | 34,712 |     39,023 |     40,795 |      42,264 |      43,806 | 36,867 | 35,315 | 43,442 |  42,410 |  43,100 |  43,470 |     24.0
Michigan .............| 9,826 | 19,663 | 37,072 |     44,856 |     41,895 |\2\   44,796 |\2\   44,251 | 41,335 | 40,248 | 46,395 |  48,749 |  44,263 |  46,074 |      9.9
Minnesota ............| 8,658 | 15,912 | 32,190 |\2\  35,440 |     35,948 |\2\   36,937 |\2\   37,975 | 36,422 | 32,570 | 40,285 |  38,516 |  37,980 |  37,991 |     16.6
Mississippi ..........| 5,798 | 11,850 | 24,292 |     25,153 |     26,818 |      27,692 |      27,720 | 24,390 | 24,256 | 30,401 |  27,336 |  28,334 |  28,482 |     14.3
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
Missouri..............| 7,799 | 13,682 | 27,094 |     30,319 |     31,189 |      33,341 |\2\   34,342 | 32,808 | 28,006 | 33,908 |  32,951 |  32,952 |  34,292 |     22.6
Montana ..............| 7,606 | 14,537 | 25,081 |     28,200 |     28,785 |      29,364 |\2\   29,950 | 31,996 | 29,756 | 31,389 |  30,648 |  30,412 |  30,202 |      0.7
Nebraska .............| 7,375 | 13,516 | 25,522 |     29,564 |     30,922 |      31,496 |      31,768 | 31,024 | 27,666 | 31,941 |  32,130 |  32,669 |  32,395 |     14.8
Nevada ...............| 9,215 | 16,295 | 30,590 |     33,955 |     34,836 |      36,167 |      37,340 | 38,765 | 33,354 | 38,283 |  36,902 |  36,805 |  37,199 |     11.9
New Hampshire ........| 7,771 | 13,017 | 28,986 |     34,121 |     34,720 |      35,792 |\2\   36,867 | 32,690 | 26,645 | 36,276 |  37,083 |  36,682 |  36,813 |     38.4
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
New Jersey ...........| 9,130 | 17,161 | 35,676 |     44,693 |     46,087 |      47,910 |\2\   49,349 | 38,407 | 35,127 | 44,648 |  48,572 |  48,692 |  49,277 |     40.5
New Mexico ...........| 7,796 | 14,887 | 24,756 |     27,202 |     28,493 |      29,074 |      29,715 | 32,795 | 30,472 | 30,982 |  29,563 |  30,103 |  29,904 |     -2.5
New York .............|10,336 | 19,812 | 38,925 |     45,772 |     47,612 |      48,115 |      49,560 | 43,480 | 40,553 | 48,714 |  49,745 |  50,303 |  49,488 |     22.2
North Carolina .......| 7,494 | 14,117 | 27,883 |     29,728 |     30,793 |      30,411 |\2\   31,225 | 31,525 | 28,896 | 34,895 |  32,308 |  32,533 |  31,279 |      8.1
North Dakota .........| 6,696 | 13,263 | 23,016 |     25,506 |     26,327 |      26,969 |      27,711 | 28,168 | 27,148 | 28,804 |  27,720 |  27,815 |  27,738 |      2.1
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
Ohio .................| 8,300 | 15,269 | 31,218 |     35,673 |     36,802 |      37,835 |      38,831 | 34,916 | 31,254 | 39,069 |  38,769 |  38,882 |  38,914 |     24.2
Oklahoma .............| 6,882 | 13,107 | 23,070 |     27,009 |     28,172 |      28,404 |      29,270 | 28,950 | 26,829 | 28,872 |  29,353 |  29,764 |  29,214 |      9.1
Oregon ...............| 8,818 | 16,266 | 30,840 |     37,713 |     38,555 |      39,706 |      40,900 | 37,095 | 33,295 | 38,596 |  40,986 |  40,734 |  40,839 |     22.8
Pennsylvania .........| 8,858 | 16,515 | 33,338 |     42,411 |     44,510 |      46,087 |      47,429 | 37,263 | 33,805 | 41,722 |  46,092 |  47,025 |  47,402 |     40.3
Rhode Island .........| 8,776 | 18,002 | 36,057 |     39,261 |     40,729 |\2\   42,160 |\2\   43,019 | 36,918 | 36,849 | 45,125 |  42,669 |  43,031 |  43,363 |     16.7
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
South Carolina .......| 6,927 | 13,063 | 27,217 |     29,566 |     30,279 |      31,622 |      32,659 | 29,140 | 26,739 | 34,062 |  32,132 |  31,990 |  32,524 |     22.1
South Dakota .........| 6,403 | 12,348 | 21,300 |     25,259 |     25,994 |      26,346 |      26,764 | 26,935 | 25,275 | 26,657 |  27,451 |  27,463 |  27,098 |      5.9
Tennessee ............| 7,050 | 13,972 | 27,052 |     30,514 |     32,477 |      33,126 |      33,789 | 29,657 | 28,599 | 33,855 |  33,162 |  34,312 |  34,071 |     18.1
Texas ................| 7,255 | 14,132 | 27,496 |     30,529 |     31,223 |      32,000 |      32,644 | 30,520 | 28,927 | 34,411 |  33,179 |  32,988 |  32,913 |     12.8
Utah .................| 7,644 | 14,909 | 23,686 |     27,706 |     29,082 |      30,588 |      31,750 | 32,156 | 30,517 | 29,643 |  30,111 |  30,726 |  31,461 |      4.0
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
Vermont ..............| 7,968 | 12,484 | 29,012 |     34,517 |     35,406 |      36,295 |\2\   37,200 | 33,519 | 25,554 | 36,308 |  37,513 |  37,407 |  37,331 |     45.6
Virginia .............| 8,070 | 14,060 | 30,938 |     33,009 |     33,987 |      34,792 |\2\   35,837 | 33,948 | 28,780 | 38,719 |  35,874 |  35,908 |  35,785 |     24.5
Washington ...........| 9,225 | 18,820 | 30,457 |     35,863 |     36,151 |      37,853 |      37,860 | 38,807 | 38,523 | 38,117 |  38,976 |  38,194 |  38,933 |     -1.7
West Virginia.........| 7,650 | 13,710 | 22,842 |     30,549 |     31,944 |      32,155 |      33,159 | 32,181 | 28,063 | 28,587 |  33,201 |  33,749 |  33,072 |     18.2
Wisconsin ............| 8,963 | 16,006 | 31,921 |     35,990 |     37,746 |      38,182 |\2\   38,950 | 37,705 | 32,763 | 39,949 |  39,114 |  39,879 |  39,271 |     18.9
Wyoming ..............| 8,232 | 16,012 | 28,141 |     30,952 |     31,285 |      31,571 |      31,721 | 34,630 | 32,775 | 35,218 |  33,638 |  33,053 |  32,472 |     -3.2
______________________|_______|________|________|____________|____________|_____________|_____________|________|________|________|_________|_________|_________|__________
</pre>

In [4]:
# Our data of interest is the text that is formatted like a table
# Select that data and return as text
doi= data.select('table td pre')[0].text
print(doi)

__________________________________________________________________________________________________________________________________________________________________________
                      |                                                                               |                                                        | Percent
                      |                    Current dollars                                            |                 Constant 1996-97 dollars\1\            | change,
                      |                                                                               |                                                        |1979-80 to
        State         |_______________________________________________________________________________|________________________________________________________|1996-97 in
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |constant
                      |1969-70|1979-80 |1989-90 |    1993-94 |    1994-95 |     1995-96 |     1996-97 |1969-70 |1979-80 |1989-90 | 1993-94 | 1994-95 | 1995-96 | dollars
______________________|_______|________|________|____________|____________|_____________|_____________|________|________|________|_________|_________|_________|__________
          1           |   2   |   3    |   4    |      5     |      6     |      7      |      8      |   9    |   10   |   11   |   12    |   13    |   14    |    15
______________________|_______|________|________|____________|____________|_____________|_____________|________|________|________|_________|_________|_________|__________
   United States .....|$8,626 |$15,970 |$31,367 |\2\ $35,733 |    $36,609 |\2\  $37,560 |\2\  $38,509 |$36,287 |$32,689 |$39,256 | $38,834 | $38,678 | $38,632 |     17.8
                      |_______|________|________|____________|____________|_____________|_____________|________|________|________|_________|_________|_________|__________
Alabama ..............| 6,818 | 13,060 | 24,828 |     28,705 |     31,144 |      31,313 |      32,549 | 28,681 | 26,733 | 31,072 |  31,196 |  32,904 |  32,206 |     21.8
Alaska ...............|10,560 | 27,210 | 43,153 |     47,512 |     47,951 |\2\   49,620 |\2\   50,647 | 44,423 | 55,697 | 54,006 |  51,636 |  50,661 |  51,036 |     -9.1
Arizona ..............| 8,711 | 15,054 | 29,402 |     31,800 |     32,175 |\2\   32,484 |\2\   33,350 | 36,645 | 30,814 | 36,796 |  34,560 |  33,993 |  33,411 |      8.2
Arkansas .............| 6,307 | 12,299 | 22,352 |     28,098 |     28,934 |      29,322 |\2\   29,975 | 26,532 | 25,175 | 27,973 |  30,537 |  30,569 |  30,159 |     19.1
California ...........|10,315 | 18,020 | 37,998 |     40,264 |     41,078 |      42,259 |\2\   43,474 | 43,392 | 36,885 | 47,554 |  43,759 |  43,399 |  43,465 |     17.9
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
Colorado .............| 7,761 | 16,205 | 30,758 |     33,826 |     34,571 |      35,364 |\2\   36,175 | 32,648 | 33,170 | 38,493 |  36,762 |  36,525 |  36,373 |      9.1
Connecticut ..........| 9,262 | 16,229 | 40,461 |     49,769 |     50,045 |      50,254 |      50,426 | 38,962 | 33,219 | 50,637 |  54,089 |  52,873 |  51,688 |     51.8
Delaware .............| 9,015 | 16,148 | 33,377 |     37,469 |     39,076 |      40,533 |      41,436 | 37,923 | 33,054 | 41,771 |  40,721 |  41,284 |  41,689 |     25.4
District of Columbia .|10,285 | 22,190 | 38,402 |     42,543 |     43,700 |      43,700 |\2\   45,012 | 43,266 | 45,421 | 48,060 |  46,236 |  46,170 |  44,947 |     -0.9
Florida ..............| 8,412 | 14,149 | 28,803 |     31,944 |     32,588 |      33,330 |      33,881 | 35,387 | 28,962 | 36,047 |  34,717 |  34,430 |  34,281 |     17.0
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
Georgia ..............| 7,276 | 13,853 | 28,006 |     30,712 |     32,291 |      34,002 |      36,042 | 30,608 | 28,356 | 35,049 |  33,378 |  34,116 |  34,972 |     27.1
Hawaii ...............| 9,453 | 19,920 | 32,047 |     36,564 |     38,518 |      35,807 |      35,842 | 39,766 | 40,775 | 40,107 |  39,738 |  40,695 |  36,829 |    -12.1
Idaho ................| 6,890 | 13,611 | 23,861 |     27,756 |     29,783 |      30,891 |      31,818 | 28,984 | 27,861 | 29,862 |  30,165 |  31,466 |  31,772 |     14.2
Illinois .............| 9,569 | 17,601 | 32,794 |     39,387 |     39,431 |      40,919 |      42,679 | 40,254 | 36,028 | 41,041 |  42,806 |  41,659 |  42,086 |     18.5
Indiana...............| 8,833 | 15,599 | 30,902 |     35,712 |     36,785 |      37,675 |      38,575 | 37,158 | 31,930 | 38,674 |  38,812 |  38,864 |  38,750 |     20.8
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
Iowa .................| 8,355 | 15,203 | 26,747 |     30,760 |     31,511 |      32,372 |      33,275 | 35,147 | 31,119 | 33,474 |  33,430 |  33,292 |  33,296 |      6.9
Kansas ...............| 7,612 | 13,690 | 28,744 |     33,914 |     34,652 |      35,134 |      35,837 | 32,021 | 28,022 | 35,973 |  36,858 |  36,610 |  36,136 |     27.9
Kentucky .............| 6,953 | 14,520 | 26,292 |     31,625 |     32,257 |      33,080 |\2\   33,950 | 29,249 | 29,721 | 32,904 |  34,370 |  34,080 |  34,024 |     14.2
Louisiana ............| 7,028 | 13,760 | 24,300 |     26,095 |     26,461 |      26,800 |      28,347 | 29,565 | 28,166 | 30,411 |  28,360 |  27,956 |  27,565 |      0.6
Maine ................| 7,572 | 13,071 | 26,881 |     30,996 |     31,972 |      32,869 |\2\   33,800 | 31,853 | 26,755 | 33,641 |  33,686 |  33,779 |  33,807 |     26.3
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
Maryland .............| 9,383 | 17,558 | 36,319 |     39,453 |     40,661 |      41,160 |      41,148 | 39,471 | 35,940 | 45,453 |  42,877 |  42,959 |  42,334 |     14.5
Massachusetts ........| 8,764 | 17,253 | 34,712 |     39,023 |     40,795 |      42,264 |      43,806 | 36,867 | 35,315 | 43,442 |  42,410 |  43,100 |  43,470 |     24.0
Michigan .............| 9,826 | 19,663 | 37,072 |     44,856 |     41,895 |\2\   44,796 |\2\   44,251 | 41,335 | 40,248 | 46,395 |  48,749 |  44,263 |  46,074 |      9.9
Minnesota ............| 8,658 | 15,912 | 32,190 |\2\  35,440 |     35,948 |\2\   36,937 |\2\   37,975 | 36,422 | 32,570 | 40,285 |  38,516 |  37,980 |  37,991 |     16.6
Mississippi ..........| 5,798 | 11,850 | 24,292 |     25,153 |     26,818 |      27,692 |      27,720 | 24,390 | 24,256 | 30,401 |  27,336 |  28,334 |  28,482 |     14.3
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
Missouri..............| 7,799 | 13,682 | 27,094 |     30,319 |     31,189 |      33,341 |\2\   34,342 | 32,808 | 28,006 | 33,908 |  32,951 |  32,952 |  34,292 |     22.6
Montana ..............| 7,606 | 14,537 | 25,081 |     28,200 |     28,785 |      29,364 |\2\   29,950 | 31,996 | 29,756 | 31,389 |  30,648 |  30,412 |  30,202 |      0.7
Nebraska .............| 7,375 | 13,516 | 25,522 |     29,564 |     30,922 |      31,496 |      31,768 | 31,024 | 27,666 | 31,941 |  32,130 |  32,669 |  32,395 |     14.8
Nevada ...............| 9,215 | 16,295 | 30,590 |     33,955 |     34,836 |      36,167 |      37,340 | 38,765 | 33,354 | 38,283 |  36,902 |  36,805 |  37,199 |     11.9
New Hampshire ........| 7,771 | 13,017 | 28,986 |     34,121 |     34,720 |      35,792 |\2\   36,867 | 32,690 | 26,645 | 36,276 |  37,083 |  36,682 |  36,813 |     38.4
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
New Jersey ...........| 9,130 | 17,161 | 35,676 |     44,693 |     46,087 |      47,910 |\2\   49,349 | 38,407 | 35,127 | 44,648 |  48,572 |  48,692 |  49,277 |     40.5
New Mexico ...........| 7,796 | 14,887 | 24,756 |     27,202 |     28,493 |      29,074 |      29,715 | 32,795 | 30,472 | 30,982 |  29,563 |  30,103 |  29,904 |     -2.5
New York .............|10,336 | 19,812 | 38,925 |     45,772 |     47,612 |      48,115 |      49,560 | 43,480 | 40,553 | 48,714 |  49,745 |  50,303 |  49,488 |     22.2
North Carolina .......| 7,494 | 14,117 | 27,883 |     29,728 |     30,793 |      30,411 |\2\   31,225 | 31,525 | 28,896 | 34,895 |  32,308 |  32,533 |  31,279 |      8.1
North Dakota .........| 6,696 | 13,263 | 23,016 |     25,506 |     26,327 |      26,969 |      27,711 | 28,168 | 27,148 | 28,804 |  27,720 |  27,815 |  27,738 |      2.1
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
Ohio .................| 8,300 | 15,269 | 31,218 |     35,673 |     36,802 |      37,835 |      38,831 | 34,916 | 31,254 | 39,069 |  38,769 |  38,882 |  38,914 |     24.2
Oklahoma .............| 6,882 | 13,107 | 23,070 |     27,009 |     28,172 |      28,404 |      29,270 | 28,950 | 26,829 | 28,872 |  29,353 |  29,764 |  29,214 |      9.1
Oregon ...............| 8,818 | 16,266 | 30,840 |     37,713 |     38,555 |      39,706 |      40,900 | 37,095 | 33,295 | 38,596 |  40,986 |  40,734 |  40,839 |     22.8
Pennsylvania .........| 8,858 | 16,515 | 33,338 |     42,411 |     44,510 |      46,087 |      47,429 | 37,263 | 33,805 | 41,722 |  46,092 |  47,025 |  47,402 |     40.3
Rhode Island .........| 8,776 | 18,002 | 36,057 |     39,261 |     40,729 |\2\   42,160 |\2\   43,019 | 36,918 | 36,849 | 45,125 |  42,669 |  43,031 |  43,363 |     16.7
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
South Carolina .......| 6,927 | 13,063 | 27,217 |     29,566 |     30,279 |      31,622 |      32,659 | 29,140 | 26,739 | 34,062 |  32,132 |  31,990 |  32,524 |     22.1
South Dakota .........| 6,403 | 12,348 | 21,300 |     25,259 |     25,994 |      26,346 |      26,764 | 26,935 | 25,275 | 26,657 |  27,451 |  27,463 |  27,098 |      5.9
Tennessee ............| 7,050 | 13,972 | 27,052 |     30,514 |     32,477 |      33,126 |      33,789 | 29,657 | 28,599 | 33,855 |  33,162 |  34,312 |  34,071 |     18.1
Texas ................| 7,255 | 14,132 | 27,496 |     30,529 |     31,223 |      32,000 |      32,644 | 30,520 | 28,927 | 34,411 |  33,179 |  32,988 |  32,913 |     12.8
Utah .................| 7,644 | 14,909 | 23,686 |     27,706 |     29,082 |      30,588 |      31,750 | 32,156 | 30,517 | 29,643 |  30,111 |  30,726 |  31,461 |      4.0
                      |       |        |        |            |            |             |             |        |        |        |         |         |         |
Vermont ..............| 7,968 | 12,484 | 29,012 |     34,517 |     35,406 |      36,295 |\2\   37,200 | 33,519 | 25,554 | 36,308 |  37,513 |  37,407 |  37,331 |     45.6
Virginia .............| 8,070 | 14,060 | 30,938 |     33,009 |     33,987 |      34,792 |\2\   35,837 | 33,948 | 28,780 | 38,719 |  35,874 |  35,908 |  35,785 |     24.5
Washington ...........| 9,225 | 18,820 | 30,457 |     35,863 |     36,151 |      37,853 |      37,860 | 38,807 | 38,523 | 38,117 |  38,976 |  38,194 |  38,933 |     -1.7
West Virginia.........| 7,650 | 13,710 | 22,842 |     30,549 |     31,944 |      32,155 |      33,159 | 32,181 | 28,063 | 28,587 |  33,201 |  33,749 |  33,072 |     18.2
Wisconsin ............| 8,963 | 16,006 | 31,921 |     35,990 |     37,746 |      38,182 |\2\   38,950 | 37,705 | 32,763 | 39,949 |  39,114 |  39,879 |  39,271 |     18.9
Wyoming ..............| 8,232 | 16,012 | 28,141 |     30,952 |     31,285 |      31,571 |      31,721 | 34,630 | 32,775 | 35,218 |  33,638 |  33,053 |  32,472 |     -3.2
______________________|_______|________|________|____________|____________|_____________|_____________|________|________|________|_________|_________|_________|__________

In [5]:
# read_csv was taking in object as a file name
# trouble shooting said to use io.StringIO
#  

import io

salary_df = pd.read_csv(io.StringIO(doi),sep='|', #separate columns by |-symbol
            skiprows=6,
            usecols=list(range(0,8))
            )
salary_df

,,1969-70,1979-80,1989-90,1993-94,1994-95,1995-96,1996-97
0,______________________,_______,________,________,____________,____________,_____________,_____________
1,1,2,3,4,5,6,7,8
2,______________________,_______,________,________,____________,____________,_____________,_____________
3,United States .....,"$8,626","$15,970","$31,367","\2\ $35,733","$36,609","\2\ $37,560","\2\ $38,509"
4,,_______,________,________,____________,____________,_____________,_____________
...,...,...,...,...,...,...,...,...
61,Washington ...........,"9,225","18,820","30,457","35,863","36,151","37,853","37,860"
62,West Virginia.........,"7,650","13,710","22,842","30,549","31,944","32,155","33,159"
63,Wisconsin ............,"8,963","16,006","31,921","35,990","37,746","38,182","\2\ 38,950"
64,Wyoming ..............,"8,232","16,012","28,141","30,952","31,285","31,571","31,721"
65,______________________,_______,________,________,____________,____________,_____________,_____________

### Clean the df

In [6]:
# Rename first column
salary_df.rename(columns={salary_df.columns[0]:'State'}, inplace=True)

salary_df.columns

Index(['State', '1969-70', '1979-80 ', '1989-90 ', '    1993-94 ',
       '    1994-95 ', '     1995-96 ', '     1996-97 '],
      dtype='object')

In [7]:
# Remove white space from other column names

# Create an empty dicitonary
new_column_names = {}

# Loop thru column names and remove white space
for i in list(range(len(salary_df.columns))):
    new_column_names[salary_df.columns[i]] = salary_df.columns[i].strip()

salary_df.rename(columns=new_column_names, inplace=True)

salary_df.head()

,State,1969-70,1979-80,1989-90,1993-94,1994-95,1995-96,1996-97
0,______________________,_______,________,________,____________,____________,_____________,_____________
1,1,2,3,4,5,6,7,8
2,______________________,_______,________,________,____________,____________,_____________,_____________
3,United States .....,"$8,626","$15,970","$31,367","\2\ $35,733","$36,609","\2\ $37,560","\2\ $38,509"
4,,_______,________,________,____________,____________,_____________,_____________

In [8]:
# remove '...' from state name column and then set as index
def period_remover(value):
    
    temp = value.strip()
    
    if len(temp) > 1 and temp[0].lower() in ('abcdefghijklmnopqrstuvwxyz'):
        return temp.split('.')[0].strip()
    else:
        return np.NaN

salary_df_clean = salary_df.copy()

salary_df_clean['State'] = salary_df_clean['State'].apply(period_remover)

salary_df_clean

,State,1969-70,1979-80,1989-90,1993-94,1994-95,1995-96,1996-97
0,NaN,_______,________,________,____________,____________,_____________,_____________
1,NaN,2,3,4,5,6,7,8
2,NaN,_______,________,________,____________,____________,_____________,_____________
3,United States,"$8,626","$15,970","$31,367","\2\ $35,733","$36,609","\2\ $37,560","\2\ $38,509"
4,NaN,_______,________,________,____________,____________,_____________,_____________
...,...,...,...,...,...,...,...,...
61,Washington,"9,225","18,820","30,457","35,863","36,151","37,853","37,860"
62,West Virginia,"7,650","13,710","22,842","30,549","31,944","32,155","33,159"
63,Wisconsin,"8,963","16,006","31,921","35,990","37,746","38,182","\2\ 38,950"
64,Wyoming,"8,232","16,012","28,141","30,952","31,285","31,571","31,721"
65,NaN,_______,________,________,____________,____________,_____________,_____________

In [9]:
cleaner_salary_df = salary_df_clean.dropna(axis=0)
cleaner_salary_df.head(10)

,State,1969-70,1979-80,1989-90,1993-94,1994-95,1995-96,1996-97
3,United States,"$8,626","$15,970","$31,367","\2\ $35,733","$36,609","\2\ $37,560","\2\ $38,509"
5,Alabama,"6,818","13,060","24,828","28,705","31,144","31,313","32,549"
6,Alaska,"10,560","27,210","43,153","47,512","47,951","\2\ 49,620","\2\ 50,647"
7,Arizona,"8,711","15,054","29,402","31,800","32,175","\2\ 32,484","\2\ 33,350"
8,Arkansas,"6,307","12,299","22,352","28,098","28,934","29,322","\2\ 29,975"
9,California,"10,315","18,020","37,998","40,264","41,078","42,259","\2\ 43,474"
11,Colorado,"7,761","16,205","30,758","33,826","34,571","35,364","\2\ 36,175"
12,Connecticut,"9,262","16,229","40,461","49,769","50,045","50,254","50,426"
13,Delaware,"9,015","16,148","33,377","37,469","39,076","40,533","41,436"
14,District of Columbia,"10,285","22,190","38,402","42,543","43,700","43,700","\2\ 45,012"

In [10]:
def data_to_int(val):
    return int(''.join(re.findall(r'\d',val.split('\\')[-1])))

In [11]:
data_to_int('11,001')

11001

In [12]:
salary_df_final = cleaner_salary_df.copy()

for i in list(range(len(salary_df_final.columns)-1)):
    salary_df_final[salary_df_final.columns[i+1]] = salary_df_final[salary_df_final.columns[i+1]].apply(data_to_int)

In [13]:
salary_df_final

,State,1969-70,1979-80,1989-90,1993-94,1994-95,1995-96,1996-97
3,United States,8626,15970,31367,35733,36609,37560,38509
5,Alabama,6818,13060,24828,28705,31144,31313,32549
6,Alaska,10560,27210,43153,47512,47951,49620,50647
7,Arizona,8711,15054,29402,31800,32175,32484,33350
8,Arkansas,6307,12299,22352,28098,28934,29322,29975
9,California,10315,18020,37998,40264,41078,42259,43474
11,Colorado,7761,16205,30758,33826,34571,35364,36175
12,Connecticut,9262,16229,40461,49769,50045,50254,50426
13,Delaware,9015,16148,33377,37469,39076,40533,41436
14,District of Columbia,10285,22190,38402,42543,43700,43700,45012
15,Florida,8412,14149,28803,31944,32588,33330,33881
17,Georgia,7276,13853,28006,30712,32291,34002,36042
18,Hawaii,9453,19920,32047,36564,38518,35807,35842
19,Idaho,6890,13611,23861,27756,29783,30891,31818
20,Illinois,9569,17601,32794,39387,39431,40919,42679
21,Indiana,8833,15599,30902,35712,36785,37675,38575
23,Iowa,8355,15203,26747,30760,31511,32372,33275
24,Kansas,7612,13690,28744,33914,34652,35134,35837
25,Kentucky,6953,14520,26292,31625,32257,33080,33950
26,Louisiana,7028,13760,24300,26095,26461,26800,28347
27,Maine,7572,13071,26881,30996,31972,32869,33800
29,Maryland,9383,17558,36319,39453,40661,41160,41148
30,Massachusetts,8764,17253,34712,39023,40795,42264,43806
31,Michigan,9826,19663,37072,44856,41895,44796,44251
32,Minnesota,8658,15912,32190,35440,35948,36937,37975
33,Mississippi,5798,11850,24292,25153,26818,27692,27720
35,Missouri,7799,13682,27094,30319,31189,33341,34342
36,Montana,7606,14537,25081,28200,28785,29364,29950
37,Nebraska,7375,13516,25522,29564,30922,31496,31768
38,Nevada,9215,16295,30590,33955,34836,36167,37340
39,New Hampshire,7771,13017,28986,34121,34720,35792,36867
41,New Jersey,9130,17161,35676,44693,46087,47910,49349
42,New Mexico,7796,14887,24756,27202,28493,29074,29715
43,New York,10336,19812,38925,45772,47612,48115,49560
44,North Carolina,7494,14117,27883,29728,30793,30411,31225
45,North Dakota,6696,13263,23016,25506,26327,26969,27711
47,Ohio,8300,15269,31218,35673,36802,37835,38831
48,Oklahoma,6882,13107,23070,27009,28172,28404,29270
49,Oregon,8818,16266,30840,37713,38555,39706,40900
50,Pennsylvania,8858,16515,33338,42411,44510,46087,47429
51,Rhode Island,8776,18002,36057,39261,40729,42160,43019
53,South Carolina,6927,13063,27217,29566,30279,31622,32659
54,South Dakota,6403,12348,21300,25259,25994,26346,26764
55,Tennessee,7050,13972,27052,30514,32477,33126,33789
56,Texas,7255,14132,27496,30529,31223,32000,32644
57,Utah,7644,14909,23686,27706,29082,30588,31750
59,Vermont,7968,12484,29012,34517,35406,36295,37200
60,Virginia,8070,14060,30938,33009,33987,34792,35837
61,Washington,9225,18820,30457,35863,36151,37853,37860
62,West Virginia,7650,13710,22842,30549,31944,32155,33159
63,Wisconsin,8963,16006,31921,35990,37746,38182,38950
64,Wyoming,8232,16012,28141,30952,31285,31571,31721

In [14]:
salary_df_final.to_csv('Data/1997_avg_teacher_salaries.csv',index=False)