In [60]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as soup

In [61]:
year = '2013'
url = f'https://nces.ed.gov/programs/digest/d{year[2:]}/tables/dt{year[2:]}_211.60.asp'
r=requests.post(url)
table_list = pd.read_html(r.text)

salary_df = table_list[3]
salary_df

                   State Current dollars                                       \
                   State         1969-70  1979-80  1989-90 1999-2000  2009-10
                       1               2        3        4         5        6
0          United States          $8,626  $15,970  $31,367   $41,807  $55,202
1                Alabama            6818    13060    24828     36689    47571
2                 Alaska           10560    27210    43153     46462    59672
3                Arizona            8711    15054    29402     36902    46952
4               Arkansas            6307    12299    22352     33386    46700
5             California           10315    18020    37998     47680    68203
6                    NaN             NaN      NaN      NaN       NaN      NaN
7               Colorado            7761    16205    30758     38163    49202
8            Connecticut            9262    16229    40461     51780    64350
9               Delaware            9015    16148    33377     44435    57080
10  District of Columbia           10285    22190    38402     47076    64548
11               Florida            8412    14149    28803     36722    46708
12                   NaN             NaN      NaN      NaN       NaN      NaN
13               Georgia            7276    13853    28006     41023    53112
14                Hawaii            9453    19920    32047     40578    55063
15                 Idaho            6890    13611    23861     35547    46283
16              Illinois            9569    17601    32794     46486    62077
17               Indiana            8833    15599    30902     41850    49986
18                   NaN             NaN      NaN      NaN       NaN      NaN
19                  Iowa            8355    15203    26747     35678    49626
20                Kansas            7612    13690    28744     34981    46657
21              Kentucky            6953    14520    26292     36380    49543
22             Louisiana            7028    13760    24300     33109    48903
23                 Maine            7572    13071    26881     35561    46106
24                   NaN             NaN      NaN      NaN       NaN      NaN
25              Maryland            9383    17558    36319     44048    63971
26         Massachusetts            8764    17253    34712     46580    69273
27              Michigan            9826    19663    37072     49044    57958
28             Minnesota            8658    15912    32190     39802    52431
29           Mississippi            5798    11850    24292     31857    45644
30                   NaN             NaN      NaN      NaN       NaN      NaN
31              Missouri            7799    13682    27094     35656    45317
32               Montana            7606    14537    25081     32121    45759
33              Nebraska            7375    13516    25522     33237    46227
34                Nevada            9215    16295    30590     39390    51524
35         New Hampshire            7771    13017    28986     37734    51443
36                   NaN             NaN      NaN      NaN       NaN      NaN
37            New Jersey            9130    17161    35676     52015    65130
38            New Mexico            7796    14887    24756     32554    46258
39              New York           10336    19812    38925     51020    71633
40        North Carolina            7494    14117    27883     39404    46850
41          North Dakota            6696    13263    23016     29863    42964
42                   NaN             NaN      NaN      NaN       NaN      NaN
43                  Ohio            8300    15269    31218     41436    55958
44              Oklahoma            6882    13107    23070     31298    47691
45                Oregon            8818    16266    30840     42336    55224
46          Pennsylvania            8858    16515    33338     48321    59156
47          Rhode Island            8776    18002    36057     47041    59686
48                   NaN             NaN      NaN      NaN       NaN      NaN
49        South Carolina            6927    13063    27217     36081    47508
50          South Dakota            6403    12348    21300     29071    38837
51             Tennessee            7050    13972    27052     36328    46290
52                 Texas            7255    14132    27496     37567    48261
53                  Utah            7644    14909    23686     34946    45885
54                   NaN             NaN      NaN      NaN       NaN      NaN
55               Vermont            7968    12484    29012     37758    49084
56              Virginia            8070    14060    30938     38744    50015
57            Washington            9225    18820    30457     41043    53003
58         West Virginia            7650    13710    22842     35009    45959
59             Wisconsin            8963    16006    31921     41153    51264
60               Wyoming            8232    16012    28141     34127    55861

            Unnamed: 7_level_0 Constant 2012-13 dollars1                    \
    2011-12            2012-13                   1969-70  1979-80  1989-90
          7                  8                         9       10       11
0   $55,418            $56,383                   $52,830  $47,592  $57,152
1     48003              47949                     41757    38920    45237
2     62425              65468                     64675    81088    78626
3     48691              49885                     53350    44862    53571
4     46314              46632                     38627    36652    40726
5     68531              69324                     63174    53701    69234
6       NaN                NaN                       NaN      NaN      NaN
7     49049              49844                     47532    48292    56042
8     69465              69766                     56725    48363    73721
9     58800              59679                     55212    48122    60814
10    68720              70906                     62990    66128    69970
11    46479              46944                     51519    42165    52480
12      NaN                NaN                       NaN      NaN      NaN
13    52938              52880                     44562    41283    51028
14    54070              54300                     57895    59363    58391
15    48551              49734                     42198    40562    43475
16    57636              59113                     58605    52452    59752
17    50516              51456                     54098    46486    56304
18      NaN                NaN                       NaN      NaN      NaN
19    50240              51528                     51170    45306    48734
20    46718              47464                     46620    40797    52372
21    49730              50326                     42584    43271    47905
22    50179              51381                     43043    41006    44275
23    47338              48119                     46375    38952    48978
24      NaN                NaN                       NaN      NaN      NaN
25    63634              65265                     57466    52324    66174
26    71721              73129                     53675    51415    63246
27    61560              61560                     60179    58597    67546
28    54959              56268                     53026    47419    58651
29    41646              41994                     35510    35314    44261
30      NaN                NaN                       NaN      NaN      NaN
31    46406              47517                     47765    40773    49366
32    48546              49999                     46583    43321    45698
33    48154              48931                     45168    40279    46502
34    54559              55957                     56437    48560    55736
35    54177              55599                     47593    38791    52813
36      NaN                NaN                       NaN      NaN      NaN
37    67078              68797                     55917    51141    65003
38    45622              46573                     47746    44364    45106
39    73398              75279                     63303    59041    70923
40    45947              45947                     45897    42070    50804
41    46058              47344                     41010    39525    41936
42      NaN                NaN                       NaN      NaN      NaN
43    56715              58092                     50833    45503    56880
44    44391              44128                     42149    39060    42034
45    57348              58758                     54006    48474    56191
46    61934              63521                     54251    49216    60743
47    62186              63474                     53748    53647    65697
48      NaN                NaN                       NaN      NaN      NaN
49    47428              47924                     42424    38929    49590
50    38804              39580                     39215    36798    38809
51    47082              48289                     43178    41637    49290
52    48373              48110                     44433    42114    50099
53    48159              49393                     46816    44430    43157
54      NaN                NaN                       NaN      NaN      NaN
55    51306              52526                     48800    37203    52861
56    48703              49869                     49425    41900    56370
57    52232              53571                     56498    56085    55494
58    45320              46405                     46852    40857    41619
59    53792              55171                     54894    47699    58161
60    57222              57920                     50417    47717    51274


   1999-2000  2009-10  2011-12  2012-13 Percent change, 1999- 2000 to 2012-13
          12       13       14       15                                    16
0    $57,133  $58,925  $56,340  $56,383                                  -1.3
1      50139    50779    48802    47949                                  -4.4
2      63495    63696    63464    65468                                   3.1
3      50430    50119    49501    49885                                  -1.1
4      45625    49850    47085    46632                                   2.2
5      65159    72803    69672    69324                                   6.4
6        NaN      NaN      NaN      NaN                                   NaN
7      52153    52520    49865    49844                                  -4.4
8      70762    68690    70621    69766                                  -1.4
9      60724    60930    59779    59679                                  -1.7
10     64334    68901    69864    70906                                  10.2
11     50184    49858    47253    46944                                  -6.5
12       NaN      NaN      NaN      NaN                                   NaN
13     56062    56694    53819    52880                                  -5.7
14     55453    58777    54970    54300                                  -2.1
15     48578    49404    49359    49734                                   2.4
16     63527    66264    58595    59113                                  -6.9
17     57192    53357    51357    51456                                 -10.0
18       NaN      NaN      NaN      NaN                                   NaN
19     48757    52973    51076    51528                                   5.7
20     47805    49804    47496    47464                                  -0.7
21     49717    52884    50558    50326                                   1.2
22     45246    52201    51014    51381                                  13.6
23     48597    49216    48126    48119                                  -1.0
24       NaN      NaN      NaN      NaN                                   NaN
25     60196    68285    64693    65265                                   8.4
26     63656    73945    72915    73129                                  14.9
27     67023    61867    62585    61560                                  -8.2
28     54393    55967    55874    56268                                   3.4
29     43535    48722    42339    41994                                  -3.5
30       NaN      NaN      NaN      NaN                                   NaN
31     48727    48373    47178    47517                                  -2.5
32     43896    48845    49354    49999                                  13.9
33     45421    49345    48955    48931                                   7.7
34     53830    54999    55467    55957                                   4.0
35     51567    54912    55079    55599                                   7.8
36       NaN      NaN      NaN      NaN                                   NaN
37     71083    69523    68194    68797                                  -3.2
38     44488    49378    46381    46573                                   4.7
39     69723    76464    74620    75279                                   8.0
40     53849    50010    46712    45947                                 -14.7
41     40810    45862    46825    47344                                  16.0
42       NaN      NaN      NaN      NaN                                   NaN
43     56626    59732    57659    58092                                   2.6
44     42772    50907    45130    44128                                   3.2
45     57856    58948    58302    58758                                   1.6
46     66035    63146    62965    63521                                  -3.8
47     64286    63711    63221    63474                                  -1.3
48       NaN      NaN      NaN      NaN                                   NaN
49     49308    50712    48217    47924                                  -2.8
50     39728    41456    39450    39580                                  -0.4
51     49645    49412    47866    48289                                  -2.7
52     51339    51516    49178    48110                                  -6.3
53     47757    48980    48961    49393                                   3.4
54       NaN      NaN      NaN      NaN                                   NaN
55     51600    52394    52160    52526                                   1.8
56     52947    53388    49514    49869                                  -5.8
57     56089    56578    53101    53571                                  -4.5
58     47843    49059    46074    46405                                  -3.0
59     56239    54721    54687    55171                                  -1.9
60     46638    59628    58174    57920                                  24.2

In [62]:
clean_salary_df = salary_df.droplevel(level=[0,2],axis=1).iloc[:,:8]
clean_salary_df

,State,1969-70,1979-80,1989-90,1999-2000,2009-10,2011-12,2012-13
0,United States,"$8,626","$15,970","$31,367","$41,807","$55,202","$55,418","$56,383"
1,Alabama,6818,13060,24828,36689,47571,48003,47949
2,Alaska,10560,27210,43153,46462,59672,62425,65468
3,Arizona,8711,15054,29402,36902,46952,48691,49885
4,Arkansas,6307,12299,22352,33386,46700,46314,46632
5,California,10315,18020,37998,47680,68203,68531,69324
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Colorado,7761,16205,30758,38163,49202,49049,49844
8,Connecticut,9262,16229,40461,51780,64350,69465,69766
9,Delaware,9015,16148,33377,44435,57080,58800,59679
10,District of Columbia,10285,22190,38402,47076,64548,68720,70906
11,Florida,8412,14149,28803,36722,46708,46479,46944
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Georgia,7276,13853,28006,41023,53112,52938,52880
14,Hawaii,9453,19920,32047,40578,55063,54070,54300
15,Idaho,6890,13611,23861,35547,46283,48551,49734
16,Illinois,9569,17601,32794,46486,62077,57636,59113
17,Indiana,8833,15599,30902,41850,49986,50516,51456
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Iowa,8355,15203,26747,35678,49626,50240,51528
20,Kansas,7612,13690,28744,34981,46657,46718,47464
21,Kentucky,6953,14520,26292,36380,49543,49730,50326
22,Louisiana,7028,13760,24300,33109,48903,50179,51381
23,Maine,7572,13071,26881,35561,46106,47338,48119
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Maryland,9383,17558,36319,44048,63971,63634,65265
26,Massachusetts,8764,17253,34712,46580,69273,71721,73129
27,Michigan,9826,19663,37072,49044,57958,61560,61560
28,Minnesota,8658,15912,32190,39802,52431,54959,56268
29,Mississippi,5798,11850,24292,31857,45644,41646,41994
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Missouri,7799,13682,27094,35656,45317,46406,47517
32,Montana,7606,14537,25081,32121,45759,48546,49999
33,Nebraska,7375,13516,25522,33237,46227,48154,48931
34,Nevada,9215,16295,30590,39390,51524,54559,55957
35,New Hampshire,7771,13017,28986,37734,51443,54177,55599
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,New Jersey,9130,17161,35676,52015,65130,67078,68797
38,New Mexico,7796,14887,24756,32554,46258,45622,46573
39,New York,10336,19812,38925,51020,71633,73398,75279
40,North Carolina,7494,14117,27883,39404,46850,45947,45947
41,North Dakota,6696,13263,23016,29863,42964,46058,47344
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Ohio,8300,15269,31218,41436,55958,56715,58092
44,Oklahoma,6882,13107,23070,31298,47691,44391,44128
45,Oregon,8818,16266,30840,42336,55224,57348,58758
46,Pennsylvania,8858,16515,33338,48321,59156,61934,63521
47,Rhode Island,8776,18002,36057,47041,59686,62186,63474
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,South Carolina,6927,13063,27217,36081,47508,47428,47924
50,South Dakota,6403,12348,21300,29071,38837,38804,39580
51,Tennessee,7050,13972,27052,36328,46290,47082,48289
52,Texas,7255,14132,27496,37567,48261,48373,48110
53,Utah,7644,14909,23686,34946,45885,48159,49393
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Vermont,7968,12484,29012,37758,49084,51306,52526
56,Virginia,8070,14060,30938,38744,50015,48703,49869
57,Washington,9225,18820,30457,41043,53003,52232,53571
58,West Virginia,7650,13710,22842,35009,45959,45320,46405
59,Wisconsin,8963,16006,31921,41153,51264,53792,55171
60,Wyoming,8232,16012,28141,34127,55861,57222,57920

In [63]:
new_index_df = clean_salary_df.set_index('State')

In [64]:
import re

def data_to_int(val):
    return int(''.join(re.findall(r'\d',val)))

In [65]:
final_salary_df = new_index_df.copy().dropna()

final_salary_df.iloc[0,:] = new_index_df.iloc[0,:].apply(lambda x: int(''.join(re.findall(r'\d',x))))

#final_salary_df.iloc[0,:] = new_index_df.iloc[0,:].apply(data_to_int)

In [52]:
pd.options.display.max_rows = 75

In [66]:
final_salary_df

                     1969-70 1979-80 1989-90 1999-2000 2009-10 2011-12 2012-13
State
United States           8626   15970   31367     41807   55202   55418   56383
Alabama                 6818   13060   24828     36689   47571   48003   47949
Alaska                 10560   27210   43153     46462   59672   62425   65468
Arizona                 8711   15054   29402     36902   46952   48691   49885
Arkansas                6307   12299   22352     33386   46700   46314   46632
California             10315   18020   37998     47680   68203   68531   69324
Colorado                7761   16205   30758     38163   49202   49049   49844
Connecticut             9262   16229   40461     51780   64350   69465   69766
Delaware                9015   16148   33377     44435   57080   58800   59679
District of Columbia   10285   22190   38402     47076   64548   68720   70906
Florida                 8412   14149   28803     36722   46708   46479   46944
Georgia                 7276   13853   28006     41023   53112   52938   52880
Hawaii                  9453   19920   32047     40578   55063   54070   54300
Idaho                   6890   13611   23861     35547   46283   48551   49734
Illinois                9569   17601   32794     46486   62077   57636   59113
Indiana                 8833   15599   30902     41850   49986   50516   51456
Iowa                    8355   15203   26747     35678   49626   50240   51528
Kansas                  7612   13690   28744     34981   46657   46718   47464
Kentucky                6953   14520   26292     36380   49543   49730   50326
Louisiana               7028   13760   24300     33109   48903   50179   51381
Maine                   7572   13071   26881     35561   46106   47338   48119
Maryland                9383   17558   36319     44048   63971   63634   65265
Massachusetts           8764   17253   34712     46580   69273   71721   73129
Michigan                9826   19663   37072     49044   57958   61560   61560
Minnesota               8658   15912   32190     39802   52431   54959   56268
Mississippi             5798   11850   24292     31857   45644   41646   41994
Missouri                7799   13682   27094     35656   45317   46406   47517
Montana                 7606   14537   25081     32121   45759   48546   49999
Nebraska                7375   13516   25522     33237   46227   48154   48931
Nevada                  9215   16295   30590     39390   51524   54559   55957
New Hampshire           7771   13017   28986     37734   51443   54177   55599
New Jersey              9130   17161   35676     52015   65130   67078   68797
New Mexico              7796   14887   24756     32554   46258   45622   46573
New York               10336   19812   38925     51020   71633   73398   75279
North Carolina          7494   14117   27883     39404   46850   45947   45947
North Dakota            6696   13263   23016     29863   42964   46058   47344
Ohio                    8300   15269   31218     41436   55958   56715   58092
Oklahoma                6882   13107   23070     31298   47691   44391   44128
Oregon                  8818   16266   30840     42336   55224   57348   58758
Pennsylvania            8858   16515   33338     48321   59156   61934   63521
Rhode Island            8776   18002   36057     47041   59686   62186   63474
South Carolina          6927   13063   27217     36081   47508   47428   47924
South Dakota            6403   12348   21300     29071   38837   38804   39580
Tennessee               7050   13972   27052     36328   46290   47082   48289
Texas                   7255   14132   27496     37567   48261   48373   48110
Utah                    7644   14909   23686     34946   45885   48159   49393
Vermont                 7968   12484   29012     37758   49084   51306   52526
Virginia                8070   14060   30938     38744   50015   48703   49869
Washington              9225   18820   30457     41043   53003   52232   53571
West Virginia           7650   13710   22842     35009   45959   45320   46405
Wisconsin               8963   16006   31921     41153   51264   53792   55171
Wyoming                 8232   16012   28141     34127   55861   57222   57920

In [54]:
final_salary_df.to_csv('Data/2013_avg_teacher_salaries.csv')

In [47]:

for year in range(2013,2023):
    print(year)
    try:
        url = f'https://nces.ed.gov/programs/digest/d{str(year)[2:]}/tables/dt{str(year)[2:]}_211.60.asp'
        r=requests.post(url)
        table_list = pd.read_html(r.text)

        print(len(table_list))   
    except:
        print(f'No data in this link: {url}')

2013
7
2014
7
2015
7
2016
7
2017
7
2018
7
2019
7
2020
7
2021
7
2022
7

In [70]:
# Import Dependencies
import re
import pandas as pd
import requests
from bs4 import BeautifulSoup as soup

def data_to_int(val):
    return int(''.join(re.findall(r'\d',val)))

def teacher_salary_scraper(year):

    # Insert year to complete URL
    url = f'https://nces.ed.gov/programs/digest/d{str(year)[2:]}/tables/dt{str(year)[2:]}_211.60.asp'
    
    # Use requests.post to let webpage load before scraping
    r=requests.post(url)
    
    # Use pandas to read html and find tables
    table_list = pd.read_html(r.text)

    # the slary DF is the fourth table in the list of DFs
    salary_df = table_list[3]

    # Drop the the column headers that didn't include the years and focus on columns that were not inflation adjusted
    clean_salary_df = salary_df.droplevel(level=[0,2],axis=1).iloc[:,:8]

    # Set the State to index
    new_index_df = clean_salary_df.set_index('State')

    # Create a copy of DF and drop NANs
    final_salary_df = new_index_df.copy().dropna()

    # Apply lambda-function to remove $-sign and commas from first row of data
    final_salary_df.iloc[0,:] = final_salary_df.iloc[0,:].apply(data_to_int)

    # Export as CSV to Data-folder
    final_salary_df.to_csv(f'Data/{str(year)}_avg_teacher_salaries.csv')

for year in range(2013,2023):
    teacher_salary_scraper(year)

TypeError: expected string or bytes-like object

In [71]:
def teacher_salary_scraper(year):

    # Insert year to complete URL
    url = f'https://nces.ed.gov/programs/digest/d{str(year)[2:]}/tables/dt{str(year)[2:]}_211.60.asp'
    
    # Use requests.post to let webpage load before scraping
    r=requests.post(url)
    
    # Use pandas to read html and find tables
    table_list = pd.read_html(r.text)

    # the slary DF is the fourth table in the list of DFs
    salary_df = table_list[3]

    # Drop the the column headers that didn't include the years and focus on columns that were not inflation adjusted
    clean_salary_df = salary_df.droplevel(level=[0,2],axis=1).iloc[:,:8]

    # Set the State to index
    new_index_df = clean_salary_df.set_index('State')

    # Create a copy of DF and drop NANs
    final_salary_df = new_index_df.copy().dropna()

    # Apply lambda-function to remove $-sign and commas from first row of data
    final_salary_df.iloc[0,:] = final_salary_df.iloc[0,:].apply(data_to_int)

    # Export as CSV to Data-folder
    final_salary_df.to_csv(f'Data/{str(year)}_avg_teacher_salaries.csv')

In [81]:
teacher_salary_scraper(2022)

TypeError: expected string or bytes-like object

In [99]:
year = 2022

# Insert year to complete URL
url = f'https://nces.ed.gov/programs/digest/d{str(year)[2:]}/tables/dt{str(year)[2:]}_211.60.asp'

# Use requests.post to let webpage load before scraping
r=requests.post(url)

# Use pandas to read html and find tables
table_list = pd.read_html(r.text, match="Current dollars",header=[0,1,2])

# the slary DF is the fourth table in the list of DFs
salary_df = table_list[0]

# Drop the the column headers that didn't include the years and focus on columns that were not inflation adjusted
clean_salary_df = salary_df.droplevel(level=[0,2],axis=1).iloc[:,:8]

# Set the State to index
new_index_df = clean_salary_df.set_index('State')

# Create a copy of DF and drop NANs
final_salary_df = new_index_df.copy().dropna()

# Apply lambda-function to remove $-sign and commas from first row of data
final_salary_df.iloc[0,:] = final_salary_df.iloc[0,:].apply(data_to_int)

# Export as CSV to Data-folder
final_salary_df.to_csv(f'Data/{str(year)}_avg_teacher_salaries.csv')

In [100]:
year = 2014

# Insert year to complete URL
url = f'https://nces.ed.gov/programs/digest/d{str(year)[2:]}/tables/dt{str(year)[2:]}_211.60.asp'

# Use requests.post to let webpage load before scraping
r=requests.post(url)

# Use pandas to read html and find tables
table_list = pd.read_html(r.text, match="Current dollars",header=[0,1,2])

# the slary DF is the fourth table in the list of DFs
salary_df = table_list[0]

# Drop the the column headers that didn't include the years and focus on columns that were not inflation adjusted
clean_salary_df = salary_df.droplevel(level=[0,2],axis=1).iloc[:,:8]

# Set the State to index
new_index_df = clean_salary_df.set_index('State')

# Create a copy of DF and drop NANs
final_salary_df = new_index_df.copy().dropna()

# Apply lambda-function to remove $-sign and commas from first row of data
final_salary_df.iloc[0,:] = final_salary_df.iloc[0,:].apply(data_to_int)

# Export as CSV to Data-folder
final_salary_df.to_csv(f'Data/{str(year)}_avg_teacher_salaries.csv')