In [1]:
#import libraries

import numpy as np
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup as soup

In [2]:
# Set URL as a variable
url = 'https://nces.ed.gov/programs/digest/d98/d98t079.asp'

# Use requests.post becuase it'll pull data after the webpage has loaded
r=requests.post(url)

# create a "soup" object 
data = soup(r.text, 'html.parser')

In [3]:
# Identify element tag with target data
data.select('table td pre')[0]

<pre style="text-align:left; padding-left:4px">
___________________________________________________________________________________________________________________________________________________________
                        |                                                                |                                                        | Percent
                        |                    Current dollars                             |                 Constant 1997-98 dollars\1\            | change,
                        |                                                                |                                                        |1979-80 to
          State         |________________________________________________________________|________________________________________________________|1997-98 in
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |constant
                        |1969-70|1979-80 |1989-90 |1994-95 | 1995-96 | 1996-97 | 1997-98 |1969-70 |1979-80 |1989-90 | 1994-95 | 1995-96 | 1996-97 | dollars
  ______________________|_______|________|________|________|_________|_________|_________|________|________|________|_________|_________|_________|__________
            1           |   2   |   3    |   4    |   5    |    6    |    7    |    8    |   9    |   10   |   11   |   12    |   13    |   14    |    15
  ______________________|_______|________|________|________|_________|_________|_________|________|________|________|_________|_________|_________|__________
     United States .....|$8,626 |$15,970 |$31,367 |$36,685 | $37,716 | $38,554 | $39,385 |$36,934 |$33,272 |$39,956 | $39,449 | $39,484 | $39,242 |     18.4
                        |_______|________|________|________|_________|_________|_________|________|________|________|_________|_________|_________|__________
  Alabama ..............| 6,818 | 13,060 | 24,828 | 31,144 |  31,313 |  32,549 |  32,818 | 29,193 | 27,209 | 31,626 |  33,491 |  32,781 |  33,129 |     20.6
  Alaska ...............|10,560 | 27,210 | 43,153 | 47,951 |  49,171 |  50,647 |  51,738 | 45,215 | 56,690 | 54,969 |  51,564 |  51,476 |  51,550 |     -8.7
  Arizona ..............| 8,711 | 15,054 | 29,402 | 32,574 |  33,300 |  33,300 |  33,850 | 37,298 | 31,364 | 37,453 |  35,029 |  34,861 |  33,894 |      7.9
  Arkansas .............| 6,307 | 12,299 | 22,352 | 28,934 |  29,533 |  30,319 |  30,578 | 27,005 | 25,624 | 28,472 |  31,114 |  30,917 |  30,860 |     19.3
  California ...........|10,315 | 18,020 | 37,998 | 41,078 |  42,259 |  42,992 |  43,725 | 44,166 | 37,543 | 48,402 |  44,173 |  44,240 |  43,759 |     16.5
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  Colorado .............| 7,761 | 16,205 | 30,758 | 34,571 |  35,364 |  36,271 |  37,052 | 33,230 | 33,762 | 39,180 |  37,176 |  37,022 |  36,918 |      9.7
  Connecticut ..........| 9,262 | 16,229 | 40,461 | 50,045 |  50,254 |  50,426 |  50,730 | 39,657 | 33,812 | 51,540 |  53,816 |  52,610 |  51,325 |     50.0
  Delaware .............| 9,015 | 16,148 | 33,377 | 39,076 |  40,533 |  41,436 |  42,439 | 38,600 | 33,643 | 42,516 |  42,021 |  42,433 |  42,175 |     26.1
  District of Columbia .|10,285 | 22,190 | 38,402 | 43,700 |  43,700 |  45,012 |  46,350 | 44,037 | 46,231 | 48,917 |  46,993 |  45,748 |  45,815 |      0.3
  Florida ..............| 8,412 | 14,149 | 28,803 | 32,588 |  33,330 |  33,889 |  34,475 | 36,018 | 29,478 | 36,690 |  35,044 |  34,892 |  34,493 |     17.0
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  Georgia ..............| 7,276 | 13,853 | 28,006 | 32,291 |  34,002 |  35,596 |  37,378 | 31,154 | 28,862 | 35,674 |  34,724 |  35,596 |  36,231 |     29.5
  Hawaii ...............| 9,453 | 19,920 | 32,047 | 38,518 |  35,807 |  35,842 |  38,377 | 40,475 | 41,502 | 40,822 |  41,421 |  37,485 |  36,481 |     -7.5
  Idaho ................| 6,890 | 13,611 | 23,861 | 29,783 |  30,891 |  31,818 |  32,775 | 29,501 | 28,357 | 30,394 |  32,027 |  32,339 |  32,385 |     15.6
  Illinois .............| 9,569 | 17,601 | 32,794 | 39,431 |  40,919 |  42,125 |  43,873 | 40,972 | 36,670 | 41,773 |  42,402 |  42,837 |  42,876 |     19.6
  Indiana...............| 8,833 | 15,599 | 30,902 | 36,785 |  37,675 |  38,845 |  39,682 | 37,820 | 32,499 | 39,363 |  39,557 |  39,441 |  39,538 |     22.1
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  Iowa .................| 8,355 | 15,203 | 26,747 | 31,511 |  32,372 |  33,272 |  34,040 | 35,774 | 31,674 | 34,071 |  33,886 |  33,889 |  33,865 |      7.5
  Kansas ...............| 7,612 | 13,690 | 28,744 | 34,652 |  35,023 |  35,739 |  36,811 | 32,592 | 28,522 | 36,614 |  37,263 |  36,665 |  36,376 |     29.1
  Kentucky .............| 6,953 | 14,520 | 26,292 | 32,257 |  33,080 |  33,797 |  34,525 | 29,771 | 30,251 | 33,491 |  34,688 |  34,631 |  34,400 |     14.1
  Louisiana ............| 7,028 | 13,760 | 24,300 | 26,461 |  27,530 |  29,025 |  29,650 | 30,092 | 28,668 | 30,954 |  28,455 |  28,820 |  29,543 |      3.4
  Maine ................| 7,572 | 13,071 | 26,881 | 31,972 |  32,869 |  33,676 |  34,349 | 32,421 | 27,232 | 34,241 |  34,381 |  34,410 |  34,277 |     26.1
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  Maryland .............| 9,383 | 17,558 | 36,319 | 40,661 |  41,160 |  41,148 |  41,739 | 40,175 | 36,581 | 46,263 |  43,725 |  43,089 |  41,882 |     14.1
  Massachusetts ........| 8,764 | 17,253 | 34,712 | 40,718 |  41,408 |  42,650 |  43,930 | 37,525 | 35,945 | 44,216 |  43,786 |  43,349 |  43,411 |     22.2
  Michigan .............| 9,826 | 19,663 | 37,072 | 41,895 |  46,832 |  48,238 |  49,277 | 42,072 | 40,966 | 47,223 |  45,052 |  49,027 |  49,098 |     20.3
  Minnesota ............| 8,658 | 15,912 | 32,190 | 35,948 |  36,937 |  38,281 |  39,106 | 37,071 | 33,151 | 41,004 |  38,657 |  38,668 |  38,964 |     18.0
  Mississippi ..........| 5,798 | 11,850 | 24,292 | 26,818 |  27,692 |  27,720 |  29,547 | 24,825 | 24,689 | 30,943 |  28,839 |  28,990 |  28,214 |     19.7
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  Missouri..............| 7,799 | 13,682 | 27,094 | 31,189 |  32,322 |  33,155 |  33,975 | 33,393 | 28,505 | 34,513 |  33,539 |  33,837 |  33,746 |     19.2
  Montana ..............| 7,606 | 14,537 | 25,081 | 28,785 |  29,364 |  29,958 |  30,617 | 32,567 | 30,287 | 31,948 |  30,954 |  30,740 |  30,492 |      1.1
  Nebraska .............| 7,375 | 13,516 | 25,522 | 30,922 |  31,496 |  31,768 |  32,668 | 31,578 | 28,159 | 32,510 |  33,252 |  32,972 |  32,335 |     16.0
  Nevada ...............| 9,215 | 16,295 | 30,590 | 34,836 |  36,167 |  37,340 |  37,093 | 39,456 | 33,949 | 38,966 |  37,461 |  37,862 |  38,006 |      9.3
  New Hampshire ........| 7,771 | 13,017 | 28,986 | 34,720 |  35,792 |  36,029 |  36,640 | 33,273 | 27,120 | 36,923 |  37,336 |  37,470 |  36,672 |     35.1
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  New Jersey ...........| 9,130 | 17,161 | 35,676 | 47,038 |  48,751 |  49,786 |  50,442 | 39,092 | 35,754 | 45,444 |  50,583 |  51,036 |  50,674 |     41.1
  New Mexico ...........| 7,796 | 14,887 | 24,756 | 28,493 |  29,074 |  30,131 |  30,152 | 33,380 | 31,016 | 31,534 |  30,640 |  30,437 |  30,668 |     -2.8
  New York .............|10,336 | 19,812 | 38,925 | 47,612 |  48,115 |  48,000 |  49,034 | 44,256 | 41,277 | 49,583 |  51,200 |  50,370 |  48,856 |     18.8
  North Carolina .......| 7,494 | 14,117 | 27,883 | 30,793 |  30,411 |  31,167 |  33,315 | 32,087 | 29,412 | 35,518 |  33,113 |  31,836 |  31,723 |     13.3
  North Dakota .........| 6,696 | 13,263 | 23,016 | 26,327 |  26,969 |  27,711 |  28,230 | 28,670 | 27,632 | 29,318 |  28,311 |  28,233 |  28,205 |      2.2
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  Ohio .................| 8,300 | 15,269 | 31,218 | 36,802 |  37,835 |  38,676 |  38,977 | 35,538 | 31,812 | 39,766 |  39,575 |  39,608 |  39,366 |     22.5
  Oklahoma .............| 6,882 | 13,107 | 23,070 | 28,172 |  28,404 |  30,369 |  30,606 | 29,467 | 27,307 | 29,387 |  30,295 |  29,735 |  30,911 |     12.1
  Oregon ...............| 8,818 | 16,266 | 30,840 | 38,555 |  39,706 |  40,960 |  42,150 | 37,756 | 33,889 | 39,284 |  41,460 |  41,567 |  41,690 |     24.4
  Pennsylvania .........| 8,858 | 16,515 | 33,338 | 44,510 |  46,087 |  47,147 |  47,650 | 37,927 | 34,408 | 42,466 |  47,864 |  48,247 |  47,988 |     38.5
  Rhode Island .........| 8,776 | 18,002 | 36,057 | 40,729 |  41,765 |  43,019 |  44,300 | 37,576 | 37,506 | 45,930 |  43,798 |  43,723 |  43,786 |     18.1
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  South Carolina .......| 6,927 | 13,063 | 27,217 | 30,279 |  31,622 |  32,830 |  33,608 | 29,659 | 27,216 | 34,669 |  32,561 |  33,104 |  33,415 |     23.5
  South Dakota .........| 6,403 | 12,348 | 21,300 | 25,994 |  26,346 |  26,764 |  27,341 | 27,416 | 25,726 | 27,132 |  27,953 |  27,581 |  27,241 |      6.3
  Tennessee ............| 7,050 | 13,972 | 27,052 | 32,477 |  33,126 |  34,222 |  35,340 | 30,186 | 29,110 | 34,459 |  34,924 |  34,679 |  34,832 |     21.4
  Texas ................| 7,255 | 14,132 | 27,496 | 31,223 |  32,000 |  33,038 |  33,648 | 31,064 | 29,443 | 35,025 |  33,576 |  33,500 |  33,627 |     14.3
  Utah .................| 7,644 | 14,909 | 23,686 | 29,082 |  30,588 |  31,867 |  32,950 | 32,729 | 31,062 | 30,171 |  31,273 |  32,022 |  32,435 |      6.1
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  Vermont ..............| 7,968 | 12,484 | 29,012 | 35,406 |  36,295 |  36,053 |  36,299 | 34,117 | 26,009 | 36,956 |  38,074 |  37,996 |  36,696 |     39.6
  Virginia .............| 8,070 | 14,060 | 30,938 | 33,987 |  34,792 |  35,691 |  36,654 | 34,553 | 29,293 | 39,409 |  36,548 |  36,423 |  36,328 |     25.1
  Washington ...........| 9,225 | 18,820 | 30,457 | 36,151 |  37,853 |  37,815 |  38,788 | 39,499 | 39,210 | 38,796 |  38,875 |  39,627 |  38,489 |     -1.1
  West Virginia.........| 7,650 | 13,710 | 22,842 | 31,944 |  32,155 |  33,257 |  33,398 | 32,755 | 28,564 | 29,096 |  34,351 |  33,662 |  33,850 |     16.9
  Wisconsin ............| 8,963 | 16,006 | 31,921 | 37,746 |  38,182 |  39,057 |  39,899 | 38,377 | 33,347 | 40,661 |  40,590 |  39,972 |  39,754 |     19.6
  Wyoming ..............| 8,232 | 16,012 | 28,141 | 31,285 |  31,571 |  31,715 |  32,022 | 35,247 | 33,360 | 35,846 |  33,642 |  33,051 |  32,281 |     -4.0
  ______________________|_______|________|________|________|_________|_________|_________|________|________|________|_________|_________|_________|__________</pre>

In [4]:
# Our data of interest is the text that is formatted like a table
# Select that data and return as text
doi= data.select('table td pre')[0].text
print(doi)

___________________________________________________________________________________________________________________________________________________________
                        |                                                                |                                                        | Percent
                        |                    Current dollars                             |                 Constant 1997-98 dollars\1\            | change,
                        |                                                                |                                                        |1979-80 to
          State         |________________________________________________________________|________________________________________________________|1997-98 in
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |constant
                        |1969-70|1979-80 |1989-90 |1994-95 | 1995-96 | 1996-97 | 1997-98 |1969-70 |1979-80 |1989-90 | 1994-95 | 1995-96 | 1996-97 | dollars
  ______________________|_______|________|________|________|_________|_________|_________|________|________|________|_________|_________|_________|__________
            1           |   2   |   3    |   4    |   5    |    6    |    7    |    8    |   9    |   10   |   11   |   12    |   13    |   14    |    15
  ______________________|_______|________|________|________|_________|_________|_________|________|________|________|_________|_________|_________|__________
     United States .....|$8,626 |$15,970 |$31,367 |$36,685 | $37,716 | $38,554 | $39,385 |$36,934 |$33,272 |$39,956 | $39,449 | $39,484 | $39,242 |     18.4
                        |_______|________|________|________|_________|_________|_________|________|________|________|_________|_________|_________|__________
  Alabama ..............| 6,818 | 13,060 | 24,828 | 31,144 |  31,313 |  32,549 |  32,818 | 29,193 | 27,209 | 31,626 |  33,491 |  32,781 |  33,129 |     20.6
  Alaska ...............|10,560 | 27,210 | 43,153 | 47,951 |  49,171 |  50,647 |  51,738 | 45,215 | 56,690 | 54,969 |  51,564 |  51,476 |  51,550 |     -8.7
  Arizona ..............| 8,711 | 15,054 | 29,402 | 32,574 |  33,300 |  33,300 |  33,850 | 37,298 | 31,364 | 37,453 |  35,029 |  34,861 |  33,894 |      7.9
  Arkansas .............| 6,307 | 12,299 | 22,352 | 28,934 |  29,533 |  30,319 |  30,578 | 27,005 | 25,624 | 28,472 |  31,114 |  30,917 |  30,860 |     19.3
  California ...........|10,315 | 18,020 | 37,998 | 41,078 |  42,259 |  42,992 |  43,725 | 44,166 | 37,543 | 48,402 |  44,173 |  44,240 |  43,759 |     16.5
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  Colorado .............| 7,761 | 16,205 | 30,758 | 34,571 |  35,364 |  36,271 |  37,052 | 33,230 | 33,762 | 39,180 |  37,176 |  37,022 |  36,918 |      9.7
  Connecticut ..........| 9,262 | 16,229 | 40,461 | 50,045 |  50,254 |  50,426 |  50,730 | 39,657 | 33,812 | 51,540 |  53,816 |  52,610 |  51,325 |     50.0
  Delaware .............| 9,015 | 16,148 | 33,377 | 39,076 |  40,533 |  41,436 |  42,439 | 38,600 | 33,643 | 42,516 |  42,021 |  42,433 |  42,175 |     26.1
  District of Columbia .|10,285 | 22,190 | 38,402 | 43,700 |  43,700 |  45,012 |  46,350 | 44,037 | 46,231 | 48,917 |  46,993 |  45,748 |  45,815 |      0.3
  Florida ..............| 8,412 | 14,149 | 28,803 | 32,588 |  33,330 |  33,889 |  34,475 | 36,018 | 29,478 | 36,690 |  35,044 |  34,892 |  34,493 |     17.0
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  Georgia ..............| 7,276 | 13,853 | 28,006 | 32,291 |  34,002 |  35,596 |  37,378 | 31,154 | 28,862 | 35,674 |  34,724 |  35,596 |  36,231 |     29.5
  Hawaii ...............| 9,453 | 19,920 | 32,047 | 38,518 |  35,807 |  35,842 |  38,377 | 40,475 | 41,502 | 40,822 |  41,421 |  37,485 |  36,481 |     -7.5
  Idaho ................| 6,890 | 13,611 | 23,861 | 29,783 |  30,891 |  31,818 |  32,775 | 29,501 | 28,357 | 30,394 |  32,027 |  32,339 |  32,385 |     15.6
  Illinois .............| 9,569 | 17,601 | 32,794 | 39,431 |  40,919 |  42,125 |  43,873 | 40,972 | 36,670 | 41,773 |  42,402 |  42,837 |  42,876 |     19.6
  Indiana...............| 8,833 | 15,599 | 30,902 | 36,785 |  37,675 |  38,845 |  39,682 | 37,820 | 32,499 | 39,363 |  39,557 |  39,441 |  39,538 |     22.1
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  Iowa .................| 8,355 | 15,203 | 26,747 | 31,511 |  32,372 |  33,272 |  34,040 | 35,774 | 31,674 | 34,071 |  33,886 |  33,889 |  33,865 |      7.5
  Kansas ...............| 7,612 | 13,690 | 28,744 | 34,652 |  35,023 |  35,739 |  36,811 | 32,592 | 28,522 | 36,614 |  37,263 |  36,665 |  36,376 |     29.1
  Kentucky .............| 6,953 | 14,520 | 26,292 | 32,257 |  33,080 |  33,797 |  34,525 | 29,771 | 30,251 | 33,491 |  34,688 |  34,631 |  34,400 |     14.1
  Louisiana ............| 7,028 | 13,760 | 24,300 | 26,461 |  27,530 |  29,025 |  29,650 | 30,092 | 28,668 | 30,954 |  28,455 |  28,820 |  29,543 |      3.4
  Maine ................| 7,572 | 13,071 | 26,881 | 31,972 |  32,869 |  33,676 |  34,349 | 32,421 | 27,232 | 34,241 |  34,381 |  34,410 |  34,277 |     26.1
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  Maryland .............| 9,383 | 17,558 | 36,319 | 40,661 |  41,160 |  41,148 |  41,739 | 40,175 | 36,581 | 46,263 |  43,725 |  43,089 |  41,882 |     14.1
  Massachusetts ........| 8,764 | 17,253 | 34,712 | 40,718 |  41,408 |  42,650 |  43,930 | 37,525 | 35,945 | 44,216 |  43,786 |  43,349 |  43,411 |     22.2
  Michigan .............| 9,826 | 19,663 | 37,072 | 41,895 |  46,832 |  48,238 |  49,277 | 42,072 | 40,966 | 47,223 |  45,052 |  49,027 |  49,098 |     20.3
  Minnesota ............| 8,658 | 15,912 | 32,190 | 35,948 |  36,937 |  38,281 |  39,106 | 37,071 | 33,151 | 41,004 |  38,657 |  38,668 |  38,964 |     18.0
  Mississippi ..........| 5,798 | 11,850 | 24,292 | 26,818 |  27,692 |  27,720 |  29,547 | 24,825 | 24,689 | 30,943 |  28,839 |  28,990 |  28,214 |     19.7
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  Missouri..............| 7,799 | 13,682 | 27,094 | 31,189 |  32,322 |  33,155 |  33,975 | 33,393 | 28,505 | 34,513 |  33,539 |  33,837 |  33,746 |     19.2
  Montana ..............| 7,606 | 14,537 | 25,081 | 28,785 |  29,364 |  29,958 |  30,617 | 32,567 | 30,287 | 31,948 |  30,954 |  30,740 |  30,492 |      1.1
  Nebraska .............| 7,375 | 13,516 | 25,522 | 30,922 |  31,496 |  31,768 |  32,668 | 31,578 | 28,159 | 32,510 |  33,252 |  32,972 |  32,335 |     16.0
  Nevada ...............| 9,215 | 16,295 | 30,590 | 34,836 |  36,167 |  37,340 |  37,093 | 39,456 | 33,949 | 38,966 |  37,461 |  37,862 |  38,006 |      9.3
  New Hampshire ........| 7,771 | 13,017 | 28,986 | 34,720 |  35,792 |  36,029 |  36,640 | 33,273 | 27,120 | 36,923 |  37,336 |  37,470 |  36,672 |     35.1
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  New Jersey ...........| 9,130 | 17,161 | 35,676 | 47,038 |  48,751 |  49,786 |  50,442 | 39,092 | 35,754 | 45,444 |  50,583 |  51,036 |  50,674 |     41.1
  New Mexico ...........| 7,796 | 14,887 | 24,756 | 28,493 |  29,074 |  30,131 |  30,152 | 33,380 | 31,016 | 31,534 |  30,640 |  30,437 |  30,668 |     -2.8
  New York .............|10,336 | 19,812 | 38,925 | 47,612 |  48,115 |  48,000 |  49,034 | 44,256 | 41,277 | 49,583 |  51,200 |  50,370 |  48,856 |     18.8
  North Carolina .......| 7,494 | 14,117 | 27,883 | 30,793 |  30,411 |  31,167 |  33,315 | 32,087 | 29,412 | 35,518 |  33,113 |  31,836 |  31,723 |     13.3
  North Dakota .........| 6,696 | 13,263 | 23,016 | 26,327 |  26,969 |  27,711 |  28,230 | 28,670 | 27,632 | 29,318 |  28,311 |  28,233 |  28,205 |      2.2
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  Ohio .................| 8,300 | 15,269 | 31,218 | 36,802 |  37,835 |  38,676 |  38,977 | 35,538 | 31,812 | 39,766 |  39,575 |  39,608 |  39,366 |     22.5
  Oklahoma .............| 6,882 | 13,107 | 23,070 | 28,172 |  28,404 |  30,369 |  30,606 | 29,467 | 27,307 | 29,387 |  30,295 |  29,735 |  30,911 |     12.1
  Oregon ...............| 8,818 | 16,266 | 30,840 | 38,555 |  39,706 |  40,960 |  42,150 | 37,756 | 33,889 | 39,284 |  41,460 |  41,567 |  41,690 |     24.4
  Pennsylvania .........| 8,858 | 16,515 | 33,338 | 44,510 |  46,087 |  47,147 |  47,650 | 37,927 | 34,408 | 42,466 |  47,864 |  48,247 |  47,988 |     38.5
  Rhode Island .........| 8,776 | 18,002 | 36,057 | 40,729 |  41,765 |  43,019 |  44,300 | 37,576 | 37,506 | 45,930 |  43,798 |  43,723 |  43,786 |     18.1
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  South Carolina .......| 6,927 | 13,063 | 27,217 | 30,279 |  31,622 |  32,830 |  33,608 | 29,659 | 27,216 | 34,669 |  32,561 |  33,104 |  33,415 |     23.5
  South Dakota .........| 6,403 | 12,348 | 21,300 | 25,994 |  26,346 |  26,764 |  27,341 | 27,416 | 25,726 | 27,132 |  27,953 |  27,581 |  27,241 |      6.3
  Tennessee ............| 7,050 | 13,972 | 27,052 | 32,477 |  33,126 |  34,222 |  35,340 | 30,186 | 29,110 | 34,459 |  34,924 |  34,679 |  34,832 |     21.4
  Texas ................| 7,255 | 14,132 | 27,496 | 31,223 |  32,000 |  33,038 |  33,648 | 31,064 | 29,443 | 35,025 |  33,576 |  33,500 |  33,627 |     14.3
  Utah .................| 7,644 | 14,909 | 23,686 | 29,082 |  30,588 |  31,867 |  32,950 | 32,729 | 31,062 | 30,171 |  31,273 |  32,022 |  32,435 |      6.1
                        |       |        |        |        |         |         |         |        |        |        |         |         |         |
  Vermont ..............| 7,968 | 12,484 | 29,012 | 35,406 |  36,295 |  36,053 |  36,299 | 34,117 | 26,009 | 36,956 |  38,074 |  37,996 |  36,696 |     39.6
  Virginia .............| 8,070 | 14,060 | 30,938 | 33,987 |  34,792 |  35,691 |  36,654 | 34,553 | 29,293 | 39,409 |  36,548 |  36,423 |  36,328 |     25.1
  Washington ...........| 9,225 | 18,820 | 30,457 | 36,151 |  37,853 |  37,815 |  38,788 | 39,499 | 39,210 | 38,796 |  38,875 |  39,627 |  38,489 |     -1.1
  West Virginia.........| 7,650 | 13,710 | 22,842 | 31,944 |  32,155 |  33,257 |  33,398 | 32,755 | 28,564 | 29,096 |  34,351 |  33,662 |  33,850 |     16.9
  Wisconsin ............| 8,963 | 16,006 | 31,921 | 37,746 |  38,182 |  39,057 |  39,899 | 38,377 | 33,347 | 40,661 |  40,590 |  39,972 |  39,754 |     19.6
  Wyoming ..............| 8,232 | 16,012 | 28,141 | 31,285 |  31,571 |  31,715 |  32,022 | 35,247 | 33,360 | 35,846 |  33,642 |  33,051 |  32,281 |     -4.0
  ______________________|_______|________|________|________|_________|_________|_________|________|________|________|_________|_________|_________|__________

In [5]:
# read_csv was taking in object as a file name
# trouble shooting said to use io.StringIO
#  

import io

salary_df = pd.read_csv(io.StringIO(doi),sep='|', #separate columns by |-symbol
            skiprows=7,
            usecols=list(range(0,8))
            )
salary_df

,,1969-70,1979-80,1989-90,1994-95,1995-96,1996-97,1997-98
0,______________________,_______,________,________,________,_________,_________,_________
1,1,2,3,4,5,6,7,8
2,______________________,_______,________,________,________,_________,_________,_________
3,United States .....,"$8,626","$15,970","$31,367","$36,685","$37,716","$38,554","$39,385"
4,,_______,________,________,________,_________,_________,_________
...,...,...,...,...,...,...,...,...
61,Washington ...........,"9,225","18,820","30,457","36,151","37,853","37,815","38,788"
62,West Virginia.........,"7,650","13,710","22,842","31,944","32,155","33,257","33,398"
63,Wisconsin ............,"8,963","16,006","31,921","37,746","38,182","39,057","39,899"
64,Wyoming ..............,"8,232","16,012","28,141","31,285","31,571","31,715","32,022"
65,______________________,_______,________,________,________,_________,_________,_________

### Clean the df

In [6]:
# Rename first column
salary_df.rename(columns={salary_df.columns[0]:'State'}, inplace=True)

salary_df.columns

Index(['State', '1969-70', '1979-80 ', '1989-90 ', '1994-95 ', ' 1995-96 ',
       ' 1996-97 ', ' 1997-98 '],
      dtype='object')

In [7]:
# Remove white space from other column names

# Create an empty dicitonary
new_column_names = {}

# Loop thru column names and remove white space
for i in list(range(len(salary_df.columns))):
    new_column_names[salary_df.columns[i]] = salary_df.columns[i].strip()

salary_df.rename(columns=new_column_names, inplace=True)

salary_df.head()

,State,1969-70,1979-80,1989-90,1994-95,1995-96,1996-97,1997-98
0,______________________,_______,________,________,________,_________,_________,_________
1,1,2,3,4,5,6,7,8
2,______________________,_______,________,________,________,_________,_________,_________
3,United States .....,"$8,626","$15,970","$31,367","$36,685","$37,716","$38,554","$39,385"
4,,_______,________,________,________,_________,_________,_________

In [8]:
# remove '...' from state name column and then set as index
def period_remover(value):
    
    temp = value.strip()
    
    if len(temp) > 1 and temp[0].lower() in ('abcdefghijklmnopqrstuvwxyz'):
        return temp.split('.')[0].strip()
    else:
        return np.NaN

salary_df_clean = salary_df.copy()

salary_df_clean['State'] = salary_df_clean['State'].apply(period_remover)

salary_df_clean

,State,1969-70,1979-80,1989-90,1994-95,1995-96,1996-97,1997-98
0,NaN,_______,________,________,________,_________,_________,_________
1,NaN,2,3,4,5,6,7,8
2,NaN,_______,________,________,________,_________,_________,_________
3,United States,"$8,626","$15,970","$31,367","$36,685","$37,716","$38,554","$39,385"
4,NaN,_______,________,________,________,_________,_________,_________
...,...,...,...,...,...,...,...,...
61,Washington,"9,225","18,820","30,457","36,151","37,853","37,815","38,788"
62,West Virginia,"7,650","13,710","22,842","31,944","32,155","33,257","33,398"
63,Wisconsin,"8,963","16,006","31,921","37,746","38,182","39,057","39,899"
64,Wyoming,"8,232","16,012","28,141","31,285","31,571","31,715","32,022"
65,NaN,_______,________,________,________,_________,_________,_________

In [9]:
cleaner_salary_df = salary_df_clean.dropna(axis=0)
cleaner_salary_df.head(10)

,State,1969-70,1979-80,1989-90,1994-95,1995-96,1996-97,1997-98
3,United States,"$8,626","$15,970","$31,367","$36,685","$37,716","$38,554","$39,385"
5,Alabama,"6,818","13,060","24,828","31,144","31,313","32,549","32,818"
6,Alaska,"10,560","27,210","43,153","47,951","49,171","50,647","51,738"
7,Arizona,"8,711","15,054","29,402","32,574","33,300","33,300","33,850"
8,Arkansas,"6,307","12,299","22,352","28,934","29,533","30,319","30,578"
9,California,"10,315","18,020","37,998","41,078","42,259","42,992","43,725"
11,Colorado,"7,761","16,205","30,758","34,571","35,364","36,271","37,052"
12,Connecticut,"9,262","16,229","40,461","50,045","50,254","50,426","50,730"
13,Delaware,"9,015","16,148","33,377","39,076","40,533","41,436","42,439"
14,District of Columbia,"10,285","22,190","38,402","43,700","43,700","45,012","46,350"

In [10]:
def data_to_int(val):
    return int(''.join(re.findall(r'\d',val.split('\\')[-1])))

In [11]:
data_to_int('11,001')

11001

In [12]:
salary_df_final = cleaner_salary_df.copy()

for i in list(range(len(salary_df_final.columns)-1)):
    salary_df_final[salary_df_final.columns[i+1]] = salary_df_final[salary_df_final.columns[i+1]].apply(data_to_int)

In [13]:
salary_df_final

,State,1969-70,1979-80,1989-90,1994-95,1995-96,1996-97,1997-98
3,United States,8626,15970,31367,36685,37716,38554,39385
5,Alabama,6818,13060,24828,31144,31313,32549,32818
6,Alaska,10560,27210,43153,47951,49171,50647,51738
7,Arizona,8711,15054,29402,32574,33300,33300,33850
8,Arkansas,6307,12299,22352,28934,29533,30319,30578
9,California,10315,18020,37998,41078,42259,42992,43725
11,Colorado,7761,16205,30758,34571,35364,36271,37052
12,Connecticut,9262,16229,40461,50045,50254,50426,50730
13,Delaware,9015,16148,33377,39076,40533,41436,42439
14,District of Columbia,10285,22190,38402,43700,43700,45012,46350
15,Florida,8412,14149,28803,32588,33330,33889,34475
17,Georgia,7276,13853,28006,32291,34002,35596,37378
18,Hawaii,9453,19920,32047,38518,35807,35842,38377
19,Idaho,6890,13611,23861,29783,30891,31818,32775
20,Illinois,9569,17601,32794,39431,40919,42125,43873
21,Indiana,8833,15599,30902,36785,37675,38845,39682
23,Iowa,8355,15203,26747,31511,32372,33272,34040
24,Kansas,7612,13690,28744,34652,35023,35739,36811
25,Kentucky,6953,14520,26292,32257,33080,33797,34525
26,Louisiana,7028,13760,24300,26461,27530,29025,29650
27,Maine,7572,13071,26881,31972,32869,33676,34349
29,Maryland,9383,17558,36319,40661,41160,41148,41739
30,Massachusetts,8764,17253,34712,40718,41408,42650,43930
31,Michigan,9826,19663,37072,41895,46832,48238,49277
32,Minnesota,8658,15912,32190,35948,36937,38281,39106
33,Mississippi,5798,11850,24292,26818,27692,27720,29547
35,Missouri,7799,13682,27094,31189,32322,33155,33975
36,Montana,7606,14537,25081,28785,29364,29958,30617
37,Nebraska,7375,13516,25522,30922,31496,31768,32668
38,Nevada,9215,16295,30590,34836,36167,37340,37093
39,New Hampshire,7771,13017,28986,34720,35792,36029,36640
41,New Jersey,9130,17161,35676,47038,48751,49786,50442
42,New Mexico,7796,14887,24756,28493,29074,30131,30152
43,New York,10336,19812,38925,47612,48115,48000,49034
44,North Carolina,7494,14117,27883,30793,30411,31167,33315
45,North Dakota,6696,13263,23016,26327,26969,27711,28230
47,Ohio,8300,15269,31218,36802,37835,38676,38977
48,Oklahoma,6882,13107,23070,28172,28404,30369,30606
49,Oregon,8818,16266,30840,38555,39706,40960,42150
50,Pennsylvania,8858,16515,33338,44510,46087,47147,47650
51,Rhode Island,8776,18002,36057,40729,41765,43019,44300
53,South Carolina,6927,13063,27217,30279,31622,32830,33608
54,South Dakota,6403,12348,21300,25994,26346,26764,27341
55,Tennessee,7050,13972,27052,32477,33126,34222,35340
56,Texas,7255,14132,27496,31223,32000,33038,33648
57,Utah,7644,14909,23686,29082,30588,31867,32950
59,Vermont,7968,12484,29012,35406,36295,36053,36299
60,Virginia,8070,14060,30938,33987,34792,35691,36654
61,Washington,9225,18820,30457,36151,37853,37815,38788
62,West Virginia,7650,13710,22842,31944,32155,33257,33398
63,Wisconsin,8963,16006,31921,37746,38182,39057,39899
64,Wyoming,8232,16012,28141,31285,31571,31715,32022

In [14]:
salary_df_final.to_csv('Data/1998_avg_teacher_salaries.csv',index=False)

In [ ]:
# 2006 and on can use pd.read_html 

# For everything before that: pd.read_csv

# 1995 has a unique url ('https://nces.ed.gov/programs/digest/d95/dtab077.asp')

# Table 77 for 1996 ('https://nces.ed.gov/programs/digest/d96/d96t077.asp')
# Table 77 for 2005 ('https://nces.ed.gov/programs/digest/d05/tables/dt05_077.asp')

# Table 78 for 1997 ('https://nces.ed.gov/programs/digest/d97/d97t078.asp')
# Table 78 for 2000-04 ('https://nces.ed.gov/programs/digest/d00/dt078.asp')

#Table 79 in 1998,99 ('https://nces.ed.gov/programs/digest/d98/d98t079.asp')

for year in range(1995,2013):
    print(year)
    try:
        url = f'https://nces.ed.gov/programs/digest/d{str(year)[2:]}/d{str(year)[2:]}t077.asp'
        r=requests.post(url)
        data = soup(r.text, 'html.parser')

        table_list = data.select('table td pre')

        print(len(table_list))   
    except:
        print(f'No data in this link: {url}')

In [15]:
#import libraries

import io
import numpy as np
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup as soup

def table_scraper(url):
    # ----------------------------------------------------------------------------------------------------------------------
    
    # Use requests.post becuase it'll pull data after the webpage has loaded
    r=requests.post(url)

    # create a "soup" object 
    data = soup(r.text, 'html.parser')

    # ----------------------------------------------------------------------------------------------------------------------

    # Our data of interest is the text that is formatted like a table
    # Select that data and return as text
    doi= data.select('table td pre')[0].text

    # ----------------------------------------------------------------------------------------------------------------------

    salary_df = pd.read_csv(io.StringIO(doi),sep='|', #separate columns by |-symbol
                skiprows=7,
                usecols=list(range(0,8))
                )

    # ----------------------------------------------------------------------------------------------------------------------

    # Rename first column
    salary_df.rename(columns={salary_df.columns[0]:'State'}, inplace=True)

    # ----------------------------------------------------------------------------------------------------------------------

    # Remove white space from other column names

    # Create an empty dicitonary
    new_column_names = {}

    # Loop thru column names and remove white space
    for i in list(range(len(salary_df.columns))):
        new_column_names[salary_df.columns[i]] = salary_df.columns[i].strip()

    salary_df.rename(columns=new_column_names, inplace=True)

    # ----------------------------------------------------------------------------------------------------------------------

    # remove '...' from state name column and then set as index
    def period_remover(value):
        
        temp = value.strip()
        
        if len(temp) > 1 and temp[0].lower() in ('abcdefghijklmnopqrstuvwxyz'):
            return temp.split('.')[0]
        else:
            return np.NaN

    salary_df_clean = salary_df.copy()

    salary_df_clean['State'] = salary_df_clean['State'].apply(period_remover)

    # ----------------------------------------------------------------------------------------------------------------------

    cleaner_salary_df = salary_df_clean.dropna(axis=0)

    # ----------------------------------------------------------------------------------------------------------------------

    def data_to_int(val):
        return int(''.join(re.findall(r'\d',val.split('\\')[-1])))

    salary_df_final = cleaner_salary_df.copy()

    for i in list(range(len(salary_df_final.columns)-1)):
        salary_df_final[salary_df_final.columns[i+1]] = salary_df_final[salary_df_final.columns[i+1]].apply(data_to_int)

    return salary_df_final

In [17]:
table_scraper('https://nces.ed.gov/programs/digest/d99/d99t079.asp')

,State,1969-70,1979-80,1989-90,1994-95,1995-96,1996-97,1997-98
3,United States,8626,15970,31367,36685,37716,38554,39385
5,Alabama,6818,13060,24828,31144,31313,32549,32818
6,Alaska,10560,27210,43153,47951,49171,50647,51738
7,Arizona,8711,15054,29402,32574,33300,33300,33850
8,Arkansas,6307,12299,22352,28934,29533,30319,30578
9,California,10315,18020,37998,41078,42259,42992,43725
11,Colorado,7761,16205,30758,34571,35364,36271,37052
12,Connecticut,9262,16229,40461,50045,50254,50426,50730
13,Delaware,9015,16148,33377,39076,40533,41436,42439
14,District of Columbia,10285,22190,38402,43700,43700,45012,46350
15,Florida,8412,14149,28803,32588,33330,33889,34475
17,Georgia,7276,13853,28006,32291,34002,35596,37378
18,Hawaii,9453,19920,32047,38518,35807,35842,38377
19,Idaho,6890,13611,23861,29783,30891,31818,32775
20,Illinois,9569,17601,32794,39431,40919,42125,43873
21,Indiana,8833,15599,30902,36785,37675,38845,39682
23,Iowa,8355,15203,26747,31511,32372,33272,34040
24,Kansas,7612,13690,28744,34652,35023,35739,36811
25,Kentucky,6953,14520,26292,32257,33080,33797,34525
26,Louisiana,7028,13760,24300,26461,27530,29025,29650
27,Maine,7572,13071,26881,31972,32869,33676,34349
29,Maryland,9383,17558,36319,40661,41160,41148,41739
30,Massachusetts,8764,17253,34712,40718,41408,42650,43930
31,Michigan,9826,19663,37072,41895,46832,48238,49277
32,Minnesota,8658,15912,32190,35948,36937,38281,39106
33,Mississippi,5798,11850,24292,26818,27692,27720,29547
35,Missouri,7799,13682,27094,31189,32322,33155,33975
36,Montana,7606,14537,25081,28785,29364,29958,30617
37,Nebraska,7375,13516,25522,30922,31496,31768,32668
38,Nevada,9215,16295,30590,34836,36167,37340,37093
39,New Hampshire,7771,13017,28986,34720,35792,36029,36640
41,New Jersey,9130,17161,35676,47038,48751,49786,50442
42,New Mexico,7796,14887,24756,28493,29074,30131,30152
43,New York,10336,19812,38925,47612,48115,48000,49034
44,North Carolina,7494,14117,27883,30793,30411,31167,33315
45,North Dakota,6696,13263,23016,26327,26969,27711,28230
47,Ohio,8300,15269,31218,36802,37835,38676,38977
48,Oklahoma,6882,13107,23070,28172,28404,30369,30606
49,Oregon,8818,16266,30840,38555,39706,40960,42150
50,Pennsylvania,8858,16515,33338,44510,46087,47147,47650
51,Rhode Island,8776,18002,36057,40729,41765,43019,44300
53,South Carolina,6927,13063,27217,30279,31622,32830,33608
54,South Dakota,6403,12348,21300,25994,26346,26764,27341
55,Tennessee,7050,13972,27052,32477,33126,34222,35340
56,Texas,7255,14132,27496,31223,32000,33038,33648
57,Utah,7644,14909,23686,29082,30588,31867,32950
59,Vermont,7968,12484,29012,35406,36295,36053,36299
60,Virginia,8070,14060,30938,33987,34792,35691,36654
61,Washington,9225,18820,30457,36151,37853,37815,38788
62,West Virginia,7650,13710,22842,31944,32155,33257,33398
63,Wisconsin,8963,16006,31921,37746,38182,39057,39899
64,Wyoming,8232,16012,28141,31285,31571,31715,32022