In [1]:
#import libraries

import numpy as np
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup as soup

In [2]:
# Set URL as a variable
url = 'https://nces.ed.gov/programs/digest/d05/tables/dt05_077.asp'

# Use requests.post becuase it'll pull data after the webpage has loaded
r=requests.post(url)

# create a "soup" object 
data = soup(r.text, 'html.parser')

In [3]:
# Identify element tag with target data
data.select('table td pre')[0]

<pre style="text-align:left; padding-left:4px">_____________________________________________________________________________________________________________________________________________
                      |                                                         |                                                 |   Percent
                      |                                                         |                                                 |   change,
                      |                          Current dollars                |             Constant 2004-05 dollars\1\         |1989-90 to
                      |_________________________________________________________|_________________________________________________|2004-05 in
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |  constant
State                 |1969-70|1979-80|1989-90|1999-2000|2002-03|2003-04|2004-05|1969-70|1979-80|1989-90|1999-2000|2002-03|2003-04|   dollars
______________________|_______|_______|_______|_________|_______|_______|_______|_______|_______|_______|_________|_______|_______|__________
1                     |      2|      3|      4|        5|      6|      7|      8|      9|     10|     11|       12|     13|     14|        15
______________________|_______|_______|_______|_________|_______|_______|_______|_______|_______|_______|_________|_______|_______|__________
   United States .....| $8,626|$15,970|$31,367|  $41,807|$45,776|$46,752|$47,750|$43,773|$39,433|$47,354|  $47,339|$48,185|$48,159|       0.8
                      |_______|_______|_______|_________|_______|_______|_______|_______|_______|_______|_________|_______|_______|__________
Alabama ..............|  6,818| 13,060| 24,828|   36,689| 38,246| 38,325| 38,863| 34,598| 32,248| 37,482|   41,544| 40,259| 39,478|       3.7
Alaska ...............| 10,560| 27,210| 43,153|   46,462| 49,685| 51,736| 52,424| 53,587| 67,187| 65,147|   52,610| 52,300| 53,293|     -19.5
Arizona ..............|  8,711| 15,054| 29,402|   36,902| 40,894| 41,843| 42,905| 44,205| 37,171| 44,388|   41,785| 43,046| 43,102|      -3.3
Arkansas .............|  6,307| 12,299| 22,352|   33,386| 37,753| 39,314| 40,495| 32,005| 30,369| 33,744|   37,803| 39,740| 40,497|      20.0
California ...........| 10,315| 18,020| 37,998|   47,680| 56,283| 56,444| 57,876| 52,344| 44,495| 57,365|   53,989| 59,245| 58,143|       0.9
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
Colorado .............|  7,761| 16,205| 30,758|   38,163| 41,275| 43,319| 44,161| 39,384| 40,014| 46,435|   43,213| 43,447| 44,623|      -4.9
Connecticut ..........|  9,262| 16,229| 40,461|   51,780| 54,362| 57,337| 58,688| 47,001| 40,073| 61,083|   58,631| 57,223| 59,062|      -3.9
Delaware .............|  9,015| 16,148| 33,377|   44,435| 50,772| 49,366| 50,869| 45,747| 39,873| 50,389|   50,314| 53,444| 50,852|       1.0
District of Columbia .| 10,285| 22,190| 38,402|   47,076| 50,763| 57,009| 58,456| 52,192| 54,792| 57,975|   53,305| 53,435| 58,725|       0.8
Florida ..............|  8,412| 14,149| 28,803|   36,722| 39,465| 40,604| 41,081| 42,687| 34,937| 43,483|   41,581| 41,542| 41,826|      -5.5
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
Georgia ..............|  7,276| 13,853| 28,006|   41,023| 45,533| 45,988| 46,526| 36,923| 34,206| 42,280|   46,451| 47,929| 47,372|      10.0
Hawaii ...............|  9,453| 19,920| 32,047|   40,578| 44,464| 45,479| 44,273| 47,970| 49,187| 48,381|   45,947| 46,804| 46,848|      -8.5
Idaho ................|  6,890| 13,611| 23,861|   35,547| 40,148| 41,080| 42,122| 34,964| 33,608| 36,023|   40,250| 42,261| 42,316|      16.9
Illinois .............|  9,569| 17,601| 32,794|   46,486| 51,289| 54,230| 55,629| 48,559| 43,461| 49,509|   52,637| 53,988| 55,862|      12.4
Indiana ..............|  8,833| 15,599| 30,902|   41,850| 45,097| 45,791| 46,851| 44,824| 38,517| 46,652|   47,387| 47,470| 47,169|       0.4
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
Iowa .................|  8,355| 15,203| 26,747|   35,678| 38,921| 39,432| 40,347| 42,398| 37,539| 40,379|   40,399| 40,969| 40,619|      -0.1
Kansas ...............|  7,612| 13,690| 28,744|   34,981| 38,123| 38,623| 39,190| 38,628| 33,803| 43,394|   39,610| 40,129| 39,785|      -9.7
Kentucky .............|  6,953| 14,520| 26,292|   36,380| 38,981| 40,240| 41,002| 35,284| 35,853| 39,693|   41,194| 41,032| 41,451|       3.3
Louisiana ............|  7,028| 13,760| 24,300|   33,109| 36,878| 37,918| 38,880| 35,664| 33,976| 36,685|   37,490| 38,819| 39,059|       6.0
Maine ................|  7,572| 13,071| 26,881|   35,561| 38,121| 39,864| 40,940| 38,425| 32,275| 40,582|   40,266| 40,127| 41,064|       0.9
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
Maryland .............|  9,383| 17,558| 36,319|   44,048| 49,677| 50,261| 52,331| 47,615| 43,354| 54,830|   49,876| 52,291| 51,773|      -4.6
Massachusetts ........|  8,764| 17,253| 34,712|   46,580| 52,043| 53,181| 54,596| 44,474| 42,601| 52,404|   52,743| 54,782| 54,781|       4.2
Michigan .............|  9,826| 19,663| 37,072|   49,044| 54,071| 54,412| 55,693| 49,863| 48,552| 55,967|   55,533| 56,917| 56,049|      -0.5
Minnesota ............|  8,658| 15,912| 32,190|   39,802| 42,833| 45,375| 46,906| 43,936| 39,290| 48,597|   45,068| 45,087| 46,740|      -3.5
Mississippi ..........|  5,798| 11,850| 24,292|   31,857| 34,555| 35,684| 36,590| 29,422| 29,260| 36,673|   36,072| 36,373| 36,758|      -0.2
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
Missouri .............|  7,799| 13,682| 27,094|   35,656| 38,826| 38,006| 38,971| 39,577| 33,784| 40,903|   40,374| 40,870| 39,150|      -4.7
Montana ..............|  7,606| 14,537| 25,081|   32,121| 35,754| 37,184| 38,485| 38,597| 35,895| 37,864|   36,371| 37,636| 38,303|       1.6
Nebraska .............|  7,375| 13,516| 25,522|   33,237| 37,896| 38,352| 39,456| 37,425| 33,374| 38,530|   37,635| 39,890| 39,506|       2.4
Nevada ...............|  9,215| 16,295| 30,590|   39,390| 41,795| 42,254| 43,394| 46,762| 40,236| 46,181|   44,602| 43,995| 43,526|      -6.0
New Hampshire ........|  7,771| 13,017| 28,986|   37,734| 40,519| 42,689| 43,941| 39,435| 32,142| 43,760|   42,727| 42,652| 43,974|       0.4
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
New Jersey ...........|  9,130| 17,161| 35,676|   52,015| 54,166| 55,592| 56,600| 46,331| 42,374| 53,859|   58,897| 57,017| 57,265|       5.1
New Mexico ...........|  7,796| 14,887| 24,756|   32,554| 36,687| 38,067| 39,328| 39,561| 36,759| 37,374|   36,861| 38,618| 39,213|       5.2
New York .............| 10,336| 19,812| 38,925|   51,020| 52,600| 55,181| 56,200| 52,451| 48,920| 58,764|   57,771| 55,368| 56,842|      -4.4
North Carolina .......|  7,494| 14,117| 27,883|   39,404| 43,076| 43,211| 43,313| 38,029| 34,858| 42,094|   44,618| 45,343| 44,511|       2.9
North Dakota .........|  6,696| 13,263| 23,016|   29,863| 33,210| 35,441| 36,449| 33,979| 32,749| 34,747|   33,814| 34,958| 36,508|       4.9
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
Ohio .................|  8,300| 15,269| 31,218|   41,436| 45,452| 47,482| 48,692| 42,119| 37,702| 47,129|   46,919| 47,844| 48,911|       3.3
Oklahoma .............|  6,882| 13,107| 23,070|   31,298| 34,854| 35,061| 37,141| 34,923| 32,364| 34,828|   35,439| 36,688| 36,116|       6.6
Oregon ...............|  8,818| 16,266| 30,840|   42,336| 47,600| 49,169| 50,790| 44,748| 40,164| 46,559|   47,938| 50,105| 50,649|       9.1
Pennsylvania .........|  8,858| 16,515| 33,338|   48,321| 51,800| 51,835| 52,700| 44,951| 40,779| 50,330|   54,715| 54,526| 53,395|       4.7
Rhode Island .........|  8,776| 18,002| 36,057|   47,041| 51,076| 52,261| 53,473| 44,534| 44,451| 54,435|   53,265| 53,764| 53,834|      -1.8
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
South Carolina .......|  6,927| 13,063| 27,217|   36,081| 41,279| 41,162| 42,207| 35,152| 32,255| 41,089|   40,855| 43,451| 42,401|       2.7
South Dakota .........|  6,403| 12,348| 21,300|   29,071| 32,416| 33,236| 34,040| 32,492| 30,490| 32,156|   32,918| 34,122| 34,236|       5.9
Tennessee ............|  7,050| 13,972| 27,052|   36,328| 39,677| 40,318| 41,527| 35,776| 34,500| 40,840|   41,135| 41,765| 41,531|       1.7
Texas ................|  7,255| 14,132| 27,496|   37,567| 40,001| 40,476| 41,009| 36,816| 34,895| 41,510|   42,538| 42,106| 41,694|      -1.2
Utah .................|  7,644| 14,909| 23,686|   34,946| 38,413| 38,976| 39,965| 38,790| 36,813| 35,758|   39,570| 40,435| 40,149|      11.8
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
Vermont ..............|  7,968| 12,484| 29,012|   37,758| 41,603| 42,007| 44,535| 40,434| 30,826| 43,799|   42,754| 43,792| 43,271|       1.7
Virginia .............|  8,070| 14,060| 30,938|   38,744| 43,152| 43,655| 44,763| 40,952| 34,717| 46,707|   43,870| 45,423| 44,969|      -4.2
Washington ...........|  9,225| 18,820| 30,457|   41,043| 44,949| 45,434| 45,712| 46,813| 46,470| 45,980|   46,474| 47,315| 46,801|      -0.6
West Virginia ........|  7,650| 13,710| 22,842|   35,009| 38,508| 38,461| 38,360| 38,820| 33,853| 34,484|   39,641| 40,535| 39,618|      11.2
Wisconsin ............|  8,963| 16,006| 31,921|   41,153| 42,871| 42,882| 43,466| 45,483| 39,522| 48,191|   46,598| 45,127| 44,172|      -9.8
Wyoming ..............|  8,232| 16,012| 28,141|   34,127| 37,876| 39,532| 40,392| 41,774| 39,537| 42,484|   38,643| 39,869| 40,722|      -4.9
______________________|_______|_______|_______|_________|_______|_______|_______|_______|_______|_______|_________|_______|_______|__________</pre>

In [4]:
# Our data of interest is the text that is formatted like a table
# Select that data and return as text
doi= data.select('table td pre')[0].text
print(doi)

_____________________________________________________________________________________________________________________________________________
                      |                                                         |                                                 |   Percent
                      |                                                         |                                                 |   change,
                      |                          Current dollars                |             Constant 2004-05 dollars\1\         |1989-90 to
                      |_________________________________________________________|_________________________________________________|2004-05 in
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |  constant
State                 |1969-70|1979-80|1989-90|1999-2000|2002-03|2003-04|2004-05|1969-70|1979-80|1989-90|1999-2000|2002-03|2003-04|   dollars
______________________|_______|_______|_______|_________|_______|_______|_______|_______|_______|_______|_________|_______|_______|__________
1                     |      2|      3|      4|        5|      6|      7|      8|      9|     10|     11|       12|     13|     14|        15
______________________|_______|_______|_______|_________|_______|_______|_______|_______|_______|_______|_________|_______|_______|__________
   United States .....| $8,626|$15,970|$31,367|  $41,807|$45,776|$46,752|$47,750|$43,773|$39,433|$47,354|  $47,339|$48,185|$48,159|       0.8
                      |_______|_______|_______|_________|_______|_______|_______|_______|_______|_______|_________|_______|_______|__________
Alabama ..............|  6,818| 13,060| 24,828|   36,689| 38,246| 38,325| 38,863| 34,598| 32,248| 37,482|   41,544| 40,259| 39,478|       3.7
Alaska ...............| 10,560| 27,210| 43,153|   46,462| 49,685| 51,736| 52,424| 53,587| 67,187| 65,147|   52,610| 52,300| 53,293|     -19.5
Arizona ..............|  8,711| 15,054| 29,402|   36,902| 40,894| 41,843| 42,905| 44,205| 37,171| 44,388|   41,785| 43,046| 43,102|      -3.3
Arkansas .............|  6,307| 12,299| 22,352|   33,386| 37,753| 39,314| 40,495| 32,005| 30,369| 33,744|   37,803| 39,740| 40,497|      20.0
California ...........| 10,315| 18,020| 37,998|   47,680| 56,283| 56,444| 57,876| 52,344| 44,495| 57,365|   53,989| 59,245| 58,143|       0.9
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
Colorado .............|  7,761| 16,205| 30,758|   38,163| 41,275| 43,319| 44,161| 39,384| 40,014| 46,435|   43,213| 43,447| 44,623|      -4.9
Connecticut ..........|  9,262| 16,229| 40,461|   51,780| 54,362| 57,337| 58,688| 47,001| 40,073| 61,083|   58,631| 57,223| 59,062|      -3.9
Delaware .............|  9,015| 16,148| 33,377|   44,435| 50,772| 49,366| 50,869| 45,747| 39,873| 50,389|   50,314| 53,444| 50,852|       1.0
District of Columbia .| 10,285| 22,190| 38,402|   47,076| 50,763| 57,009| 58,456| 52,192| 54,792| 57,975|   53,305| 53,435| 58,725|       0.8
Florida ..............|  8,412| 14,149| 28,803|   36,722| 39,465| 40,604| 41,081| 42,687| 34,937| 43,483|   41,581| 41,542| 41,826|      -5.5
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
Georgia ..............|  7,276| 13,853| 28,006|   41,023| 45,533| 45,988| 46,526| 36,923| 34,206| 42,280|   46,451| 47,929| 47,372|      10.0
Hawaii ...............|  9,453| 19,920| 32,047|   40,578| 44,464| 45,479| 44,273| 47,970| 49,187| 48,381|   45,947| 46,804| 46,848|      -8.5
Idaho ................|  6,890| 13,611| 23,861|   35,547| 40,148| 41,080| 42,122| 34,964| 33,608| 36,023|   40,250| 42,261| 42,316|      16.9
Illinois .............|  9,569| 17,601| 32,794|   46,486| 51,289| 54,230| 55,629| 48,559| 43,461| 49,509|   52,637| 53,988| 55,862|      12.4
Indiana ..............|  8,833| 15,599| 30,902|   41,850| 45,097| 45,791| 46,851| 44,824| 38,517| 46,652|   47,387| 47,470| 47,169|       0.4
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
Iowa .................|  8,355| 15,203| 26,747|   35,678| 38,921| 39,432| 40,347| 42,398| 37,539| 40,379|   40,399| 40,969| 40,619|      -0.1
Kansas ...............|  7,612| 13,690| 28,744|   34,981| 38,123| 38,623| 39,190| 38,628| 33,803| 43,394|   39,610| 40,129| 39,785|      -9.7
Kentucky .............|  6,953| 14,520| 26,292|   36,380| 38,981| 40,240| 41,002| 35,284| 35,853| 39,693|   41,194| 41,032| 41,451|       3.3
Louisiana ............|  7,028| 13,760| 24,300|   33,109| 36,878| 37,918| 38,880| 35,664| 33,976| 36,685|   37,490| 38,819| 39,059|       6.0
Maine ................|  7,572| 13,071| 26,881|   35,561| 38,121| 39,864| 40,940| 38,425| 32,275| 40,582|   40,266| 40,127| 41,064|       0.9
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
Maryland .............|  9,383| 17,558| 36,319|   44,048| 49,677| 50,261| 52,331| 47,615| 43,354| 54,830|   49,876| 52,291| 51,773|      -4.6
Massachusetts ........|  8,764| 17,253| 34,712|   46,580| 52,043| 53,181| 54,596| 44,474| 42,601| 52,404|   52,743| 54,782| 54,781|       4.2
Michigan .............|  9,826| 19,663| 37,072|   49,044| 54,071| 54,412| 55,693| 49,863| 48,552| 55,967|   55,533| 56,917| 56,049|      -0.5
Minnesota ............|  8,658| 15,912| 32,190|   39,802| 42,833| 45,375| 46,906| 43,936| 39,290| 48,597|   45,068| 45,087| 46,740|      -3.5
Mississippi ..........|  5,798| 11,850| 24,292|   31,857| 34,555| 35,684| 36,590| 29,422| 29,260| 36,673|   36,072| 36,373| 36,758|      -0.2
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
Missouri .............|  7,799| 13,682| 27,094|   35,656| 38,826| 38,006| 38,971| 39,577| 33,784| 40,903|   40,374| 40,870| 39,150|      -4.7
Montana ..............|  7,606| 14,537| 25,081|   32,121| 35,754| 37,184| 38,485| 38,597| 35,895| 37,864|   36,371| 37,636| 38,303|       1.6
Nebraska .............|  7,375| 13,516| 25,522|   33,237| 37,896| 38,352| 39,456| 37,425| 33,374| 38,530|   37,635| 39,890| 39,506|       2.4
Nevada ...............|  9,215| 16,295| 30,590|   39,390| 41,795| 42,254| 43,394| 46,762| 40,236| 46,181|   44,602| 43,995| 43,526|      -6.0
New Hampshire ........|  7,771| 13,017| 28,986|   37,734| 40,519| 42,689| 43,941| 39,435| 32,142| 43,760|   42,727| 42,652| 43,974|       0.4
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
New Jersey ...........|  9,130| 17,161| 35,676|   52,015| 54,166| 55,592| 56,600| 46,331| 42,374| 53,859|   58,897| 57,017| 57,265|       5.1
New Mexico ...........|  7,796| 14,887| 24,756|   32,554| 36,687| 38,067| 39,328| 39,561| 36,759| 37,374|   36,861| 38,618| 39,213|       5.2
New York .............| 10,336| 19,812| 38,925|   51,020| 52,600| 55,181| 56,200| 52,451| 48,920| 58,764|   57,771| 55,368| 56,842|      -4.4
North Carolina .......|  7,494| 14,117| 27,883|   39,404| 43,076| 43,211| 43,313| 38,029| 34,858| 42,094|   44,618| 45,343| 44,511|       2.9
North Dakota .........|  6,696| 13,263| 23,016|   29,863| 33,210| 35,441| 36,449| 33,979| 32,749| 34,747|   33,814| 34,958| 36,508|       4.9
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
Ohio .................|  8,300| 15,269| 31,218|   41,436| 45,452| 47,482| 48,692| 42,119| 37,702| 47,129|   46,919| 47,844| 48,911|       3.3
Oklahoma .............|  6,882| 13,107| 23,070|   31,298| 34,854| 35,061| 37,141| 34,923| 32,364| 34,828|   35,439| 36,688| 36,116|       6.6
Oregon ...............|  8,818| 16,266| 30,840|   42,336| 47,600| 49,169| 50,790| 44,748| 40,164| 46,559|   47,938| 50,105| 50,649|       9.1
Pennsylvania .........|  8,858| 16,515| 33,338|   48,321| 51,800| 51,835| 52,700| 44,951| 40,779| 50,330|   54,715| 54,526| 53,395|       4.7
Rhode Island .........|  8,776| 18,002| 36,057|   47,041| 51,076| 52,261| 53,473| 44,534| 44,451| 54,435|   53,265| 53,764| 53,834|      -1.8
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
South Carolina .......|  6,927| 13,063| 27,217|   36,081| 41,279| 41,162| 42,207| 35,152| 32,255| 41,089|   40,855| 43,451| 42,401|       2.7
South Dakota .........|  6,403| 12,348| 21,300|   29,071| 32,416| 33,236| 34,040| 32,492| 30,490| 32,156|   32,918| 34,122| 34,236|       5.9
Tennessee ............|  7,050| 13,972| 27,052|   36,328| 39,677| 40,318| 41,527| 35,776| 34,500| 40,840|   41,135| 41,765| 41,531|       1.7
Texas ................|  7,255| 14,132| 27,496|   37,567| 40,001| 40,476| 41,009| 36,816| 34,895| 41,510|   42,538| 42,106| 41,694|      -1.2
Utah .................|  7,644| 14,909| 23,686|   34,946| 38,413| 38,976| 39,965| 38,790| 36,813| 35,758|   39,570| 40,435| 40,149|      11.8
                      |       |       |       |         |       |       |       |       |       |       |         |       |       |
Vermont ..............|  7,968| 12,484| 29,012|   37,758| 41,603| 42,007| 44,535| 40,434| 30,826| 43,799|   42,754| 43,792| 43,271|       1.7
Virginia .............|  8,070| 14,060| 30,938|   38,744| 43,152| 43,655| 44,763| 40,952| 34,717| 46,707|   43,870| 45,423| 44,969|      -4.2
Washington ...........|  9,225| 18,820| 30,457|   41,043| 44,949| 45,434| 45,712| 46,813| 46,470| 45,980|   46,474| 47,315| 46,801|      -0.6
West Virginia ........|  7,650| 13,710| 22,842|   35,009| 38,508| 38,461| 38,360| 38,820| 33,853| 34,484|   39,641| 40,535| 39,618|      11.2
Wisconsin ............|  8,963| 16,006| 31,921|   41,153| 42,871| 42,882| 43,466| 45,483| 39,522| 48,191|   46,598| 45,127| 44,172|      -9.8
Wyoming ..............|  8,232| 16,012| 28,141|   34,127| 37,876| 39,532| 40,392| 41,774| 39,537| 42,484|   38,643| 39,869| 40,722|      -4.9
______________________|_______|_______|_______|_________|_______|_______|_______|_______|_______|_______|_________|_______|_______|__________

In [5]:
# read_csv was taking in object as a file name
# trouble shooting said to use io.StringIO
#  

import io

salary_df = pd.read_csv(io.StringIO(doi),sep='|', #separate columns by |-symbol
            skiprows=6,
            usecols=list(range(0,8))
            )
salary_df

,State,1969-70,1979-80,1989-90,1999-2000,2002-03,2003-04,2004-05
0,______________________,_______,_______,_______,_________,_______,_______,_______
1,1,2,3,4,5,6,7,8
2,______________________,_______,_______,_______,_________,_______,_______,_______
3,United States .....,"$8,626","$15,970","$31,367","$41,807","$45,776","$46,752","$47,750"
4,,_______,_______,_______,_________,_______,_______,_______
...,...,...,...,...,...,...,...,...
61,Washington ...........,"9,225","18,820","30,457","41,043","44,949","45,434","45,712"
62,West Virginia ........,"7,650","13,710","22,842","35,009","38,508","38,461","38,360"
63,Wisconsin ............,"8,963","16,006","31,921","41,153","42,871","42,882","43,466"
64,Wyoming ..............,"8,232","16,012","28,141","34,127","37,876","39,532","40,392"
65,______________________,_______,_______,_______,_________,_______,_______,_______

### Clean the df

In [6]:
# Rename first column
salary_df.rename(columns={salary_df.columns[0]:'State'}, inplace=True)

salary_df.columns

Index(['State', '1969-70', '1979-80', '1989-90', '1999-2000', '2002-03',
       '2003-04', '2004-05'],
      dtype='object')

In [7]:
# Remove white space from other column names

# Create an empty dicitonary
new_column_names = {}

# Loop thru column names and remove white space
for i in list(range(len(salary_df.columns))):
    new_column_names[salary_df.columns[i]] = salary_df.columns[i].strip()

salary_df.rename(columns=new_column_names, inplace=True)

salary_df.head()

,State,1969-70,1979-80,1989-90,1999-2000,2002-03,2003-04,2004-05
0,______________________,_______,_______,_______,_________,_______,_______,_______
1,1,2,3,4,5,6,7,8
2,______________________,_______,_______,_______,_________,_______,_______,_______
3,United States .....,"$8,626","$15,970","$31,367","$41,807","$45,776","$46,752","$47,750"
4,,_______,_______,_______,_________,_______,_______,_______

In [8]:
# remove '...' from state name column and then set as index
def period_remover(value):
    
    temp = value.strip()
    
    if len(temp) > 1 and temp[0].lower() in ('abcdefghijklmnopqrstuvwxyz'):
        return temp.split('.')[0].strip()
    else:
        return np.NaN

salary_df_clean = salary_df.copy()

salary_df_clean['State'] = salary_df_clean['State'].apply(period_remover)

salary_df_clean

,State,1969-70,1979-80,1989-90,1999-2000,2002-03,2003-04,2004-05
0,NaN,_______,_______,_______,_________,_______,_______,_______
1,NaN,2,3,4,5,6,7,8
2,NaN,_______,_______,_______,_________,_______,_______,_______
3,United States,"$8,626","$15,970","$31,367","$41,807","$45,776","$46,752","$47,750"
4,NaN,_______,_______,_______,_________,_______,_______,_______
...,...,...,...,...,...,...,...,...
61,Washington,"9,225","18,820","30,457","41,043","44,949","45,434","45,712"
62,West Virginia,"7,650","13,710","22,842","35,009","38,508","38,461","38,360"
63,Wisconsin,"8,963","16,006","31,921","41,153","42,871","42,882","43,466"
64,Wyoming,"8,232","16,012","28,141","34,127","37,876","39,532","40,392"
65,NaN,_______,_______,_______,_________,_______,_______,_______

In [9]:
cleaner_salary_df = salary_df_clean.dropna(axis=0)
cleaner_salary_df.head(10)

,State,1969-70,1979-80,1989-90,1999-2000,2002-03,2003-04,2004-05
3,United States,"$8,626","$15,970","$31,367","$41,807","$45,776","$46,752","$47,750"
5,Alabama,"6,818","13,060","24,828","36,689","38,246","38,325","38,863"
6,Alaska,"10,560","27,210","43,153","46,462","49,685","51,736","52,424"
7,Arizona,"8,711","15,054","29,402","36,902","40,894","41,843","42,905"
8,Arkansas,"6,307","12,299","22,352","33,386","37,753","39,314","40,495"
9,California,"10,315","18,020","37,998","47,680","56,283","56,444","57,876"
11,Colorado,"7,761","16,205","30,758","38,163","41,275","43,319","44,161"
12,Connecticut,"9,262","16,229","40,461","51,780","54,362","57,337","58,688"
13,Delaware,"9,015","16,148","33,377","44,435","50,772","49,366","50,869"
14,District of Columbia,"10,285","22,190","38,402","47,076","50,763","57,009","58,456"

In [10]:
def data_to_int(val):
    return int(''.join(re.findall(r'\d',val.split('\\')[-1])))

In [11]:
data_to_int('11,001')

11001

In [12]:
salary_df_final = cleaner_salary_df.copy()

for i in list(range(len(salary_df_final.columns)-1)):
    salary_df_final[salary_df_final.columns[i+1]] = salary_df_final[salary_df_final.columns[i+1]].apply(data_to_int)

In [13]:
salary_df_final

,State,1969-70,1979-80,1989-90,1999-2000,2002-03,2003-04,2004-05
3,United States,8626,15970,31367,41807,45776,46752,47750
5,Alabama,6818,13060,24828,36689,38246,38325,38863
6,Alaska,10560,27210,43153,46462,49685,51736,52424
7,Arizona,8711,15054,29402,36902,40894,41843,42905
8,Arkansas,6307,12299,22352,33386,37753,39314,40495
9,California,10315,18020,37998,47680,56283,56444,57876
11,Colorado,7761,16205,30758,38163,41275,43319,44161
12,Connecticut,9262,16229,40461,51780,54362,57337,58688
13,Delaware,9015,16148,33377,44435,50772,49366,50869
14,District of Columbia,10285,22190,38402,47076,50763,57009,58456
15,Florida,8412,14149,28803,36722,39465,40604,41081
17,Georgia,7276,13853,28006,41023,45533,45988,46526
18,Hawaii,9453,19920,32047,40578,44464,45479,44273
19,Idaho,6890,13611,23861,35547,40148,41080,42122
20,Illinois,9569,17601,32794,46486,51289,54230,55629
21,Indiana,8833,15599,30902,41850,45097,45791,46851
23,Iowa,8355,15203,26747,35678,38921,39432,40347
24,Kansas,7612,13690,28744,34981,38123,38623,39190
25,Kentucky,6953,14520,26292,36380,38981,40240,41002
26,Louisiana,7028,13760,24300,33109,36878,37918,38880
27,Maine,7572,13071,26881,35561,38121,39864,40940
29,Maryland,9383,17558,36319,44048,49677,50261,52331
30,Massachusetts,8764,17253,34712,46580,52043,53181,54596
31,Michigan,9826,19663,37072,49044,54071,54412,55693
32,Minnesota,8658,15912,32190,39802,42833,45375,46906
33,Mississippi,5798,11850,24292,31857,34555,35684,36590
35,Missouri,7799,13682,27094,35656,38826,38006,38971
36,Montana,7606,14537,25081,32121,35754,37184,38485
37,Nebraska,7375,13516,25522,33237,37896,38352,39456
38,Nevada,9215,16295,30590,39390,41795,42254,43394
39,New Hampshire,7771,13017,28986,37734,40519,42689,43941
41,New Jersey,9130,17161,35676,52015,54166,55592,56600
42,New Mexico,7796,14887,24756,32554,36687,38067,39328
43,New York,10336,19812,38925,51020,52600,55181,56200
44,North Carolina,7494,14117,27883,39404,43076,43211,43313
45,North Dakota,6696,13263,23016,29863,33210,35441,36449
47,Ohio,8300,15269,31218,41436,45452,47482,48692
48,Oklahoma,6882,13107,23070,31298,34854,35061,37141
49,Oregon,8818,16266,30840,42336,47600,49169,50790
50,Pennsylvania,8858,16515,33338,48321,51800,51835,52700
51,Rhode Island,8776,18002,36057,47041,51076,52261,53473
53,South Carolina,6927,13063,27217,36081,41279,41162,42207
54,South Dakota,6403,12348,21300,29071,32416,33236,34040
55,Tennessee,7050,13972,27052,36328,39677,40318,41527
56,Texas,7255,14132,27496,37567,40001,40476,41009
57,Utah,7644,14909,23686,34946,38413,38976,39965
59,Vermont,7968,12484,29012,37758,41603,42007,44535
60,Virginia,8070,14060,30938,38744,43152,43655,44763
61,Washington,9225,18820,30457,41043,44949,45434,45712
62,West Virginia,7650,13710,22842,35009,38508,38461,38360
63,Wisconsin,8963,16006,31921,41153,42871,42882,43466
64,Wyoming,8232,16012,28141,34127,37876,39532,40392

In [14]:
salary_df_final.to_csv('Data/2005_avg_teacher_salaries.csv', index=False)

In [ ]:
# 2006 and on can use pd.read_html 

# For everything before that: pd.read_csv

# 1995 has a unique url ('https://nces.ed.gov/programs/digest/d95/dtab077.asp')

# Table 77 for 1996 ('https://nces.ed.gov/programs/digest/d96/d96t077.asp')
# Table 77 for 2005 ('https://nces.ed.gov/programs/digest/d05/tables/dt05_077.asp')

# Table 78 for 1997 ('https://nces.ed.gov/programs/digest/d97/d97t078.asp')
# Table 78 for 2000-04 ('https://nces.ed.gov/programs/digest/d00/dt078.asp')

#Table 79 in 1998,99 ('https://nces.ed.gov/programs/digest/d98/d98t079.asp')

for year in range(1995,2013):
    print(year)
    try:
        url = f'https://nces.ed.gov/programs/digest/d{str(year)[2:]}/d{str(year)[2:]}t077.asp'
        r=requests.post(url)
        data = soup(r.text, 'html.parser')

        table_list = data.select('table td pre')

        print(len(table_list))   
    except:
        print(f'No data in this link: {url}')

In [352]:
#import libraries

import io
import numpy as np
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup as soup

def table_scraper(url):
    # ----------------------------------------------------------------------------------------------------------------------
    
    # Use requests.post becuase it'll pull data after the webpage has loaded
    r=requests.post(url)

    # create a "soup" object 
    data = soup(r.text, 'html.parser')

    # ----------------------------------------------------------------------------------------------------------------------

    # Our data of interest is the text that is formatted like a table
    # Select that data and return as text
    doi= data.select('table td pre')[0].text

    # ----------------------------------------------------------------------------------------------------------------------

    salary_df = pd.read_csv(io.StringIO(doi),sep='|', #separate columns by |-symbol
                skiprows=6,
                usecols=list(range(0,8))
                )

    # ----------------------------------------------------------------------------------------------------------------------

    # Rename first column
    salary_df.rename(columns={salary_df.columns[0]:'State'}, inplace=True)

    # ----------------------------------------------------------------------------------------------------------------------

    # Remove white space from other column names

    # Create an empty dicitonary
    new_column_names = {}

    # Loop thru column names and remove white space
    for i in list(range(len(salary_df.columns))):
        new_column_names[salary_df.columns[i]] = salary_df.columns[i].strip()

    salary_df.rename(columns=new_column_names, inplace=True)

    # ----------------------------------------------------------------------------------------------------------------------

    # remove '...' from state name column and then set as index
    def period_remover(value):
        
        temp = value.strip()
        
        if len(temp) > 1 and temp[0].lower() in ('abcdefghijklmnopqrstuvwxyz'):
            return temp.split('.')[0]
        else:
            return np.NaN

    salary_df_clean = salary_df.copy()

    salary_df_clean['State'] = salary_df_clean['State'].apply(period_remover)

    # ----------------------------------------------------------------------------------------------------------------------

    cleaner_salary_df = salary_df_clean.dropna(axis=0)

    # ----------------------------------------------------------------------------------------------------------------------

    def data_to_int(val):
        return int(''.join(re.findall(r'\d',val.split('\\')[-1])))

    salary_df_final = cleaner_salary_df.copy()

    for i in list(range(len(salary_df_final.columns)-1)):
        salary_df_final[salary_df_final.columns[i+1]] = salary_df_final[salary_df_final.columns[i+1]].apply(data_to_int)

    return salary_df_final